USE [test]
GO
/****** Object:  Table [dbo].[Son]    Script Date: 12/22/2020 8:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Son](
	[Father_id] [smallint] NULL,
	[Paternity] [varchar](50) NULL
) ON [PRIMARY]
GO
