USE [Medispan]
GO
/****** Object:  View [dbo].[NADAC0107]    Script Date: 12/22/2020 7:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NADAC0107]
AS
SELECT     dbo.NADACPrice.*, dbo.DrugMaster.GPI, dbo.DrugMaster.MFG, dbo.DrugMaster.DrugTypeShort, dbo.DrugMaster.Form, dbo.DrugMaster.PS, dbo.DrugMaster.Repack, 
                      dbo.DrugMaster.GPIDesc, dbo.DrugMaster.Strength, dbo.DrugMaster.OBSDTEC, dbo.DrugMaster.WACPkg, dbo.DrugMaster.WAC, dbo.DrugMaster.AWPPkg, 
                      dbo.DrugMaster.AWP, claims.dbo.v_LowestCAHPrice.CAHPrice AS CAHPerUnit, Purchases.dbo.CardinalComplete.INVOICEPRICE AS CAHCompletePrice, 
                      claims.dbo.v_APIPricing.PricePerUnit AS APIPerUnitPrice
FROM         dbo.NADACPrice LEFT OUTER JOIN
                      Purchases.dbo.CardinalComplete ON dbo.NADACPrice.NDC = Purchases.dbo.CardinalComplete.NDC LEFT OUTER JOIN
                      claims.dbo.v_APIPricing ON dbo.NADACPrice.NDC = claims.dbo.v_APIPricing.NDC LEFT OUTER JOIN
                      claims.dbo.v_LowestCAHPrice ON dbo.NADACPrice.NDC = claims.dbo.v_LowestCAHPrice.[NDC UPC] LEFT OUTER JOIN
                      dbo.DrugMaster ON dbo.NADACPrice.NDC = dbo.DrugMaster.NDC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[57] 4[28] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "NADACPrice"
            Begin Extent = 
               Top = 79
               Left = 10
               Bottom = 346
               Right = 315
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DrugMaster"
            Begin Extent = 
               Top = 294
               Left = 399
               Bottom = 631
               Right = 604
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "v_LowestCAHPrice (claims.dbo)"
            Begin Extent = 
               Top = 288
               Left = 745
               Bottom = 431
               Right = 1000
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "v_APIPricing (claims.dbo)"
            Begin Extent = 
               Top = 12
               Left = 900
               Bottom = 177
               Right = 1135
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "CardinalComplete (Purchases.dbo)"
            Begin Extent = 
               Top = 134
               Left = 1201
               Bottom = 470
               Right = 1450
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1920
         Table = 4455
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NADAC0107'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NADAC0107'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NADAC0107'
GO
