USE [Medispan]
GO
/****** Object:  Table [dbo].[M25NMOD_3]    Script Date: 12/22/2020 7:12:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M25NMOD_3](
	[NDC_UPC_HRI] [varchar](11) NULL,
	[Reserve_1] [varchar](1) NULL,
	[Modifier_Code] [varchar](6) NULL,
	[Transaction_Code] [varchar](1) NULL,
	[Last_Change_Date] [varchar](8) NULL,
	[Reserve_2] [varchar](5) NULL
) ON [PRIMARY]
GO
