USE [ClaimsDDS]
GO
/****** Object:  Table [dbo].[ODSIntakeFDS]    Script Date: 12/22/2020 6:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODSIntakeFDS](
	[RowID] [int] NOT NULL,
	[RowversionID] [varbinary](8) NOT NULL,
 CONSTRAINT [pk_RowID_RowversionID] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[RowversionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
