USE [ClaimsDDS]
GO
/****** Object:  Table [Staging].[FDS]    Script Date: 12/22/2020 6:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[FDS](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[PharmacyKey] [int] NOT NULL,
	[ClaimStatusCode] [varchar](1) NULL,
	[ClaimStatusCodeDescription] [varchar](255) NULL,
	[ServiceProviderIDQualifier] [varchar](2) NULL,
	[ServiceProviderIDQualifierDescription] [varchar](255) NULL,
	[ServiceProviderID] [varchar](100) NULL,
	[TransactionDate] [datetime] NULL,
	[PrescriptionNumber] [varchar](100) NULL,
	[RefillNumber] [int] NULL,
	[FillDate] [date] NULL,
	[DispensedProductQualifier] [varchar](25) NULL,
	[DispensedProductQualifierDescription] [varchar](100) NULL,
	[DispensedProductID] [varchar](100) NULL,
	[PayerSequence] [char](1) NULL,
	[PayerSequenceDescription] [varchar](255) NULL,
	[BIN] [varchar](100) NULL,
	[PCN] [varchar](100) NULL,
	[GroupNumber] [varchar](100) NULL,
	[InsurerCode] [varchar](100) NULL,
	[InsurerName] [varchar](255) NULL,
	[PlanCode] [varchar](100) NULL,
	[PlanName] [varchar](255) NULL,
	[PrescriberQualifier] [varchar](25) NULL,
	[PrescriberQualifierDescription] [varchar](255) NULL,
	[PrescriberSubmittedID] [varchar](25) NULL,
	[PrescriberLastName] [varchar](255) NULL,
	[PrescriberFirstName] [varchar](255) NULL,
	[PrescriberStreetAddress] [varchar](500) NULL,
	[PrescriberCity] [varchar](255) NULL,
	[PrescriberStateCode] [varchar](25) NULL,
	[PrescriberZipCode] [varchar](25) NULL,
	[PrescriberPhoneNumber] [varchar](25) NULL,
	[OriginallyPrescribedProduct] [varchar](25) NULL,
	[PrescribedRefills] [int] NULL,
	[RXExpirationDate] [date] NULL,
	[DAW] [varchar](25) NULL,
	[DAWDescription] [varchar](500) NULL,
	[DateWritten] [date] NULL,
	[OriginCode] [varchar](2) NULL,
	[OriginCodeDescription] [varchar](100) NULL,
	[CompoundCode] [varchar](2) NULL,
	[CompoundCodeDescripiton] [varchar](100) NULL,
	[TotalQuantity] [decimal](15, 3) NULL,
	[ContractCost] [money] NULL,
	[AWP] [money] NULL,
	[UandC] [money] NULL,
	[CopayAmountSubmitted] [money] NULL,
	[IngredientCostSubmitted] [money] NULL,
	[DispensingFeeSubmitted] [money] NULL,
	[IncentiveFeeSubmitted] [money] NULL,
	[SalesTaxSubmitted] [money] NULL,
	[CopayAmountPaid] [money] NULL,
	[IngredientCostPaid] [money] NULL,
	[DispensingFeePaid] [money] NULL,
	[SalesTaxPaid] [money] NULL,
	[IncentiveFeePaid] [money] NULL,
	[ClaimAmountPaid] [money] NULL,
	[BasisCostCode] [varchar](5) NULL,
	[BasisCostCodeDescription] [varchar](255) NULL,
	[QuantityDispensed] [decimal](10, 3) NULL,
	[DaysSupply] [int] NULL,
	[PharmacistInitials] [varchar](25) NULL,
	[RejectMessageCount] [int] NULL,
	[RejectMessages] [varchar](1000) NULL,
	[AuthNumber] [varchar](100) NULL,
	[BasisOfReimbursementDetermination] [varchar](10) NULL,
	[BasisOfReimbursementDeterminationDescription] [varchar](255) NULL,
	[PlaceOfService] [varchar](10) NULL,
	[PlaceOfServiceDescription] [varchar](255) NULL,
	[ProviderIDQualifier] [varchar](10) NULL,
	[ProviderIDQualifierDescription] [varchar](255) NULL,
	[ProviderID] [varchar](100) NULL,
	[AdjustedContractCost] [money] NULL,
	[Is340BClaim] [bit] NULL,
	[PrescriptionStatus] [varchar](10) NULL,
	[PrescriptionStatusDescription] [varchar](255) NULL,
	[ProductSource] [varchar](255) NULL,
	[FileProcessed] [varchar](1000) NULL,
	[RowversionID] [varbinary](8) NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[PMID] [int] NULL,
	[CorrectedPMID] [int] NULL,
	[OtherAmountPaid] [money] NOT NULL,
	[eVoucherAmountPaid] [money] NOT NULL,
 CONSTRAINT [CPK_Staging_FDS] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [psClaimsFactFDS]([DateKey])
) ON [psClaimsFactFDS]([DateKey])
GO
ALTER TABLE [Staging].[FDS] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [Staging].[FDS] ADD  DEFAULT ((0.00)) FOR [OtherAmountPaid]
GO
ALTER TABLE [Staging].[FDS] ADD  DEFAULT ((0.00)) FOR [eVoucherAmountPaid]
GO
