USE [DBA]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 12/22/2020 6:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[C1] [int] NULL
) ON [PRIMARY]
GO
