USE [NCPDPODS]
GO
/****** Object:  Table [dbo].[RuralZip]    Script Date: 12/22/2020 7:25:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuralZip](
	[STATE] [varchar](2) NULL,
	[ZIP] [varchar](6) NULL
) ON [PRIMARY]
GO
