USE [NCPDPODS]
GO
/****** Object:  Table [dbo].[Keyword]    Script Date: 12/22/2020 7:25:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyword](
	[Keyword] [varchar](255) NULL
) ON [PRIMARY]
GO
