USE [SalesODS]
GO
/****** Object:  Table [dbo].[APISalesDetail_PK_DB1]    Script Date: 12/22/2020 7:58:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APISalesDetail_PK_DB1](
	[ID] [int] NULL
) ON [PRIMARY]
GO
