USE [SalesODS]
GO
/****** Object:  Table [dbo].[CHPH_20200110]    Script Date: 12/22/2020 7:58:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHPH_20200110](
	[ID] [int] NOT NULL,
	[CUSTOMER_NO] [varchar](31) NULL,
	[PMID] [int] NULL,
	[DateKey] [int] NOT NULL,
	[CUSTOMER_NAME] [varchar](63) NULL,
 CONSTRAINT [CPK_20200110] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [psSalesODS]([DateKey])
) ON [psSalesODS]([DateKey])
GO
