USE [DrugMaster]
GO
/****** Object:  Table [dbo].[PackageDescription]    Script Date: 12/22/2020 6:57:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageDescription](
	[PackageCode] [varchar](50) NULL,
	[PackageDescription] [varchar](50) NULL
) ON [PRIMARY]
GO
