USE [Reports]
GO
/****** Object:  StoredProcedure [dbo].[usp_BenLarson_Excel_Export]    Script Date: 12/22/2020 7:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BenLarson_Excel_Export]

AS

SET NOCOUNT ON;

BEGIN

	SELECT PMID, WHAccountID, InvNbr, InvDate, APIItemNbr, NDC, PackSize, ItemDescription, Qty, UnitAmount, ExtSales, Type, ItemGrp
	FROM Staging.BenLarson


END
GO
