USE [Reports]
GO
/****** Object:  Table [dbo].[WeaveringCustomer3Sales]    Script Date: 12/22/2020 7:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeaveringCustomer3Sales](
	[APIAccountNum] [varchar](32) NULL,
	[Yr] [int] NULL,
	[FlagCount] [int] NULL
) ON [PRIMARY]
GO
