USE [Reports]
GO
/****** Object:  View [dbo].[vw_Products]    Script Date: 12/22/2020 7:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Products] AS 
SELECT 
dm.NDC
,dm.Description
,dm.GPI
,DM.PackageSize
,d3.Groups
FROM DrugMaster.dbo.DrugDim AS DM
JOIN 
(
SELECT 
*
FROM
(
SELECT
d1.NDC
,CASE
WHEN d1.NDC IN (
 '61314064305'
,'45802006535'
,'45802006435'
,'62559043130'
,'16729020312'
,'00574416035'
,'65862047030'
,'60505025203'
,'65862078130'
,'31722073730'
,'00555088702'
,'16729013501'
,'16729011910'
,'00168009930'
,'59762314001'
,'29300012613'
,'68180084013'
,'13668008030'
,'31722073830'
,'16729021810'
,'16729002110'
,'51224010750'
,'65862039010'
,'64380080306'
,'65862014201'
) THEN 'Group 1'
WHEN d1.NDC IN (
'62559053101'
,'16729018201'
,'68382073201'
,'13668022130'
,'16729002210'
,'67405065155'
,'16729002010'
,'67405065055'
,'16729021101'
,'43547036703'
,'62332001131'
,'27241004011'
,'68682071301'
,'50383002505'
,'13668022030'
,'16729000301'
,'60505058604'
,'45802056202'
,'60505057501'
,'67405055055'
,'00781577631'
,'16729041401'
,'13668009190'
,'16729000201'
,'16729002115'
) THEN 'Group 2'
ELSE 'Other'
END AS Groups
FROM
(
-- Results Union : 44138 (2018) --
-- Results : 43129 (2018) --
SELECT DISTINCT
t1.NDC
FROM Purchases.dbo.CHPH_AAP AS t1
WHERE t1.INV_DATE >= '20180101'
AND t1.EXT_COST > 0
UNION
-- Results : 3687 (2018)--
SELECT DISTINCT
T2.NDC
FROM API.dbo.APISalesDetail AS t2
WHERE t2.InvDate >= '20180101'
AND t2.ExtSales > 0
) AS d1
) AS d2 
WHERE d2.Groups <> 'Other'
) AS d3 ON d3.NDC = DM.NDC

GO
