USE [IOSDDS]
GO
/****** Object:  StoredProcedure [dbo].[usp_PharmacyDim_Load]    Script Date: 12/22/2020 7:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[usp_PharmacyDim_Load]

AS

SET NOCOUNT ON;

BEGIN
BEGIN TRY

	BEGIN TRAN

	--Drop FK
	IF (OBJECT_ID('FK_SalesFact_API_PharmacyKey', 'F') IS NOT NULL)
	BEGIN

		ALTER TABLE [dbo].[SalesFact_API] DROP CONSTRAINT [FK_SalesFact_API_PharmacyKey]

	END

	TRUNCATE TABLE [Archive].[PharmacyDim]

	--Switch current data to Archive table
	ALTER TABLE [dbo].[PharmacyDim]
	SWITCH TO [Archive].[PharmacyDim]
	
	--Swtich in new data
	ALTER TABLE [Staging].[PharmacyDim]
	SWITCH TO [dbo].[PharmacyDim]	
	
	----Recreate FK
	--IF (OBJECT_ID('FK_SalesFact_API_PharmacyKey', 'F') IS NULL)
	--BEGIN
	--	ALTER TABLE [dbo].[SalesFact_API]  WITH NOCHECK ADD  CONSTRAINT [FK_SalesFact_API_PharmacyKey] FOREIGN KEY([PharmacyKey])
	--	REFERENCES [dbo].[PharmacyDim] ([PharmacyKey])
	--END

	--Update stats
	UPDATE STATISTICS dbo.PharmacyDim;

	COMMIT TRAN

END TRY
BEGIN CATCH

	ROLLBACK TRAN

	DECLARE @ErrorMessage NVARCHAR(4000)
        , @ErrorNumber INT
        , @ErrorSeverity INT
        , @ErrorState INT
        , @ErrorLine INT
        , @ErrorProcedure NVARCHAR(200)

		SELECT 
        @ErrorNumber = ERROR_NUMBER()
        , @ErrorSeverity = ERROR_SEVERITY()
        , @ErrorState = ERROR_STATE()
        , @ErrorLine = ERROR_LINE()
        , @ErrorProcedure = ISNULL(ERROR_PROCEDURE(), '-')
		, @ErrorMessage = ERROR_MESSAGE();

		RAISERROR 
        (@ErrorMessage 
        , @ErrorSeverity, 1               
        , @ErrorNumber    -- parameter: original error number.
        , @ErrorSeverity  -- parameter: original error severity.
        , @ErrorState     -- parameter: original error state.
        , @ErrorProcedure -- parameter: original error procedure name.
        , @ErrorLine       -- parameter: original error line number.
        );

END CATCH

END



GO
