USE [SSRS]
GO
/****** Object:  Table [dbo].[GPI_NUMBERS]    Script Date: 12/22/2020 8:05:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPI_NUMBERS](
	[ROWID] [int] IDENTITY(1,1) NOT NULL,
	[GPI] [int] NULL
) ON [PRIMARY]
GO
