USE [ReportsTest]
GO
/****** Object:  Table [dbo].[SisenseParmeters]    Script Date: 12/22/2020 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SisenseParmeters](
	[p1] [int] NULL,
	[p2] [int] NULL,
	[p3] [int] NULL,
	[p4] [int] NULL,
	[p5] [int] NULL
) ON [PRIMARY]
GO
