USE [ReportsTest]
GO
/****** Object:  Table [dbo].[CompanyGoals3]    Script Date: 12/22/2020 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyGoals3](
	[Month] [int] NULL,
	[Year] [int] NULL,
	[QMem] [int] NULL
) ON [PRIMARY]
GO
