USE [ReportsTest]
GO
/****** Object:  Table [dbo].[Order_Lines_Mismatch$]    Script Date: 12/22/2020 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Lines_Mismatch$](
	[CUSTOMER] [nvarchar](255) NULL,
	[TYPE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
