USE [DynamicsODS]
GO
/****** Object:  StoredProcedure [dbo].[usp_CRM_AccountEntity_User_Load]    Script Date: 12/22/2020 6:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_CRM_AccountEntity_User_Load]

AS

SET NOCOUNT ON;

BEGIN

	MERGE [dbo].[CRM_AccountEntity_User] AS T
	USING (SELECT [accountid], [new_aap_account], [new_aap_effective_date], [new_aap_resignation_reason], [new_aap_resignation_reasonname], [new_aapmembershiptype], [new_aapmembershiptypename]
				, [new_aapparent], [new_aapparenttext], [new_aapquit]
				--, [new_aapstatus], [new_aapstatusname]
				, [new_aaptermnotice], [new_account_subtype], [new_account_subtypename], [new_affiliate], [new_affiliateactive]
				, [new_affiliateend], [new_affiliategroup], [new_affiliategroupname], [new_affiliatename], [new_aplicor], [new_applicationfeedate], [new_applicationreceived], [new_at_risk], [new_at_riskname]
				, [new_authorized_voter], [new_authorizedsignature], [new_automation], [new_automationname], [new_averagevolume], [new_businessclass], [new_businessclassname], [new_category], [new_categoryname]
				, [new_combinedvolume], [new_computer_software], [new_computer_softwarename], [new_conference2015], [new_conference2015name], [new_conference2016], [new_conference2016name], [new_conference2017]
				, [new_conference2017name], [new_conference2018], [new_conference2018name], [new_copyphysicaltofinancial], [new_copyphysicaltofinancialname], [new_copyphysicaltomailing], [new_copyphysicaltomailingname]
				, [new_copytomarketingemail], [new_copytomarketingemailname], [new_corporatename], [new_county], [new_dea], [new_deaexpiration], [new_diversionce], [new_docusignsender], [new_docusignsenderemail]
				, [new_docusignsenderemailname], [new_docusignsendername], [new_dunbradstreetno], [new_edi_activation_date], [new_edi_app_received_date], [new_edi_approved_date], [new_fed_tax], [new_fee_paid]
				, [new_fee_paidname], [new_gcr], [new_generalemail2], [new_group], [new_groupalliance], [new_groupalliancename], [new_hours_saturday_close], [new_hours_saturday_open], [new_hours_sunday_close]
				, [new_hours_sunday_open], [new_hours_weekdays_close], [new_hours_weekdays_open], [new_iatvtitle], [new_incorporationstate], [new_industrysupportfund], [new_industrysupportfundname], [new_lastsalescall]
				, [new_managedcarenetwork], [new_managedcarenetworkname], [new_marketingemail], [new_mc_affiliation], [new_mc_affiliationname], [new_mc_effective_date], [new_mc_network], [new_mc_networkname]
				, [new_mc_termination_date], [new_memb_received_date], [new_ncpaid], [new_ncpdp], [new_npi], [new_orderingcontact], [new_orderingcontactlookup], [new_orderingcontactlookupname]
				, [new_orderingcontactlookupyominame], [new_org_type], [new_org_typename], [new_ownertype], [new_ownertypename], [new_parentaccounttext], [new_pharmacist], [new_pharmacistlicense]
				, [new_pharmacistlicenseexpiration], [new_pharmacyowner], [new_pharmacyowneremail], [new_pharmacyownerfax], [new_pharmacyownerlookup], [new_pharmacyownerlookupname], [new_pharmacyownerlookupyominame]
				, [new_pharmacyownerphone], [new_pharmacyownertitle], [new_pharmacysystem], [new_pharmacysystemname], [new_planogram], [new_planogramname], [new_planogramquit], [new_planogramstart], [new_pmid]
				, [new_previousaapmember], [new_previousaapmembername], [new_previousaapmemberyominame], [new_previousgroupalliance], [new_previousgroupalliancename], [new_previousprimarywholesaler]
				, [new_previousprimarywholesalername], [new_previouswholesaler], [new_previouswholesaleraccountno], [new_previouswholesalername], [new_primarycontact], [new_primarywholesaleraccountno]
				, [new_primarywholesalernew], [new_primarywholesalernewname], [new_sendapplicationemail], [new_sendapplicationname], [new_softwareliabilitywaiver], [new_startup], [new_startupname], [new_state_lic]
				, [new_state_lic_exp_date], [new_state_tax], [new_stbrandsmartplus], [new_stcloud], [new_stcloudname], [new_stcloudworkstations], [new_territories], [new_territoriesname], [new_territory]
				, [new_territorymanager], [new_territorymanageremail], [new_territorymanageremailname], [new_territorymanagername], [new_territoryname], [new_wholesaler], [new_wholesalername], [new_businessestablished]
				, [new_controlledsubstancesprofile], [new_controlledsubstancesprofilename], [new_creditreportauth], [new_creditreportauthname], [new_deahinissue], [new_historicalrecord], [new_lastvisit]
				, [new_lastvisitdate], [new_lastvisitrollup], [new_lastvisitrollup_date], [new_lastvisitrollup_state], [new_marketinglevel], [new_marketinglevelname], [new_ownershipchange], [new_ownershipchangename]
				, [new_personalguaranty], [new_personalguarantyname], [new_powerofattorney], [new_powerofattorneyname], [new_rebatepaymentmethod], [new_rebatepaymentmethodname], [new_sendapplicationtitle]
				, [new_triggerapionboarding], [new_triggerapionboardingname], [new_vai], [new_zone], [new_zonename], [new_conference2019], [new_conference2019name], [new_deapharmacyname], [new_heyrman], [new_heyrmanname]
				, [new_pharmacyownermobilephone], [new_referralincentivedate], [new_referralincentivepaid], [new_referralincentivestatus], [new_referralincentivestatusname], [new_referralstatus], [new_referralstatusname]
				, [new_referralsubmissiondate], [new_referringpharmacy], [new_referringpharmacyemail], [new_referringpharmacyname], [new_referringpharmacyyominame], [new_secondaryphone], [new_specialty], [new_specialtyname]
				, [new_description], [new_historicalrecordname], [DateKey], [new_cahcsosaccount], [new_websitelogin], [new_websitepassword], [new_categorynewname], [new_categorynew]
				, new_membershipowner, [new_previousmemberpmid]
		   FROM [ODSIntake].[Staging].[CRM_AccountEntity_User]
		   ) AS S
		         ([accountid], [new_aap_account], [new_aap_effective_date], [new_aap_resignation_reason], [new_aap_resignation_reasonname], [new_aapmembershiptype], [new_aapmembershiptypename]
				, [new_aapparent], [new_aapparenttext], [new_aapquit]
				--, [new_aapstatus], [new_aapstatusname]
				, [new_aaptermnotice], [new_account_subtype], [new_account_subtypename], [new_affiliate], [new_affiliateactive]
				, [new_affiliateend], [new_affiliategroup], [new_affiliategroupname], [new_affiliatename], [new_aplicor], [new_applicationfeedate], [new_applicationreceived], [new_at_risk], [new_at_riskname]
				, [new_authorized_voter], [new_authorizedsignature], [new_automation], [new_automationname], [new_averagevolume], [new_businessclass], [new_businessclassname], [new_category], [new_categoryname]
				, [new_combinedvolume], [new_computer_software], [new_computer_softwarename], [new_conference2015], [new_conference2015name], [new_conference2016], [new_conference2016name], [new_conference2017]
				, [new_conference2017name], [new_conference2018], [new_conference2018name], [new_copyphysicaltofinancial], [new_copyphysicaltofinancialname], [new_copyphysicaltomailing], [new_copyphysicaltomailingname]
				, [new_copytomarketingemail], [new_copytomarketingemailname], [new_corporatename], [new_county], [new_dea], [new_deaexpiration], [new_diversionce], [new_docusignsender], [new_docusignsenderemail]
				, [new_docusignsenderemailname], [new_docusignsendername], [new_dunbradstreetno], [new_edi_activation_date], [new_edi_app_received_date], [new_edi_approved_date], [new_fed_tax], [new_fee_paid]
				, [new_fee_paidname], [new_gcr], [new_generalemail2], [new_group], [new_groupalliance], [new_groupalliancename], [new_hours_saturday_close], [new_hours_saturday_open], [new_hours_sunday_close]
				, [new_hours_sunday_open], [new_hours_weekdays_close], [new_hours_weekdays_open], [new_iatvtitle], [new_incorporationstate], [new_industrysupportfund], [new_industrysupportfundname], [new_lastsalescall]
				, [new_managedcarenetwork], [new_managedcarenetworkname], [new_marketingemail], [new_mc_affiliation], [new_mc_affiliationname], [new_mc_effective_date], [new_mc_network], [new_mc_networkname]
				, [new_mc_termination_date], [new_memb_received_date], [new_ncpaid], [new_ncpdp], [new_npi], [new_orderingcontact], [new_orderingcontactlookup], [new_orderingcontactlookupname]
				, [new_orderingcontactlookupyominame], [new_org_type], [new_org_typename], [new_ownertype], [new_ownertypename], [new_parentaccounttext], [new_pharmacist], [new_pharmacistlicense]
				, [new_pharmacistlicenseexpiration], [new_pharmacyowner], [new_pharmacyowneremail], [new_pharmacyownerfax], [new_pharmacyownerlookup], [new_pharmacyownerlookupname], [new_pharmacyownerlookupyominame]
				, [new_pharmacyownerphone], [new_pharmacyownertitle], [new_pharmacysystem], [new_pharmacysystemname], [new_planogram], [new_planogramname], [new_planogramquit], [new_planogramstart], [new_pmid]
				, [new_previousaapmember], [new_previousaapmembername], [new_previousaapmemberyominame], [new_previousgroupalliance], [new_previousgroupalliancename], [new_previousprimarywholesaler]
				, [new_previousprimarywholesalername], [new_previouswholesaler], [new_previouswholesaleraccountno], [new_previouswholesalername], [new_primarycontact], [new_primarywholesaleraccountno]
				, [new_primarywholesalernew], [new_primarywholesalernewname], [new_sendapplicationemail], [new_sendapplicationname], [new_softwareliabilitywaiver], [new_startup], [new_startupname], [new_state_lic]
				, [new_state_lic_exp_date], [new_state_tax], [new_stbrandsmartplus], [new_stcloud], [new_stcloudname], [new_stcloudworkstations], [new_territories], [new_territoriesname], [new_territory]
				, [new_territorymanager], [new_territorymanageremail], [new_territorymanageremailname], [new_territorymanagername], [new_territoryname], [new_wholesaler], [new_wholesalername], [new_businessestablished]
				, [new_controlledsubstancesprofile], [new_controlledsubstancesprofilename], [new_creditreportauth], [new_creditreportauthname], [new_deahinissue], [new_historicalrecord], [new_lastvisit]
				, [new_lastvisitdate], [new_lastvisitrollup], [new_lastvisitrollup_date], [new_lastvisitrollup_state], [new_marketinglevel], [new_marketinglevelname], [new_ownershipchange], [new_ownershipchangename]
				, [new_personalguaranty], [new_personalguarantyname], [new_powerofattorney], [new_powerofattorneyname], [new_rebatepaymentmethod], [new_rebatepaymentmethodname], [new_sendapplicationtitle]
				, [new_triggerapionboarding], [new_triggerapionboardingname], [new_vai], [new_zone], [new_zonename], [new_conference2019], [new_conference2019name], [new_deapharmacyname], [new_heyrman], [new_heyrmanname]
				, [new_pharmacyownermobilephone], [new_referralincentivedate], [new_referralincentivepaid], [new_referralincentivestatus], [new_referralincentivestatusname], [new_referralstatus], [new_referralstatusname]
				, [new_referralsubmissiondate], [new_referringpharmacy], [new_referringpharmacyemail], [new_referringpharmacyname], [new_referringpharmacyyominame], [new_secondaryphone], [new_specialty], [new_specialtyname]
				, [new_description], [new_historicalrecordname], [DateKey], [new_cahcsosaccount], [new_websitelogin], [new_websitepassword], [new_categorynewname], [new_categorynew]
				, new_membershipowner, [new_previousmemberpmid]
		        )
				ON T.accountid = S.accountid

WHEN MATCHED THEN

UPDATE SET 	  [new_aap_account] = s.[new_aap_account]
			, [new_aap_effective_date] = S.[new_aap_effective_date]
			, [new_aap_resignation_reason] = S.[new_aap_resignation_reason]
			, [new_aap_resignation_reasonname] = S.[new_aap_resignation_reasonname]
			, [new_aapmembershiptype] = S.[new_aapmembershiptype]
			, [new_aapmembershiptypename] = S.[new_aapmembershiptypename]
			, [new_aapparent] = S.[new_aapparent]
			, [new_aapparenttext] = S.[new_aapparenttext]
			, [new_aapquit] = S.[new_aapquit]
			--, [new_aapstatus] = S.[new_aapstatus]
			--, [new_aapstatusname] = S.[new_aapstatusname]
			, [new_aaptermnotice] = S.[new_aaptermnotice]
			, [new_account_subtype] = S.[new_account_subtype]
			, [new_account_subtypename] = S.[new_account_subtypename]
			, [new_affiliate] = S.[new_affiliate]
			, [new_affiliateactive] = S.[new_affiliateactive]
			, [new_affiliateend] = S.[new_affiliateend]
			, [new_affiliategroup] = S.[new_affiliategroup]
			, [new_affiliategroupname] = S.[new_affiliategroupname]
			, [new_affiliatename] = S.[new_affiliatename]
			, [new_aplicor] = S.[new_aplicor]
			, [new_applicationfeedate] = S.[new_applicationfeedate]
			, [new_applicationreceived] = S.[new_applicationreceived]
			, [new_at_risk] = S.[new_at_risk]
			, [new_at_riskname] = S.[new_at_riskname]
			, [new_authorized_voter] = S.[new_authorized_voter]
			, [new_authorizedsignature] = S.[new_authorizedsignature]
			, [new_automation] = S.[new_automation]
			, [new_automationname] = S.[new_automationname]
			, [new_averagevolume] = S.[new_averagevolume]
			, [new_businessclass] = S.[new_businessclass]
			, [new_businessclassname] = S.[new_businessclassname]
			, [new_category] = S.[new_category]
			, [new_categoryname] = S.[new_categoryname]
			, [new_combinedvolume] = S.[new_combinedvolume]
			, [new_computer_software] = S.[new_computer_software]
			, [new_computer_softwarename] = S.[new_computer_softwarename]
			, [new_conference2015] = S.[new_conference2015]
			, [new_conference2015name] = S.[new_conference2015name]
			, [new_conference2016] = S.[new_conference2016]
			, [new_conference2016name] = S.[new_conference2016name]
			, [new_conference2017] = S.[new_conference2017]
			, [new_conference2017name] = S.[new_conference2017name]
			, [new_conference2018] = S.[new_conference2018]
			, [new_conference2018name] = S.[new_conference2018name]
			, [new_copyphysicaltofinancial] = S.[new_copyphysicaltofinancial]
			, [new_copyphysicaltofinancialname] = S.[new_copyphysicaltofinancialname]
			, [new_copyphysicaltomailing] = S.[new_copyphysicaltomailing]
			, [new_copyphysicaltomailingname] = S.[new_copyphysicaltomailingname]
			, [new_copytomarketingemail] = S.[new_copytomarketingemail]
			, [new_copytomarketingemailname] = S.[new_copytomarketingemailname]
			, [new_corporatename] = S.[new_corporatename]
			, [new_county] = S.[new_county]
			, [new_dea] = S.[new_dea]
			, [new_deaexpiration] = S.[new_deaexpiration]
			, [new_diversionce] = S.[new_diversionce]
			, [new_docusignsender] = S.[new_docusignsender]
			, [new_docusignsenderemail] = S.[new_docusignsenderemail]
			, [new_docusignsenderemailname] = S.[new_docusignsenderemailname]
			, [new_docusignsendername] = S.[new_docusignsendername]
			, [new_dunbradstreetno] = S.[new_dunbradstreetno]
			, [new_edi_activation_date] = S.[new_edi_activation_date]
			, [new_edi_app_received_date] = S.[new_edi_app_received_date]
			, [new_edi_approved_date] = S.[new_edi_approved_date]
			, [new_fed_tax] = S.[new_fed_tax]
			, [new_fee_paid] = S.[new_fee_paid]
			, [new_fee_paidname] = S.[new_fee_paidname]
			, [new_gcr] = S.[new_gcr]
			, [new_generalemail2] = S.[new_generalemail2]
			, [new_group] = S.[new_group]
			, [new_groupalliance] = S.[new_groupalliance]
			, [new_groupalliancename] = S.[new_groupalliancename]
			, [new_hours_saturday_close] = S.[new_hours_saturday_close]
			, [new_hours_saturday_open] = S.[new_hours_saturday_open]
			, [new_hours_sunday_close] = S.[new_hours_sunday_close]
			, [new_hours_sunday_open] = S.[new_hours_sunday_open]
			, [new_hours_weekdays_close] = S.[new_hours_weekdays_close]
			, [new_hours_weekdays_open] = S.[new_hours_weekdays_open]
			, [new_iatvtitle] = S.[new_iatvtitle]
			, [new_incorporationstate] = S.[new_incorporationstate]
			, [new_industrysupportfund] = S.[new_industrysupportfund]
			, [new_industrysupportfundname] = S.[new_industrysupportfundname]
			, [new_lastsalescall] = S.[new_lastsalescall]
			, [new_managedcarenetwork] = S.[new_managedcarenetwork]
			, [new_managedcarenetworkname] = S.[new_managedcarenetworkname]
			, [new_marketingemail] = S.[new_marketingemail]
			, [new_mc_affiliation] = S.[new_mc_affiliation]
			, [new_mc_affiliationname] = S.[new_mc_affiliationname]
			, [new_mc_effective_date] = S.[new_mc_effective_date]
			, [new_mc_network] = S.[new_mc_network]
			, [new_mc_networkname] = S.[new_mc_networkname]
			, [new_mc_termination_date] = S.[new_mc_termination_date]
			, [new_memb_received_date] = S.[new_memb_received_date]
			, [new_ncpaid] = S.[new_ncpaid]
			, [new_ncpdp] = S.[new_ncpdp]
			, [new_npi] = S.[new_npi]
			, [new_orderingcontact] = S.[new_orderingcontact]
			, [new_orderingcontactlookup] = S.[new_orderingcontactlookup]
			, [new_orderingcontactlookupname] = S.[new_orderingcontactlookupname]
			, [new_orderingcontactlookupyominame] = S.[new_orderingcontactlookupyominame]
			, [new_org_type] = S.[new_org_type]
			, [new_org_typename] = S.[new_org_typename]
			, [new_ownertype] = S.[new_ownertype]
			, [new_ownertypename] = S.[new_ownertypename]
			, [new_parentaccounttext] = S.[new_parentaccounttext]
			, [new_pharmacist] = S.[new_pharmacist]
			, [new_pharmacistlicense] = S.[new_pharmacistlicense]
			, [new_pharmacistlicenseexpiration] = S.[new_pharmacistlicenseexpiration]
			, [new_pharmacyowner] = S.[new_pharmacyowner]
			, [new_pharmacyowneremail] = S.[new_pharmacyowneremail]
			, [new_pharmacyownerfax] = S.[new_pharmacyownerfax]
			, [new_pharmacyownerlookup] = S.[new_pharmacyownerlookup]
			, [new_pharmacyownerlookupname] = S.[new_pharmacyownerlookupname]
			, [new_pharmacyownerlookupyominame] = S.[new_pharmacyownerlookupyominame]
			, [new_pharmacyownerphone] = S.[new_pharmacyownerphone]
			, [new_pharmacyownertitle] = S.[new_pharmacyownertitle]
			, [new_pharmacysystem] = S.[new_pharmacysystem]
			, [new_pharmacysystemname] = S.[new_pharmacysystemname]
			, [new_planogram] = S.[new_planogram]
			, [new_planogramname] = S.[new_planogramname]
			, [new_planogramquit] = S.[new_planogramquit]
			, [new_planogramstart] = S.[new_planogramstart]
			, [new_pmid] = S.[new_pmid]
			, [new_previousaapmember] = S.[new_previousaapmember]
			, [new_previousaapmembername] = S.[new_previousaapmembername]
			, [new_previousaapmemberyominame] = S.[new_previousaapmemberyominame]
			, [new_previousgroupalliance] = S.[new_previousgroupalliance]
			, [new_previousgroupalliancename] = S.[new_previousgroupalliancename]
			, [new_previousprimarywholesaler] = S.[new_previousprimarywholesaler]
			, [new_previousprimarywholesalername] = S.[new_previousprimarywholesalername]
			, [new_previouswholesaler] = S.[new_previouswholesaler]
			, [new_previouswholesaleraccountno] = S.[new_previouswholesaleraccountno]
			, [new_previouswholesalername] = S.[new_previouswholesalername]
			, [new_primarycontact] = S.[new_primarycontact]
			, [new_primarywholesaleraccountno] = S.[new_primarywholesaleraccountno]
			, [new_primarywholesalernew] = S.[new_primarywholesalernew]
			, [new_primarywholesalernewname] = S.[new_primarywholesalernewname]
			, [new_sendapplicationemail] = S.[new_sendapplicationemail]
			, [new_sendapplicationname] = S.[new_sendapplicationname]
			, [new_softwareliabilitywaiver] = S.[new_softwareliabilitywaiver]
			, [new_startup] = S.[new_startup]
			, [new_startupname] = S.[new_startupname]
			, [new_state_lic] = S.[new_state_lic]
			, [new_state_lic_exp_date] = S.[new_state_lic_exp_date]
			, [new_state_tax] = S.[new_state_tax]
			, [new_stbrandsmartplus] = S.[new_stbrandsmartplus]
			, [new_stcloud] = S.[new_stcloud]
			, [new_stcloudname] = S.[new_stcloudname]
			, [new_stcloudworkstations] = S.[new_stcloudworkstations]
			, [new_territories] = S.[new_territories]
			, [new_territoriesname] = S.[new_territoriesname]
			, [new_territory] = S.[new_territory]
			, [new_territorymanager] = S.[new_territorymanager]
			, [new_territorymanageremail] = S.[new_territorymanageremail]
			, [new_territorymanageremailname] = S.[new_territorymanageremailname]
			, [new_territorymanagername] = S.[new_territorymanagername]
			, [new_territoryname] = S.[new_territoryname]
			, [new_wholesaler] = S.[new_wholesaler]
			, [new_wholesalername] = S.[new_wholesalername]
			, [new_businessestablished] = S.[new_businessestablished]
			, [new_controlledsubstancesprofile] = S.[new_controlledsubstancesprofile]
			, [new_controlledsubstancesprofilename] = S.[new_controlledsubstancesprofilename]
			, [new_creditreportauth] = S.[new_creditreportauth]
			, [new_creditreportauthname] = S.[new_creditreportauthname]
			, [new_deahinissue] = S.[new_deahinissue]
			, [new_historicalrecord] = S.[new_historicalrecord]
			, [new_lastvisit] = S.[new_lastvisit]
			, [new_lastvisitdate] = S.[new_lastvisitdate]
			, [new_lastvisitrollup] = S.[new_lastvisitrollup]
			, [new_lastvisitrollup_date] = S.[new_lastvisitrollup_date]
			, [new_lastvisitrollup_state] = S.[new_lastvisitrollup_state]
			, [new_marketinglevel] = S.[new_marketinglevel]
			, [new_marketinglevelname] = S.[new_marketinglevelname]
			, [new_ownershipchange] = S.[new_ownershipchange]
			, [new_ownershipchangename] = S.[new_ownershipchangename]
			, [new_personalguaranty] = S.[new_personalguaranty]
			, [new_personalguarantyname] = S.[new_personalguarantyname]
			, [new_powerofattorney] = S.[new_powerofattorney]
			, [new_powerofattorneyname] = S.[new_powerofattorneyname]
			, [new_rebatepaymentmethod] = S.[new_rebatepaymentmethod]
			, [new_rebatepaymentmethodname] = S.[new_rebatepaymentmethodname]
			, [new_sendapplicationtitle] = S.[new_sendapplicationtitle]
			, [new_triggerapionboarding] = S.[new_triggerapionboarding]
			, [new_triggerapionboardingname] = S.[new_triggerapionboardingname]
			, [new_vai] = S.[new_vai]
			, [new_zone] = S.[new_zone]
			, [new_zonename] = S.[new_zonename]
			, [new_conference2019] = S.[new_conference2019]
			, [new_conference2019name] = S.[new_conference2019name]
			, [new_deapharmacyname] = S.[new_deapharmacyname]
			, [new_heyrman] = S.[new_heyrman]
			, [new_heyrmanname] = S.[new_heyrmanname]
			, [new_pharmacyownermobilephone] = S.[new_pharmacyownermobilephone]
			, [new_referralincentivedate] = S.[new_referralincentivedate]
			, [new_referralincentivepaid] = S.[new_referralincentivepaid]
			, [new_referralincentivestatus] = S.[new_referralincentivestatus]
			, [new_referralincentivestatusname] = S.[new_referralincentivestatusname]
			, [new_referralstatus] = S.[new_referralstatus]
			, [new_referralstatusname] = S.[new_referralstatusname]
			, [new_referralsubmissiondate] = S.[new_referralsubmissiondate]
			, [new_referringpharmacy] = S.[new_referringpharmacy]
			, [new_referringpharmacyemail] = S.[new_referringpharmacyemail]
			, [new_referringpharmacyname] = S.[new_referringpharmacyname]
			, [new_referringpharmacyyominame] = S.[new_referringpharmacyyominame]
			, [new_secondaryphone] = S.[new_secondaryphone]
			, [new_specialty] = S.[new_specialty]
			, [new_specialtyname] = S.[new_specialtyname]
			, [new_description] = S.[new_description]
			, [new_historicalrecordname] = S.[new_historicalrecordname]
			, [DateKey] = S.[DateKey]
			, [new_cahcsosaccount] = S.[new_cahcsosaccount]
			, [new_websitelogin] = S.[new_websitelogin]
			, [new_websitepassword] = S.[new_websitepassword]
			, [new_categorynewname] = S.[new_categorynewname]
			, [new_categorynew] = S.[new_categorynew]
			, new_membershipowner = s.new_membershipowner
			, [new_previousmemberpmid] = s.[new_previousmemberpmid]
			
WHEN NOT MATCHED THEN
		INSERT ( accountid, [new_aap_account], [new_aap_effective_date], [new_aap_resignation_reason], [new_aap_resignation_reasonname], [new_aapmembershiptype], [new_aapmembershiptypename]
			  , [new_aapparent], [new_aapparenttext], [new_aapquit]
			  --, [new_aapstatus], [new_aapstatusname]
			  , [new_aaptermnotice], [new_account_subtype], [new_account_subtypename], [new_affiliate], [new_affiliateactive]
			  , [new_affiliateend], [new_affiliategroup], [new_affiliategroupname], [new_affiliatename], [new_aplicor], [new_applicationfeedate], [new_applicationreceived], [new_at_risk], [new_at_riskname]
			  , [new_authorized_voter], [new_authorizedsignature], [new_automation], [new_automationname], [new_averagevolume], [new_businessclass], [new_businessclassname], [new_category], [new_categoryname]
			  , [new_combinedvolume], [new_computer_software], [new_computer_softwarename], [new_conference2015], [new_conference2015name], [new_conference2016], [new_conference2016name], [new_conference2017]
			  , [new_conference2017name], [new_conference2018], [new_conference2018name], [new_copyphysicaltofinancial], [new_copyphysicaltofinancialname], [new_copyphysicaltomailing], [new_copyphysicaltomailingname]
			  , [new_copytomarketingemail], [new_copytomarketingemailname], [new_corporatename], [new_county], [new_dea], [new_deaexpiration], [new_diversionce], [new_docusignsender], [new_docusignsenderemail]
			  , [new_docusignsenderemailname], [new_docusignsendername], [new_dunbradstreetno], [new_edi_activation_date], [new_edi_app_received_date], [new_edi_approved_date], [new_fed_tax], [new_fee_paid]
			  , [new_fee_paidname], [new_gcr], [new_generalemail2], [new_group], [new_groupalliance], [new_groupalliancename], [new_hours_saturday_close], [new_hours_saturday_open], [new_hours_sunday_close]
			  , [new_hours_sunday_open], [new_hours_weekdays_close], [new_hours_weekdays_open], [new_iatvtitle], [new_incorporationstate], [new_industrysupportfund], [new_industrysupportfundname], [new_lastsalescall]
			  , [new_managedcarenetwork], [new_managedcarenetworkname], [new_marketingemail], [new_mc_affiliation], [new_mc_affiliationname], [new_mc_effective_date], [new_mc_network], [new_mc_networkname]
			  , [new_mc_termination_date], [new_memb_received_date], [new_ncpaid], [new_ncpdp], [new_npi], [new_orderingcontact], [new_orderingcontactlookup], [new_orderingcontactlookupname]
			  , [new_orderingcontactlookupyominame], [new_org_type], [new_org_typename], [new_ownertype], [new_ownertypename], [new_parentaccounttext], [new_pharmacist], [new_pharmacistlicense]
			  , [new_pharmacistlicenseexpiration], [new_pharmacyowner], [new_pharmacyowneremail], [new_pharmacyownerfax], [new_pharmacyownerlookup], [new_pharmacyownerlookupname], [new_pharmacyownerlookupyominame]
			  , [new_pharmacyownerphone], [new_pharmacyownertitle], [new_pharmacysystem], [new_pharmacysystemname], [new_planogram], [new_planogramname], [new_planogramquit], [new_planogramstart], [new_pmid]
			  , [new_previousaapmember], [new_previousaapmembername], [new_previousaapmemberyominame], [new_previousgroupalliance], [new_previousgroupalliancename], [new_previousprimarywholesaler]
			  , [new_previousprimarywholesalername], [new_previouswholesaler], [new_previouswholesaleraccountno], [new_previouswholesalername], [new_primarycontact], [new_primarywholesaleraccountno]
			  , [new_primarywholesalernew], [new_primarywholesalernewname], [new_sendapplicationemail], [new_sendapplicationname], [new_softwareliabilitywaiver], [new_startup], [new_startupname], [new_state_lic]
			  , [new_state_lic_exp_date], [new_state_tax], [new_stbrandsmartplus], [new_stcloud], [new_stcloudname], [new_stcloudworkstations], [new_territories], [new_territoriesname], [new_territory]
			  , [new_territorymanager], [new_territorymanageremail], [new_territorymanageremailname], [new_territorymanagername], [new_territoryname], [new_wholesaler], [new_wholesalername], [new_businessestablished]
			  , [new_controlledsubstancesprofile], [new_controlledsubstancesprofilename], [new_creditreportauth], [new_creditreportauthname], [new_deahinissue], [new_historicalrecord], [new_lastvisit]
			  , [new_lastvisitdate], [new_lastvisitrollup], [new_lastvisitrollup_date], [new_lastvisitrollup_state], [new_marketinglevel], [new_marketinglevelname], [new_ownershipchange], [new_ownershipchangename]
			  , [new_personalguaranty], [new_personalguarantyname], [new_powerofattorney], [new_powerofattorneyname], [new_rebatepaymentmethod], [new_rebatepaymentmethodname], [new_sendapplicationtitle]
			  , [new_triggerapionboarding], [new_triggerapionboardingname], [new_vai], [new_zone], [new_zonename], [new_conference2019], [new_conference2019name], [new_deapharmacyname], [new_heyrman]
			  , [new_heyrmanname], [new_pharmacyownermobilephone], [new_referralincentivedate], [new_referralincentivepaid], [new_referralincentivestatus], [new_referralincentivestatusname], [new_referralstatus]
			  , [new_referralstatusname], [new_referralsubmissiondate], [new_referringpharmacy], [new_referringpharmacyemail], [new_referringpharmacyname], [new_referringpharmacyyominame], [new_secondaryphone]
			  , [new_specialty], [new_specialtyname], [new_description], [new_historicalrecordname], [DateKey], [new_cahcsosaccount], [new_websitelogin], [new_websitepassword], [new_categorynewname], [new_categorynew]
			  , new_membershipowner, [new_previousmemberpmid]
			  	)
		VALUES (accountid, S.[new_aap_account], S.[new_aap_effective_date], S.[new_aap_resignation_reason], S.[new_aap_resignation_reasonname], S.[new_aapmembershiptype], S.[new_aapmembershiptypename]
			  , S.[new_aapparent], S.[new_aapparenttext], S.[new_aapquit]
			  --, S.[new_aapstatus], S.[new_aapstatusname]
			  , S.[new_aaptermnotice], S.[new_account_subtype], S.[new_account_subtypename], S.[new_affiliate], S.[new_affiliateactive]
			  , S.[new_affiliateend], S.[new_affiliategroup], S.[new_affiliategroupname], S.[new_affiliatename], S.[new_aplicor], S.[new_applicationfeedate], S.[new_applicationreceived], S.[new_at_risk], S.[new_at_riskname]
			  , S.[new_authorized_voter], S.[new_authorizedsignature], S.[new_automation], S.[new_automationname], S.[new_averagevolume], S.[new_businessclass], S.[new_businessclassname], S.[new_category], S.[new_categoryname]
			  , S.[new_combinedvolume], S.[new_computer_software], S.[new_computer_softwarename], S.[new_conference2015], S.[new_conference2015name], S.[new_conference2016], S.[new_conference2016name], S.[new_conference2017]
			  , S.[new_conference2017name], S.[new_conference2018], S.[new_conference2018name], S.[new_copyphysicaltofinancial], S.[new_copyphysicaltofinancialname], S.[new_copyphysicaltomailing], S.[new_copyphysicaltomailingname]
			  , S.[new_copytomarketingemail], S.[new_copytomarketingemailname], S.[new_corporatename], S.[new_county], S.[new_dea], S.[new_deaexpiration], S.[new_diversionce], S.[new_docusignsender], S.[new_docusignsenderemail]
			  , S.[new_docusignsenderemailname], S.[new_docusignsendername], S.[new_dunbradstreetno], S.[new_edi_activation_date], S.[new_edi_app_received_date], S.[new_edi_approved_date], S.[new_fed_tax], S.[new_fee_paid]
			  , S.[new_fee_paidname], S.[new_gcr], S.[new_generalemail2], S.[new_group], S.[new_groupalliance], S.[new_groupalliancename], S.[new_hours_saturday_close], S.[new_hours_saturday_open], S.[new_hours_sunday_close]
			  , S.[new_hours_sunday_open], S.[new_hours_weekdays_close], S.[new_hours_weekdays_open], S.[new_iatvtitle], S.[new_incorporationstate], S.[new_industrysupportfund], S.[new_industrysupportfundname], S.[new_lastsalescall]
			  , S.[new_managedcarenetwork], S.[new_managedcarenetworkname], S.[new_marketingemail], S.[new_mc_affiliation], S.[new_mc_affiliationname], S.[new_mc_effective_date], S.[new_mc_network], S.[new_mc_networkname]
			  , S.[new_mc_termination_date], S.[new_memb_received_date], S.[new_ncpaid], S.[new_ncpdp], S.[new_npi], S.[new_orderingcontact], S.[new_orderingcontactlookup], S.[new_orderingcontactlookupname]
			  , S.[new_orderingcontactlookupyominame], S.[new_org_type], S.[new_org_typename], S.[new_ownertype], S.[new_ownertypename], S.[new_parentaccounttext], S.[new_pharmacist], S.[new_pharmacistlicense]
			  , S.[new_pharmacistlicenseexpiration], S.[new_pharmacyowner], S.[new_pharmacyowneremail], S.[new_pharmacyownerfax], S.[new_pharmacyownerlookup], S.[new_pharmacyownerlookupname], S.[new_pharmacyownerlookupyominame]
			  , S.[new_pharmacyownerphone], S.[new_pharmacyownertitle], S.[new_pharmacysystem], S.[new_pharmacysystemname], S.[new_planogram], S.[new_planogramname], S.[new_planogramquit], S.[new_planogramstart], S.[new_pmid]
			  , S.[new_previousaapmember], S.[new_previousaapmembername], S.[new_previousaapmemberyominame], S.[new_previousgroupalliance], S.[new_previousgroupalliancename], S.[new_previousprimarywholesaler]
			  , S.[new_previousprimarywholesalername], S.[new_previouswholesaler], S.[new_previouswholesaleraccountno], S.[new_previouswholesalername], S.[new_primarycontact], S.[new_primarywholesaleraccountno]
			  , S.[new_primarywholesalernew], S.[new_primarywholesalernewname], S.[new_sendapplicationemail], S.[new_sendapplicationname], S.[new_softwareliabilitywaiver], S.[new_startup], S.[new_startupname], S.[new_state_lic]
			  , S.[new_state_lic_exp_date], S.[new_state_tax], S.[new_stbrandsmartplus], S.[new_stcloud], S.[new_stcloudname], S.[new_stcloudworkstations], S.[new_territories], S.[new_territoriesname], S.[new_territory]
			  , S.[new_territorymanager], S.[new_territorymanageremail], S.[new_territorymanageremailname], S.[new_territorymanagername], S.[new_territoryname], S.[new_wholesaler], S.[new_wholesalername], S.[new_businessestablished]
			  , S.[new_controlledsubstancesprofile], S.[new_controlledsubstancesprofilename], S.[new_creditreportauth], S.[new_creditreportauthname], S.[new_deahinissue], S.[new_historicalrecord], S.[new_lastvisit]
			  , S.[new_lastvisitdate], S.[new_lastvisitrollup], S.[new_lastvisitrollup_date], S.[new_lastvisitrollup_state], S.[new_marketinglevel], S.[new_marketinglevelname], S.[new_ownershipchange], S.[new_ownershipchangename]
			  , S.[new_personalguaranty], S.[new_personalguarantyname], S.[new_powerofattorney], S.[new_powerofattorneyname], S.[new_rebatepaymentmethod], S.[new_rebatepaymentmethodname], S.[new_sendapplicationtitle]
			  , S.[new_triggerapionboarding], S.[new_triggerapionboardingname], S.[new_vai], S.[new_zone], S.[new_zonename], S.[new_conference2019], S.[new_conference2019name], S.[new_deapharmacyname], S.[new_heyrman]
			  , S.[new_heyrmanname], S.[new_pharmacyownermobilephone], S.[new_referralincentivedate], S.[new_referralincentivepaid], S.[new_referralincentivestatus], S.[new_referralincentivestatusname], S.[new_referralstatus]
			  , S.[new_referralstatusname], S.[new_referralsubmissiondate], S.[new_referringpharmacy], S.[new_referringpharmacyemail], S.[new_referringpharmacyname], S.[new_referringpharmacyyominame], S.[new_secondaryphone]
			  , S.[new_specialty], S.[new_specialtyname], S.[new_description], S.[new_historicalrecordname], S.[DateKey], S.[new_cahcsosaccount], S.[new_websitelogin], S.[new_websitepassword], S.[new_categorynewname], S.[new_categorynew]
			  , s.new_membershipowner, s.[new_previousmemberpmid]
			  	);


	UPDATE a
	SET [new_aapstatusname] = p.[new_aap_status_globalname]
	FROM [dbo].[CRM_AccountEntity_User] AS a
	INNER JOIN [dbo].[CRM_ProgramEntity] AS p ON a.accountid = p.new_accountid

END






GO
