USE [DynamicsODS]
GO
/****** Object:  Table [dbo].[CRM_AccountEntity_bkp_20200723]    Script Date: 12/22/2020 6:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_AccountEntity_bkp_20200723](
	[AddressKey] [int] NOT NULL,
	[APIKey] [int] NOT NULL,
	[CAHKey] [int] NOT NULL,
	[ProfitAmpKey] [int] NOT NULL,
	[ScanTossKey] [int] NOT NULL,
	[SysKey] [int] NOT NULL,
	[UserKey] [int] NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowversionID] [timestamp] NOT NULL,
	[AttKey] [int] NOT NULL
) ON [PRIMARY]
GO
