USE [DynamicsODS]
GO
/****** Object:  StoredProcedure [dbo].[usp_CRM_AccountEntity_Sys_Load]    Script Date: 12/22/2020 6:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CRM_AccountEntity_Sys_Load]

AS

SET NOCOUNT ON;

BEGIN

	MERGE [dbo].[CRM_AccountEntity_Sys] AS T
	USING (SELECT [accountcategorycode], [accountcategorycodename], [accountclassificationcode], [accountclassificationcodename], [accountid], [accountnumber], [accountratingcode]
				, [accountratingcodename], [aging30], [aging30_base], [aging60], [aging60_base], [aging90], [aging90_base], [businesstypecode], [businesstypecodename], [createdby], [createdbyexternalparty]
				, [createdbyexternalpartyname], [createdbyexternalpartyyominame], [createdbyname], [createdbyyominame], [createdon], [createdonbehalfby], [createdonbehalfbyname], [createdonbehalfbyyominame]
				, [creditlimit], [creditlimit_base], [creditonhold], [creditonholdname], [customersizecode], [customersizecodename], [customertypecode], [customertypecodename], [defaultpricelevelid]
				, [defaultpricelevelidname], [description], [donotbulkemail], [donotbulkemailname], [donotbulkpostalmail], [donotbulkpostalmailname], [donotemail], [donotemailname], [donotfax], [donotfaxname]
				, [donotphone], [donotphonename], [donotpostalmail], [donotpostalmailname], [donotsendmarketingmaterialname], [donotsendmm], [entityimage_timestamp], [entityimage_url], [entityimageid], [exchangerate]
				, [fax], [followemail], [followemailname], [ftpsiteurl], [importsequencenumber], [industrycode], [industrycodename], [isprivatename], [lastonholdtime], [lastusedincampaign], [marketcap], [marketcap_base]
				, [marketingonly], [marketingonlyname], [masteraccountidname], [masteraccountidyominame], [masterid], [merged], [mergedname], [modifiedby], [modifiedbyexternalparty], [modifiedbyexternalpartyname]
				, [modifiedbyexternalpartyyominame], [modifiedbyname], [modifiedbyyominame], [modifiedon], [modifiedonbehalfby], [modifiedonbehalfbyname], [modifiedonbehalfbyyominame], [name], [numberofemployees]
				, [onholdtime], [opendeals], [opendeals_date], [opendeals_state], [openrevenue], [openrevenue_base], [openrevenue_date], [openrevenue_state], [originatingleadid], [originatingleadidname]
				, [originatingleadidyominame], [overriddencreatedon], [ownerid], [owneridname], [owneridtype], [owneridyominame], [ownershipcode], [ownershipcodename], [owningbusinessunit], [owningteam], [owninguser]
				, [parentaccountid], [parentaccountidname], [parentaccountidyominame], [participatesinworkflow], [participatesinworkflowname], [paymenttermscode], [paymenttermscodename], [preferredappointmentdaycode]
				, [preferredappointmentdaycodename], [preferredappointmenttimecode], [preferredappointmenttimecodename], [preferredcontactmethodcode], [preferredcontactmethodcodename], [preferredequipmentid]
				, [preferredequipmentidname], [preferredserviceid], [preferredserviceidname], [preferredsystemuserid], [preferredsystemuseridname], [preferredsystemuseridyominame], [primarycontactid], [primarycontactidname]
				, [primarycontactidyominame], [primarysatoriid], [primarytwitterid], [processid], [revenue], [revenue_base], [sharesoutstanding], [shippingmethodcode], [shippingmethodcodename], [sic], [slaid]
				, [slainvokedid], [slainvokedidname], [slaname], [stageid], [statecode], [statecodename], [statuscode], [statuscodename], [stockexchange], [telephone1], [telephone2], [telephone3], [territorycode]
				, [territorycodename], [territoryid], [territoryidname], [tickersymbol], [timespentbymeonemailandmeetings], [timezoneruleversionnumber], [transactioncurrencyid], [transactioncurrencyidname], [traversedpath]
				, [utcconversiontimezonecode], [versionnumber], [websiteurl], [yominame], [DateKey]
		   FROM [ODSIntake].[Staging].[CRM_AccountEntity_Sys]) AS S
		   (  [accountcategorycode], [accountcategorycodename], [accountclassificationcode], [accountclassificationcodename], [accountid], [accountnumber], [accountratingcode]
			, [accountratingcodename], [aging30], [aging30_base], [aging60], [aging60_base], [aging90], [aging90_base], [businesstypecode], [businesstypecodename], [createdby], [createdbyexternalparty]
			, [createdbyexternalpartyname], [createdbyexternalpartyyominame], [createdbyname], [createdbyyominame], [createdon], [createdonbehalfby], [createdonbehalfbyname], [createdonbehalfbyyominame]
			, [creditlimit], [creditlimit_base], [creditonhold], [creditonholdname], [customersizecode], [customersizecodename], [customertypecode], [customertypecodename], [defaultpricelevelid]
			, [defaultpricelevelidname], [description], [donotbulkemail], [donotbulkemailname], [donotbulkpostalmail], [donotbulkpostalmailname], [donotemail], [donotemailname], [donotfax], [donotfaxname]
			, [donotphone], [donotphonename], [donotpostalmail], [donotpostalmailname], [donotsendmarketingmaterialname], [donotsendmm], [entityimage_timestamp], [entityimage_url], [entityimageid], [exchangerate]
			, [fax], [followemail], [followemailname], [ftpsiteurl], [importsequencenumber], [industrycode], [industrycodename], [isprivatename], [lastonholdtime], [lastusedincampaign], [marketcap], [marketcap_base]
			, [marketingonly], [marketingonlyname], [masteraccountidname], [masteraccountidyominame], [masterid], [merged], [mergedname], [modifiedby], [modifiedbyexternalparty], [modifiedbyexternalpartyname]
			, [modifiedbyexternalpartyyominame], [modifiedbyname], [modifiedbyyominame], [modifiedon], [modifiedonbehalfby], [modifiedonbehalfbyname], [modifiedonbehalfbyyominame], [name], [numberofemployees]
			, [onholdtime], [opendeals], [opendeals_date], [opendeals_state], [openrevenue], [openrevenue_base], [openrevenue_date], [openrevenue_state], [originatingleadid], [originatingleadidname]
			, [originatingleadidyominame], [overriddencreatedon], [ownerid], [owneridname], [owneridtype], [owneridyominame], [ownershipcode], [ownershipcodename], [owningbusinessunit], [owningteam], [owninguser]
			, [parentaccountid], [parentaccountidname], [parentaccountidyominame], [participatesinworkflow], [participatesinworkflowname], [paymenttermscode], [paymenttermscodename], [preferredappointmentdaycode]
			, [preferredappointmentdaycodename], [preferredappointmenttimecode], [preferredappointmenttimecodename], [preferredcontactmethodcode], [preferredcontactmethodcodename], [preferredequipmentid]
			, [preferredequipmentidname], [preferredserviceid], [preferredserviceidname], [preferredsystemuserid], [preferredsystemuseridname], [preferredsystemuseridyominame], [primarycontactid], [primarycontactidname]
			, [primarycontactidyominame], [primarysatoriid], [primarytwitterid], [processid], [revenue], [revenue_base], [sharesoutstanding], [shippingmethodcode], [shippingmethodcodename], [sic], [slaid]
			, [slainvokedid], [slainvokedidname], [slaname], [stageid], [statecode], [statecodename], [statuscode], [statuscodename], [stockexchange], [telephone1], [telephone2], [telephone3], [territorycode]
			, [territorycodename], [territoryid], [territoryidname], [tickersymbol], [timespentbymeonemailandmeetings], [timezoneruleversionnumber], [transactioncurrencyid], [transactioncurrencyidname], [traversedpath]
			, [utcconversiontimezonecode], [versionnumber], [websiteurl], [yominame], [DateKey]
		   )
		   ON T.accountid = S.accountid

WHEN MATCHED THEN

UPDATE SET [accountcategorycode] = S.[accountcategorycode]
		 , [accountcategorycodename] = S.[accountcategorycodename]
		 , [accountclassificationcode] = S.[accountclassificationcode]
		 , [accountclassificationcodename] = S.[accountclassificationcodename]
		 , [accountid] = S.[accountid]
		 , [accountnumber] = S.[accountnumber]
		 , [accountratingcode] = S.[accountratingcode]
		 , [accountratingcodename] = S.[accountratingcodename]
		 , [aging30] = S.[aging30]
		 , [aging30_base] = S.[aging30_base]
		 , [aging60] = S.[aging60]
		 , [aging60_base] = S.[aging60_base]
		 , [aging90] = S.[aging90]
		 , [aging90_base] = S.[aging90_base]
		 , [businesstypecode] = S.[businesstypecode]
		 , [businesstypecodename] = S.[businesstypecodename]
		 , [createdby] = S.[createdby]
		 , [createdbyexternalparty] = S.[createdbyexternalparty]
		 , [createdbyexternalpartyname] = S.[createdbyexternalpartyname]
		 , [createdbyexternalpartyyominame] = S.[createdbyexternalpartyyominame]
		 , [createdbyname] = S.[createdbyname]
		 , [createdbyyominame] = S.[createdbyyominame]
		 , [createdon] = S.[createdon]
		 , [createdonbehalfby] = S.[createdonbehalfby]
		 , [createdonbehalfbyname] = S.[createdonbehalfbyname]
		 , [createdonbehalfbyyominame] = S.[createdonbehalfbyyominame]
		 , [creditlimit] = S.[creditlimit]
		 , [creditlimit_base] = S.[creditlimit_base]
		 , [creditonhold] = S.[creditonhold]
		 , [creditonholdname] = S.[creditonholdname]
		 , [customersizecode] = S.[customersizecode]
		 , [customersizecodename] = S.[customersizecodename]
		 , [customertypecode] = S.[customertypecode]
		 , [customertypecodename] = S.[customertypecodename]
		 , [defaultpricelevelid] = S.[defaultpricelevelid]
		 , [defaultpricelevelidname] = S.[defaultpricelevelidname]
		 , [description] = S.[description]
		 , [donotbulkemail] = S.[donotbulkemail]
		 , [donotbulkemailname] = S.[donotbulkemailname]
		 , [donotbulkpostalmail] = S.[donotbulkpostalmail]
		 , [donotbulkpostalmailname] = S.[donotbulkpostalmailname]
		 , [donotemail] = S.[donotemail]
		 , [donotemailname] = S.[donotemailname]
		 , [donotfax] = S.[donotfax]
		 , [donotfaxname] = S.[donotfaxname]
		 , [donotphone] = S.[donotphone]
		 , [donotphonename] = S.[donotphonename]
		 , [donotpostalmail] = S.[donotpostalmail]
		 , [donotpostalmailname] = S.[donotpostalmailname]
		 , [donotsendmarketingmaterialname] = S.[donotsendmarketingmaterialname]
		 , [donotsendmm] = S.[donotsendmm]
		 , [entityimage_timestamp] = S.[entityimage_timestamp]
		 , [entityimage_url] = S.[entityimage_url]
		 , [entityimageid] = S.[entityimageid]
		 , [exchangerate] = S.[exchangerate]
		 , [fax] = S.[fax]
		 , [followemail] = S.[followemail]
		 , [followemailname] = S.[followemailname]
		 , [ftpsiteurl] = S.[ftpsiteurl]
		 , [importsequencenumber] = S.[importsequencenumber]
		 , [industrycode] = S.[industrycode]
		 , [industrycodename] = S.[industrycodename]
		 , [isprivatename] = S.[isprivatename]
		 , [lastonholdtime] = S.[lastonholdtime]
		 , [lastusedincampaign] = S.[lastusedincampaign]
		 , [marketcap] = S.[marketcap]
		 , [marketcap_base] = S.[marketcap_base]
		 , [marketingonly] = S.[marketingonly]
		 , [marketingonlyname] = S.[marketingonlyname]
		 , [masteraccountidname] = S.[masteraccountidname]
		 , [masteraccountidyominame] = S.[masteraccountidyominame]
		 , [masterid] = S.[masterid]
		 , [merged] = S.[merged]
		 , [mergedname] = S.[mergedname]
		 , [modifiedby] = S.[modifiedby]
		 , [modifiedbyexternalparty] = S.[modifiedbyexternalparty]
		 , [modifiedbyexternalpartyname] = S.[modifiedbyexternalpartyname]
		 , [modifiedbyexternalpartyyominame] = S.[modifiedbyexternalpartyyominame]
		 , [modifiedbyname] = S.[modifiedbyname]
		 , [modifiedbyyominame] = S.[modifiedbyyominame]
		 , [modifiedon] = S.[modifiedon]
		 , [modifiedonbehalfby] = S.[modifiedonbehalfby]
		 , [modifiedonbehalfbyname] = S.[modifiedonbehalfbyname]
		 , [modifiedonbehalfbyyominame] = S.[modifiedonbehalfbyyominame]
		 , [name] = S.[name]
		 , [numberofemployees] = S.[numberofemployees]
		 , [onholdtime] = S.[onholdtime]
		 , [opendeals] = S.[opendeals]
		 , [opendeals_date] = S.[opendeals_date]
		 , [opendeals_state] = S.[opendeals_state]
		 , [openrevenue] = S.[openrevenue]
		 , [openrevenue_base] = S.[openrevenue_base]
		 , [openrevenue_date] = S.[openrevenue_date]
		 , [openrevenue_state] = S.[openrevenue_state]
		 , [originatingleadid] = S.[originatingleadid]
		 , [originatingleadidname] = S.[originatingleadidname]
		 , [originatingleadidyominame] = S.[originatingleadidyominame]
		 , [overriddencreatedon] = S.[overriddencreatedon]
		 , [ownerid] = S.[ownerid]
		 , [owneridname] = S.[owneridname]
		 , [owneridtype] = S.[owneridtype]
		 , [owneridyominame] = S.[owneridyominame]
		 , [ownershipcode] = S.[ownershipcode]
		 , [ownershipcodename] = S.[ownershipcodename]
		 , [owningbusinessunit] = S.[owningbusinessunit]
		 , [owningteam] = S.[owningteam]
		 , [owninguser] = S.[owninguser]
		 , [parentaccountid] = S.[parentaccountid]
		 , [parentaccountidname] = S.[parentaccountidname]
		 , [parentaccountidyominame] = S.[parentaccountidyominame]
		 , [participatesinworkflow] = S.[participatesinworkflow]
		 , [participatesinworkflowname] = S.[participatesinworkflowname]
		 , [paymenttermscode] = S.[paymenttermscode]
		 , [paymenttermscodename] = S.[paymenttermscodename]
		 , [preferredappointmentdaycode] = S.[preferredappointmentdaycode]
		 , [preferredappointmentdaycodename] = S.[preferredappointmentdaycodename]
		 , [preferredappointmenttimecode] = S.[preferredappointmenttimecode]
		 , [preferredappointmenttimecodename] = S.[preferredappointmenttimecodename]
		 , [preferredcontactmethodcode] = S.[preferredcontactmethodcode]
		 , [preferredcontactmethodcodename] = S.[preferredcontactmethodcodename]
		 , [preferredequipmentid] = S.[preferredequipmentid]
		 , [preferredequipmentidname] = S.[preferredequipmentidname]
		 , [preferredserviceid] = S.[preferredserviceid]
		 , [preferredserviceidname] = S.[preferredserviceidname]
		 , [preferredsystemuserid] = S.[preferredsystemuserid]
		 , [preferredsystemuseridname] = S.[preferredsystemuseridname]
		 , [preferredsystemuseridyominame] = S.[preferredsystemuseridyominame]
		 , [primarycontactid] = S.[primarycontactid]
		 , [primarycontactidname] = S.[primarycontactidname]
		 , [primarycontactidyominame] = S.[primarycontactidyominame]
		 , [primarysatoriid] = S.[primarysatoriid]
		 , [primarytwitterid] = S.[primarytwitterid]
		 , [processid] = S.[processid]
		 , [revenue] = S.[revenue]
		 , [revenue_base] = S.[revenue_base]
		 , [sharesoutstanding] = S.[sharesoutstanding]
		 , [shippingmethodcode] = S.[shippingmethodcode]
		 , [shippingmethodcodename] = S.[shippingmethodcodename]
		 , [sic] = S.[sic]
		 , [slaid] = S.[slaid]
		 , [slainvokedid] = S.[slainvokedid]
		 , [slainvokedidname] = S.[slainvokedidname]
		 , [slaname] = S.[slaname]
		 , [stageid] = S.[stageid]
		 , [statecode] = S.[statecode]
		 , [statecodename] = S.[statecodename]
		 , [statuscode] = S.[statuscode]
		 , [statuscodename] = S.[statuscodename]
		 , [stockexchange] = S.[stockexchange]
		 , [telephone1] = S.[telephone1]
		 , [telephone2] = S.[telephone2]
		 , [telephone3] = S.[telephone3]
		 , [territorycode] = S.[territorycode]
		 , [territorycodename] = S.[territorycodename]
		 , [territoryid] = S.[territoryid]
		 , [territoryidname] = S.[territoryidname]
		 , [tickersymbol] = S.[tickersymbol]
		 , [timespentbymeonemailandmeetings] = S.[timespentbymeonemailandmeetings]
		 , [timezoneruleversionnumber] = S.[timezoneruleversionnumber]
		 , [transactioncurrencyid] = S.[transactioncurrencyid]
		 , [transactioncurrencyidname] = S.[transactioncurrencyidname]
		 , [traversedpath] = S.[traversedpath]
		 , [utcconversiontimezonecode] = S.[utcconversiontimezonecode]
		 , [versionnumber] = S.[versionnumber]
		 , [websiteurl] = S.[websiteurl]
		 , [yominame] = S.[yominame]
		 , [DateKey] = S.[DateKey]


WHEN NOT MATCHED THEN
		INSERT ([accountcategorycode], [accountcategorycodename], [accountclassificationcode], [accountclassificationcodename], [accountid], [accountnumber], [accountratingcode]
			, [accountratingcodename], [aging30], [aging30_base], [aging60], [aging60_base], [aging90], [aging90_base], [businesstypecode], [businesstypecodename], [createdby], [createdbyexternalparty]
			, [createdbyexternalpartyname], [createdbyexternalpartyyominame], [createdbyname], [createdbyyominame], [createdon], [createdonbehalfby], [createdonbehalfbyname], [createdonbehalfbyyominame]
			, [creditlimit], [creditlimit_base], [creditonhold], [creditonholdname], [customersizecode], [customersizecodename], [customertypecode], [customertypecodename], [defaultpricelevelid]
			, [defaultpricelevelidname], [description], [donotbulkemail], [donotbulkemailname], [donotbulkpostalmail], [donotbulkpostalmailname], [donotemail], [donotemailname], [donotfax], [donotfaxname]
			, [donotphone], [donotphonename], [donotpostalmail], [donotpostalmailname], [donotsendmarketingmaterialname], [donotsendmm], [entityimage_timestamp], [entityimage_url], [entityimageid], [exchangerate]
			, [fax], [followemail], [followemailname], [ftpsiteurl], [importsequencenumber], [industrycode], [industrycodename], [isprivatename], [lastonholdtime], [lastusedincampaign], [marketcap], [marketcap_base]
			, [marketingonly], [marketingonlyname], [masteraccountidname], [masteraccountidyominame], [masterid], [merged], [mergedname], [modifiedby], [modifiedbyexternalparty], [modifiedbyexternalpartyname]
			, [modifiedbyexternalpartyyominame], [modifiedbyname], [modifiedbyyominame], [modifiedon], [modifiedonbehalfby], [modifiedonbehalfbyname], [modifiedonbehalfbyyominame], [name], [numberofemployees]
			, [onholdtime], [opendeals], [opendeals_date], [opendeals_state], [openrevenue], [openrevenue_base], [openrevenue_date], [openrevenue_state], [originatingleadid], [originatingleadidname]
			, [originatingleadidyominame], [overriddencreatedon], [ownerid], [owneridname], [owneridtype], [owneridyominame], [ownershipcode], [ownershipcodename], [owningbusinessunit], [owningteam], [owninguser]
			, [parentaccountid], [parentaccountidname], [parentaccountidyominame], [participatesinworkflow], [participatesinworkflowname], [paymenttermscode], [paymenttermscodename], [preferredappointmentdaycode]
			, [preferredappointmentdaycodename], [preferredappointmenttimecode], [preferredappointmenttimecodename], [preferredcontactmethodcode], [preferredcontactmethodcodename], [preferredequipmentid]
			, [preferredequipmentidname], [preferredserviceid], [preferredserviceidname], [preferredsystemuserid], [preferredsystemuseridname], [preferredsystemuseridyominame], [primarycontactid]
			, [primarycontactidname], [primarycontactidyominame], [primarysatoriid], [primarytwitterid], [processid], [revenue], [revenue_base], [sharesoutstanding], [shippingmethodcode], [shippingmethodcodename]
			, [sic], [slaid], [slainvokedid], [slainvokedidname], [slaname], [stageid], [statecode], [statecodename], [statuscode], [statuscodename], [stockexchange], [telephone1], [telephone2], [telephone3]
			, [territorycode], [territorycodename], [territoryid], [territoryidname], [tickersymbol], [timespentbymeonemailandmeetings], [timezoneruleversionnumber], [transactioncurrencyid]
			, [transactioncurrencyidname], [traversedpath], [utcconversiontimezonecode], [versionnumber], [websiteurl], [yominame], [DateKey]
				)
		VALUES ( S.[accountcategorycode], S.[accountcategorycodename], S.[accountclassificationcode], S.[accountclassificationcodename], S.[accountid], S.[accountnumber], S.[accountratingcode],
			S.[accountratingcodename], S.[aging30], S.[aging30_base], S.[aging60], S.[aging60_base], S.[aging90], S.[aging90_base], S.[businesstypecode], S.[businesstypecodename], S.[createdby], S.[createdbyexternalparty],
			S.[createdbyexternalpartyname], S.[createdbyexternalpartyyominame], S.[createdbyname], S.[createdbyyominame], S.[createdon], S.[createdonbehalfby], S.[createdonbehalfbyname], S.[createdonbehalfbyyominame],
			S.[creditlimit], S.[creditlimit_base], S.[creditonhold], S.[creditonholdname], S.[customersizecode], S.[customersizecodename], S.[customertypecode], S.[customertypecodename], S.[defaultpricelevelid],
			S.[defaultpricelevelidname], S.[description], S.[donotbulkemail], S.[donotbulkemailname], S.[donotbulkpostalmail], S.[donotbulkpostalmailname], S.[donotemail], S.[donotemailname], S.[donotfax], S.[donotfaxname],
			S.[donotphone], S.[donotphonename], S.[donotpostalmail], S.[donotpostalmailname], S.[donotsendmarketingmaterialname], S.[donotsendmm], S.[entityimage_timestamp], S.[entityimage_url], S.[entityimageid], S.[exchangerate],
			S.[fax], S.[followemail], S.[followemailname], S.[ftpsiteurl], S.[importsequencenumber], S.[industrycode], S.[industrycodename], S.[isprivatename], S.[lastonholdtime], S.[lastusedincampaign], S.[marketcap], S.[marketcap_base],
			S.[marketingonly], S.[marketingonlyname], S.[masteraccountidname], S.[masteraccountidyominame], S.[masterid], S.[merged], S.[mergedname], S.[modifiedby], S.[modifiedbyexternalparty], S.[modifiedbyexternalpartyname],
			S.[modifiedbyexternalpartyyominame], S.[modifiedbyname], S.[modifiedbyyominame], S.[modifiedon], S.[modifiedonbehalfby], S.[modifiedonbehalfbyname], S.[modifiedonbehalfbyyominame], S.[name], S.[numberofemployees],
			S.[onholdtime], S.[opendeals], S.[opendeals_date], S.[opendeals_state], S.[openrevenue], S.[openrevenue_base], S.[openrevenue_date], S.[openrevenue_state], S.[originatingleadid], S.[originatingleadidname],
			S.[originatingleadidyominame], S.[overriddencreatedon], S.[ownerid], S.[owneridname], S.[owneridtype], S.[owneridyominame], S.[ownershipcode], S.[ownershipcodename], S.[owningbusinessunit], S.[owningteam], S.[owninguser],
			S.[parentaccountid], S.[parentaccountidname], S.[parentaccountidyominame], S.[participatesinworkflow], S.[participatesinworkflowname], S.[paymenttermscode], S.[paymenttermscodename], S.[preferredappointmentdaycode],
			S.[preferredappointmentdaycodename], S.[preferredappointmenttimecode], S.[preferredappointmenttimecodename], S.[preferredcontactmethodcode], S.[preferredcontactmethodcodename], S.[preferredequipmentid],
			S.[preferredequipmentidname], S.[preferredserviceid], S.[preferredserviceidname], S.[preferredsystemuserid], S.[preferredsystemuseridname], S.[preferredsystemuseridyominame], S.[primarycontactid],
			S.[primarycontactidname], S.[primarycontactidyominame], S.[primarysatoriid], S.[primarytwitterid], S.[processid], S.[revenue], S.[revenue_base], S.[sharesoutstanding], S.[shippingmethodcode], S.[shippingmethodcodename],
			S.[sic], S.[slaid], S.[slainvokedid], S.[slainvokedidname], S.[slaname], S.[stageid], S.[statecode], S.[statecodename], S.[statuscode], S.[statuscodename], S.[stockexchange], S.[telephone1], S.[telephone2], S.[telephone3],
			S.[territorycode], S.[territorycodename], S.[territoryid], S.[territoryidname], S.[tickersymbol], S.[timespentbymeonemailandmeetings], S.[timezoneruleversionnumber], S.[transactioncurrencyid],
			S.[transactioncurrencyidname], S.[traversedpath], S.[utcconversiontimezonecode], S.[versionnumber], S.[websiteurl], S.[yominame], S.[DateKey]
				);

END
GO
