USE [DynamicsODS]
GO
/****** Object:  Table [Staging].[CRM_AccountEntity_Sys]    Script Date: 12/22/2020 6:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[CRM_AccountEntity_Sys](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[accountcategorycode] [int] NULL,
	[accountcategorycodename] [nvarchar](250) NULL,
	[accountclassificationcode] [int] NULL,
	[accountclassificationcodename] [nvarchar](250) NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountnumber] [nvarchar](20) NULL,
	[accountratingcode] [int] NULL,
	[accountratingcodename] [nvarchar](250) NULL,
	[aging30] [money] NULL,
	[aging30_base] [money] NULL,
	[aging60] [money] NULL,
	[aging60_base] [money] NULL,
	[aging90] [money] NULL,
	[aging90_base] [money] NULL,
	[businesstypecode] [int] NULL,
	[businesstypecodename] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyexternalparty] [uniqueidentifier] NULL,
	[createdbyexternalpartyname] [nvarchar](100) NULL,
	[createdbyexternalpartyyominame] [nvarchar](100) NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](250) NULL,
	[customersizecode] [int] NULL,
	[customersizecodename] [nvarchar](250) NULL,
	[customertypecode] [int] NULL,
	[customertypecodename] [nvarchar](250) NULL,
	[defaultpricelevelid] [uniqueidentifier] NULL,
	[defaultpricelevelidname] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](250) NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotbulkpostalmailname] [nvarchar](250) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](250) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](250) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](250) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](250) NULL,
	[donotsendmarketingmaterialname] [nvarchar](250) NULL,
	[donotsendmm] [bit] NULL,
	[entityimage_timestamp] [bigint] NULL,
	[entityimage_url] [nvarchar](200) NULL,
	[entityimageid] [uniqueidentifier] NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[fax] [nvarchar](50) NULL,
	[followemail] [bit] NULL,
	[followemailname] [nvarchar](250) NULL,
	[ftpsiteurl] [nvarchar](200) NULL,
	[importsequencenumber] [int] NULL,
	[industrycode] [int] NULL,
	[industrycodename] [nvarchar](250) NULL,
	[isprivatename] [nvarchar](250) NULL,
	[lastonholdtime] [datetime] NULL,
	[lastusedincampaign] [date] NULL,
	[marketcap] [money] NULL,
	[marketcap_base] [money] NULL,
	[marketingonly] [bit] NULL,
	[marketingonlyname] [nvarchar](250) NULL,
	[masteraccountidname] [nvarchar](100) NULL,
	[masteraccountidyominame] [nvarchar](100) NULL,
	[masterid] [uniqueidentifier] NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](250) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyexternalparty] [uniqueidentifier] NULL,
	[modifiedbyexternalpartyname] [nvarchar](100) NULL,
	[modifiedbyexternalpartyyominame] [nvarchar](100) NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[name] [nvarchar](160) NULL,
	[numberofemployees] [int] NULL,
	[onholdtime] [int] NULL,
	[opendeals] [int] NULL,
	[opendeals_date] [datetime] NULL,
	[opendeals_state] [int] NULL,
	[openrevenue] [money] NULL,
	[openrevenue_base] [money] NULL,
	[openrevenue_date] [datetime] NULL,
	[openrevenue_state] [int] NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadidname] [nvarchar](100) NULL,
	[originatingleadidyominame] [nvarchar](100) NULL,
	[overriddencreatedon] [date] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[owneridyominame] [nvarchar](100) NULL,
	[ownershipcode] [int] NULL,
	[ownershipcodename] [nvarchar](250) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[parentaccountid] [uniqueidentifier] NULL,
	[parentaccountidname] [nvarchar](100) NULL,
	[parentaccountidyominame] [nvarchar](100) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](250) NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](250) NULL,
	[preferredappointmentdaycode] [int] NULL,
	[preferredappointmentdaycodename] [nvarchar](250) NULL,
	[preferredappointmenttimecode] [int] NULL,
	[preferredappointmenttimecodename] [nvarchar](250) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](250) NULL,
	[preferredequipmentid] [uniqueidentifier] NULL,
	[preferredequipmentidname] [nvarchar](100) NULL,
	[preferredserviceid] [uniqueidentifier] NULL,
	[preferredserviceidname] [nvarchar](100) NULL,
	[preferredsystemuserid] [uniqueidentifier] NULL,
	[preferredsystemuseridname] [nvarchar](100) NULL,
	[preferredsystemuseridyominame] [nvarchar](100) NULL,
	[primarycontactid] [uniqueidentifier] NULL,
	[primarycontactidname] [nvarchar](100) NULL,
	[primarycontactidyominame] [nvarchar](100) NULL,
	[primarysatoriid] [nvarchar](200) NULL,
	[primarytwitterid] [nvarchar](200) NULL,
	[processid] [uniqueidentifier] NULL,
	[revenue] [money] NULL,
	[revenue_base] [money] NULL,
	[sharesoutstanding] [int] NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](250) NULL,
	[sic] [nvarchar](20) NULL,
	[slaid] [uniqueidentifier] NULL,
	[slainvokedid] [uniqueidentifier] NULL,
	[slainvokedidname] [nvarchar](100) NULL,
	[slaname] [nvarchar](100) NULL,
	[stageid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[stockexchange] [nvarchar](20) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[territorycode] [int] NULL,
	[territorycodename] [nvarchar](250) NULL,
	[territoryid] [uniqueidentifier] NULL,
	[territoryidname] [nvarchar](100) NULL,
	[tickersymbol] [nvarchar](10) NULL,
	[timespentbymeonemailandmeetings] [nvarchar](1250) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yominame] [nvarchar](160) NULL,
	[DateKey] [int] NULL,
	[RowCreatedDate] [datetime] NOT NULL,
 CONSTRAINT [CPK_Staging_CRM_AccountEntity_Sys] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_Staging_CRM_AccountEntity_Sys] UNIQUE NONCLUSTERED 
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Staging].[CRM_AccountEntity_Sys] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
