USE [Pricing]
GO
/****** Object:  Table [dbo].[API_NDC_GPI]    Script Date: 12/22/2020 7:32:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_NDC_GPI](
	[NDC] [varchar](11) NOT NULL,
	[GPI] [varchar](14) NOT NULL
) ON [PRIMARY]
GO
