USE [SalesDDS]
GO
/****** Object:  StoredProcedure [dbo].[usp_Test]    Script Date: 12/22/2020 7:55:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Test]

	@Date DATETIME

AS

SET NOCOUNT ON;

BEGIN

	INSERT INTO dbo.Test(TheDate)
	VALUES(@Date)


END
GO
