USE [SalesDDS]
GO
/****** Object:  Table [dbo].[StagingCAHDateKeys]    Script Date: 12/22/2020 7:55:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StagingCAHDateKeys](
	[DateKey] [int] NOT NULL
) ON [PRIMARY]
GO
