USE [SalesDDS]
GO
/****** Object:  Table [dbo].[RSE20200827]    Script Date: 12/22/2020 7:55:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RSE20200827](
	[ID] [int] NOT NULL,
	[UnitAmount] [decimal](18, 2) NULL,
	[RowversionID] [binary](8) NOT NULL,
 CONSTRAINT [CPK_20200827] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
