USE [SalesDDS]
GO
/****** Object:  View [Staging].[vwSalesFact_Audited]    Script Date: 12/22/2020 7:55:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Staging].[vwSalesFact_Audited]

AS


SELECT dd.DateKey
, ISNULL(ca.PharmacyKey, 0) AS PharmacyKey
, SUM(ISNULL(CONVERT(MONEY, APICOGAppliedSales), 0)) AS APICOGAppliedSales
, SUM(ISNULL(CONVERT(MONEY, APINetSales), 0)) AS APINetSales
, SUM(ISNULL(CONVERT(MONEY, APIGENRx), 0)) AS APIGENRx
, SUM(ISNULL(CONVERT(MONEY, APIGENTotalSrc), 0)) AS APIGENTotalSrc
, SUM(ISNULL(CONVERT(MONEY, APIGENTotalP2P3), 0)) AS APIGENTotalP2P3
, SUM(ISNULL(CONVERT(MONEY, APIGENTotal), 0)) AS APIGENTotal
, SUM(ISNULL(CONVERT(MONEY, APIBrand), 0)) AS APIBrand
, SUM(ISNULL(CONVERT(MONEY, APIOTC), 0)) AS APIOTC
, SUM(ISNULL(CONVERT(MONEY, APIOther), 0)) AS APIOther
, SUM(ISNULL(CONVERT(MONEY, APIGBRPerc), 0)) AS APIGBRPerc
, SUM(ISNULL(CONVERT(MONEY, AAPCOGAppliedSales), 0)) AS AAPCOGAppliedSales
, SUM(ISNULL(CONVERT(MONEY, AAPNetSales), 0)) AS AAPNetSales
, SUM(ISNULL(CONVERT(MONEY, AAPBrand), 0)) AS AAPBrand
, SUM(ISNULL(CONVERT(MONEY, AAPGENTotal), 0)) AS AAPGENTotal
, SUM(ISNULL(CONVERT(MONEY, AAPGENTotalSrc), 0)) AS AAPGENTotalSrc
, SUM(ISNULL(CONVERT(MONEY, AAPGENExcl), 0)) AS AAPGENExcl
, SUM(ISNULL(CONVERT(MONEY, AAPOTC), 0)) AS AAPOTC
, SUM(ISNULL(CONVERT(MONEY, AAPOther), 0)) AS AAPOther
, SUM(ISNULL(CONVERT(MONEY, AAPTotalRX), 0)) AS AAPTotalRX
, SUM(ISNULL(CONVERT(MONEY, AAPExcludedFromTotalRX), 0)) AS AAPExcludedFromTotalRX
, SUM(ISNULL(CONVERT(MONEY, AAPNonRXOTCandHH), 0)) AS AAPNonRXOTCandHH
, SUM(ISNULL(CONVERT(MONEY, AAPSourceCompliance), 0)) AS AAPSourceCompliance
, SUM(ISNULL(CONVERT(MONEY, UDNetSales), 0)) AS UDNetSales
, SUM(ISNULL(CONVERT(MONEY, UDBrand), 0)) AS UDBrand
, SUM(ISNULL(CONVERT(MONEY, UDGENTotalSrc), 0)) AS UDGENTotalSrc
, SUM(ISNULL(CONVERT(MONEY, UDGENTotal), 0)) AS UDGENTotal
, SUM(ISNULL(CONVERT(MONEY, UDOTC), 0)) AS UDOTC
, SUM(ISNULL(CONVERT(MONEY, UDOther), 0)) AS UDOther
, SUM(ISNULL(CONVERT(MONEY, UDAdminOnly), 0)) AS UDAdminOnly
, SUM(ISNULL(CONVERT(MONEY, CombNetSales), 0)) AS CombNetSales
, SUM(ISNULL(CONVERT(MONEY, CombBrands), 0)) AS CombBrands
, SUM(ISNULL(CONVERT(MONEY, CombOTC), 0)) AS CombOTC
, SUM(ISNULL(CONVERT(MONEY, CombGENTotal), 0)) AS CombGENTotal
, SUM(ISNULL(CONVERT(MONEY, CombGENTotalSrc), 0)) AS CombGENTotalSrc
, SUM(ISNULL(CONVERT(MONEY, CombOther), 0)) AS CombOther
, SUM(ISNULL(CONVERT(MONEY, CombAdminOnly), 0)) AS CombAdminOnly
, SUM(ISNULL(CONVERT(MONEY, WHAPIBrand), 0)) AS WHAPIBrand
, SUM(ISNULL(CONVERT(MONEY, WHAPIBrandUnits), 0)) AS WHAPIBrandUnits
, SUM(ISNULL(CONVERT(MONEY, WHAPIGeneric), 0)) AS WHAPIGeneric
, SUM(ISNULL(CONVERT(MONEY, WHAPIGenericUnits), 0)) AS WHAPIGenericUnits
, SUM(ISNULL(CONVERT(MONEY, WHAPIOTC), 0)) AS WHAPIOTC
, SUM(ISNULL(CONVERT(MONEY, WHAPIOTCUnits), 0)) AS WHAPIOTCUnits
, SUM(ISNULL(CONVERT(MONEY, WHAPITotal), 0)) AS WHAPITotal
, SUM(ISNULL(CONVERT(MONEY, MLTotal), 0)) AS MLTotal
, SUM(ISNULL(CONVERT(MONEY, AndaTotal), 0)) AS AndaTotal
FROM PharmacyMaster.[dbo].[ALL_Volume_New] AS s
INNER JOIN SalesDDS.dbo.DateDim AS dd ON s.Date = dd.TheDate
CROSS APPLY(SELECT MAX(PharmacyKey) AS PharmacyKey
			, PMID
			FROM RXMaster.dbo.PharmacyDim AS pd
			GROUP BY PMID
			) AS ca
WHERE ca.PMID = s.PMID
GROUP BY dd.DateKey
, ca.PharmacyKey




GO
