USE [Medispan_Staging]
GO
/****** Object:  Table [dbo].[MF2SET_Y]    Script Date: 12/22/2020 7:17:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MF2SET_Y](
	[Concept_Type] [int] NOT NULL,
	[Country_Code] [int] NOT NULL,
	[Concept_ID] [varchar](20) NOT NULL,
	[Ingredient_Set_ID] [bigint] NULL,
	[Transaction_Code] [nvarchar](1) NULL,
	[Representative_Set_Indicator] [nvarchar](1) NULL,
	[Reserve] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[Concept_Type] ASC,
	[Country_Code] ASC,
	[Concept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
