USE [ODSIntake]
GO
/****** Object:  Table [dbo].[NADAC__20171106]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NADAC__20171106](
	[C1] [varchar](8000) NULL
) ON [PRIMARY]
GO
