USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAH_AAP_Contract_Julie]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_AAP_Contract_Julie](
	[Cin] [nvarchar](255) NULL,
	[Ndc] [nvarchar](255) NULL,
	[Cost] [float] NULL,
	[Field10] [nvarchar](255) NULL,
	[gpi] [nvarchar](14) NULL,
	[size] [nvarchar](50) NULL,
	[brand] [bit] NULL
) ON [PRIMARY]
GO
