USE [ODSIntake]
GO
/****** Object:  Table [dbo].[NADAC_Distinct_NDC_AsOfDate]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NADAC_Distinct_NDC_AsOfDate](
	[NDC] [varchar](500) NULL,
	[As of Date] [varchar](500) NULL
) ON [PRIMARY]
GO
