USE [ODSIntake]
GO
/****** Object:  Table [dbo].[DB1Cleanup_DatabaseListing]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB1Cleanup_DatabaseListing](
	[Databases] [nvarchar](255) NULL,
	[Database Status ] [nvarchar](255) NULL
) ON [PRIMARY]
GO
