USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAH_Top100_Sales_RSE_20180328]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_Top100_Sales_RSE_20180328](
	[RankBySalesMonth_CurrentMonth] [int] NULL,
	[NDC_1] [varchar](13) NULL,
	[CIN_1] [varchar](25) NULL,
	[MonthName_1] [varchar](15) NULL,
	[Qty_1] [int] NULL,
	[Sales_1] [money] NULL,
	[RankBySalesMonth_2] [int] NULL,
	[NDC_2] [varchar](13) NULL,
	[CIN_2] [varchar](25) NULL,
	[MonthName_2] [varchar](15) NULL,
	[Qty_2] [int] NULL,
	[Sales_2] [money] NULL,
	[RankBySalesMonth_3] [int] NULL,
	[NDC_3] [varchar](13) NULL,
	[CIN_3] [varchar](25) NULL,
	[MonthName_3] [varchar](15) NULL,
	[Qty_3] [int] NULL,
	[Sales_3] [money] NULL,
	[Description] [varchar](500) NULL,
	[Vendor] [varchar](250) NULL,
	[PackageSize] [numeric](8, 3) NULL,
	[CAHCustomerInvoiceAmount] [varchar](250) NULL,
	[CAHContractType] [varchar](100) NULL,
	[GPI] [varchar](25) NULL
) ON [PRIMARY]
GO
