USE [ODSIntake]
GO
/****** Object:  Table [dbo].[PM_Comparison_20190215]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_Comparison_20190215](
	[PMID] [int] NULL,
	[PMID_Dynamics] [int] NULL,
	[ProductionPMParentID] [int] NULL,
	[CRMPMParentID] [int] NULL,
	[PMParentID_Check] [int] NULL,
	[ProductionAAPAccountNo] [varchar](20) NULL,
	[CRMAAPAccountNo] [varchar](20) NULL,
	[AAPAccountNo_Check] [varchar](20) NULL,
	[ProductionAAPEffectiveDate] [datetime] NULL,
	[CRMAAPEffectiveDate] [datetime] NULL,
	[AAPEffectiveDate_Check] [datetime] NULL,
	[ProductionAAPParentNo] [varchar](20) NULL,
	[CRMAAPParentNo] [varchar](20) NULL,
	[AAPParentNo_Check] [varchar](20) NULL,
	[ProductionAAPPreviousGroup] [varchar](50) NULL,
	[CRMAAPPreviousGroup] [varchar](50) NULL,
	[AAPPreviousGroup_Check] [varchar](50) NULL,
	[ProductionAAPQuitDate] [datetime] NULL,
	[CRMAAPQuitDate] [datetime] NULL,
	[AAPQuitDate_Check] [datetime] NULL,
	[ProductionAAPStatus] [varchar](32) NULL,
	[CRMAAPStatus] [varchar](32) NULL,
	[AAPStatus_Check] [varchar](32) NULL,
	[ProductionAccountDescription] [varchar](200) NULL,
	[CRMAccountDescription] [varchar](200) NULL,
	[AccountDescription_Check] [varchar](200) NULL,
	[ProductionAccountName] [varchar](65) NULL,
	[CRMAccountName] [varchar](65) NULL,
	[AccountName_Check] [varchar](65) NULL,
	[ProductionAllowDupDEA] [varchar](1) NULL,
	[CRMAllowDupDEA] [varchar](1) NULL,
	[AllowDupDEA_Check] [varchar](1) NULL,
	[ProductionAPIAccountNo] [varchar](20) NULL,
	[CRMAPIAccountNo] [varchar](20) NULL,
	[APIAccountNo_Check] [varchar](20) NULL,
	[ProductionAPIDEA] [varchar](50) NULL,
	[CRMAPIDEA] [varchar](50) NULL,
	[APIDEA_Check] [varchar](50) NULL,
	[ProductionAPIMemberNo] [varchar](30) NULL,
	[CRMAPIMemberNo] [varchar](30) NULL,
	[APIMemberNo_Check] [varchar](30) NULL,
	[ProductionAPIPMID] [int] NULL,
	[CRMAPIPMID] [int] NULL,
	[APIPMID_Check] [int] NULL,
	[ProductAPIStatusion] [varchar](32) NULL,
	[CRMAPIStatus] [varchar](32) NULL,
	[APIStatus_Check] [varchar](32) NULL,
	[ProductionAvgWholesaleVolume] [bigint] NULL,
	[CRMAvgWholesaleVolume] [bigint] NULL,
	[AvgWholesaleVolume_Check] [bigint] NULL,
	[ProductionBusinessClass] [varchar](4) NULL,
	[CRMBusinessClass] [varchar](4) NULL,
	[BusinessClass_Check] [varchar](4) NULL,
	[ProductionCAHStatus] [varchar](32) NULL,
	[CRMCAHStatus] [varchar](32) NULL,
	[CAHStatus_Check] [varchar](32) NULL,
	[ProductionCardinalDC] [varchar](32) NULL,
	[CRMCardinalDC] [varchar](32) NULL,
	[CardinalDC_Check] [varchar](32) NULL,
	[ProductionCategoryID] [int] NULL,
	[CRMCategoryID] [int] NULL,
	[CategoryID_Check] [int] NULL,
	[ProductionCompetitiveAcct] [smallint] NULL,
	[CRMCompetitiveAcct] [smallint] NULL,
	[CompetitiveAcct_Check] [smallint] NULL,
	[ProductionComputerSoftware] [varchar](255) NULL,
	[CRMComputerSoftware] [varchar](255) NULL,
	[ComputerSoftware_Check] [varchar](255) NULL,
	[ProductionContractDate] [datetime] NULL,
	[CRMContractDate] [datetime] NULL,
	[ContractDate_Check] [datetime] NULL,
	[ProductionCorporateName] [varchar](100) NULL,
	[CRMCorporateName] [varchar](100) NULL,
	[CorporateName_Check] [varchar](100) NULL,
	[ProductionCustPayTermsAPI] [varchar](20) NULL,
	[CRMCustPayTermsAPI] [varchar](20) NULL,
	[CustPayTermsAPI_Check] [varchar](20) NULL,
	[ProductionDateOpened] [datetime] NULL,
	[CRMDateOpened] [datetime] NULL,
	[DateOpened_Check] [datetime] NULL,
	[ProductionDBA] [varchar](100) NULL,
	[CRMDBA] [varchar](100) NULL,
	[DBA_Check] [varchar](100) NULL,
	[ProductionDEA] [varchar](50) NULL,
	[CRMDEA] [varchar](50) NULL,
	[DEA_Check] [varchar](50) NULL,
	[ProductionDEAEXP] [datetime] NULL,
	[CRMDEAEXP] [datetime] NULL,
	[DEAEXP_Check] [datetime] NULL,
	[ProductionEmail] [varchar](255) NULL,
	[CRMEmail] [varchar](255) NULL,
	[Email_Check] [varchar](255) NULL,
	[ProductionEmergencyPhone] [varchar](15) NULL,
	[CRMEmergencyPhone] [varchar](15) NULL,
	[EmergencyPhone_Check] [varchar](15) NULL,
	[ProductionEstMonthlyVol] [numeric](18, 2) NULL,
	[CRMEstMonthlyVol] [numeric](18, 2) NULL,
	[EstMonthlyVol_Check] [numeric](18, 2) NULL,
	[ProductionFedID] [varchar](12) NULL,
	[CRMFedID] [varchar](12) NULL,
	[FedID_Check] [varchar](12) NULL,
	[ProductionGroupNo] [varchar](20) NULL,
	[CRMGroupNo] [varchar](20) NULL,
	[GroupNo_Check] [varchar](20) NULL,
	[ProductionHolidayHours] [varchar](100) NULL,
	[CRMHolidayHours] [varchar](100) NULL,
	[HolidayHours_Check] [varchar](100) NULL,
	[ProductionHours] [varchar](100) NULL,
	[CRMHours] [varchar](100) NULL,
	[Hours_Check] [varchar](100) NULL,
	[ProductionIsHighVolume] [tinyint] NULL,
	[CRMIsHighVolume] [tinyint] NULL,
	[IsHighVolume_Check] [tinyint] NULL,
	[ProductionStoreHours_HolidayAM] [varchar](5) NULL,
	[CRMStoreHours_HolidayAM] [varchar](5) NULL,
	[StoreHours_HolidayAM_Check] [varchar](5) NULL,
	[ProductioStoreHours_HolidayPMn] [varchar](5) NULL,
	[CRMStoreHours_HolidayPM] [varchar](5) NULL,
	[StoreHours_HolidayPM_Check] [varchar](5) NULL,
	[ProductioStoreHours_MondayFridayAMn] [varchar](5) NULL,
	[CRMStoreHours_MondayFridayAM] [varchar](5) NULL,
	[StoreHours_MondayFridayAM_Check] [varchar](5) NULL,
	[ProductionStoreHours_MondayFridayPM] [varchar](5) NULL,
	[CRMStoreHours_MondayFridayPM] [varchar](5) NULL,
	[StoreHours_MondayFridayPM_Check] [varchar](5) NULL,
	[ProductionStoreHours_SaturdayAM] [varchar](5) NULL,
	[CRMStoreHours_SaturdayAM] [varchar](5) NULL,
	[StoreHours_SaturdayAM_Check] [varchar](5) NULL,
	[ProductionStoreHours_SaturdayPM] [varchar](5) NULL,
	[CRMStoreHours_SaturdayPM] [varchar](5) NULL,
	[StoreHours_SaturdayPM_Check] [varchar](5) NULL,
	[ProductionStoreHours_SundayAM] [varchar](5) NULL,
	[CRMStoreHours_SundayAM] [varchar](5) NULL,
	[StoreHours_SundayAM_Check] [varchar](5) NULL,
	[ProductionStoreHours_SundayPM] [varchar](5) NULL,
	[CRMStoreHours_SundayPM] [varchar](5) NULL,
	[StoreHours_SundayPM_Check] [varchar](5) NULL,
	[ProductionIsStartUpStore] [smallint] NULL,
	[CRMIsStartUpStore] [smallint] NULL,
	[IsStartUpStore_Check] [smallint] NULL,
	[ProductionNCPDP] [varchar](20) NULL,
	[CRMNCPDP] [varchar](20) NULL,
	[NCPDP_Check] [varchar](20) NULL,
	[ProductionNPI] [varchar](50) NULL,
	[CRMNPI] [varchar](50) NULL,
	[NPI_Check] [varchar](50) NULL,
	[ProductionNumReactivated] [int] NULL,
	[CRMNumReactivated] [int] NULL,
	[NumReactivated_Check] [int] NULL,
	[ProductionOrigStartDate] [datetime] NULL,
	[CRMOrigStartDate] [datetime] NULL,
	[OrigStartDate_Check] [datetime] NULL,
	[ProductionOwnerName] [varchar](200) NULL,
	[CRMOwnerName] [varchar](200) NULL,
	[OwnerName_Check] [varchar](200) NULL,
	[ProductionPayee_id] [int] NULL,
	[CRMPayee_id] [int] NULL,
	[Payee_id_Check] [int] NULL,
	[ProductionPrimaryCAAccountNo] [varchar](32) NULL,
	[CRMPrimaryCAAccountNo] [varchar](32) NULL,
	[PrimaryCAAccountNo_Check] [varchar](32) NULL,
	[ProductionPrimaryWholesaler] [int] NULL,
	[CRMPrimaryWholesaler] [int] NULL,
	[PrimaryWholesaler_Check] [int] NULL,
	[ProductionQPS] [varchar](4) NULL,
	[CRMQPS] [varchar](4) NULL,
	[QPS_Check] [varchar](4) NULL,
	[ProductionRank] [bigint] NULL,
	[CRMRank] [bigint] NULL,
	[Rank_Check] [bigint] NULL,
	[ProductionResigned] [varchar](1) NULL,
	[CRMResigned] [varchar](1) NULL,
	[Resigned_Check] [varchar](1) NULL,
	[ProductionSource] [varchar](25) NULL,
	[CRMSource] [varchar](25) NULL,
	[Source_Check] [varchar](25) NULL,
	[ProductionStatus] [varchar](32) NULL,
	[CRMStatus] [varchar](32) NULL,
	[Status_Check] [varchar](32) NULL,
	[ProductionTerritory] [varchar](4) NULL,
	[CRMTerritory] [varchar](4) NULL,
	[Territory_Check] [varchar](4) NULL,
	[ProductionUDAccountNo] [varchar](20) NULL,
	[CRMUDAccountNo] [varchar](20) NULL,
	[UDAccountNo_Check] [varchar](20) NULL,
	[ProductionUDNonPharmacy] [varchar](2) NULL,
	[CRMUDNonPharmacy] [varchar](2) NULL,
	[UDNonPharmacy_Check] [varchar](2) NULL,
	[ProductionUDParentNo] [varchar](25) NULL,
	[CRMUDParentNo] [varchar](25) NULL,
	[UDParentNo_Check] [varchar](25) NULL,
	[ProductionUDQuitDate] [datetime] NULL,
	[CRMUDQuitDate] [datetime] NULL,
	[UDQuitDate_Check] [datetime] NULL,
	[ProductionUDStatus] [varchar](32) NULL,
	[CRMUDStatus] [varchar](32) NULL,
	[UDStatus_Check] [varchar](32) NULL,
	[ProductionWebsite] [varchar](100) NULL,
	[CRMWebsite] [varchar](100) NULL,
	[Website_Check] [varchar](100) NULL,
	[ProductionWholesaler] [varchar](25) NULL,
	[CRMWholesaler] [varchar](25) NULL,
	[Wholesaler_Check] [varchar](25) NULL,
	[ProductionWholesalerAccountNo] [varchar](32) NULL,
	[CRMWholesalerAccountNo] [varchar](32) NULL,
	[WholesalerAccountNo_Check] [varchar](32) NULL,
	[ProductionWhyResigned] [varchar](255) NULL,
	[CRMWhyResigned] [varchar](255) NULL,
	[WhyResigned_Check] [varchar](255) NULL,
	[ProductionIsBuyingGroup] [smallint] NULL,
	[CRMIsBuyingGroup] [smallint] NULL,
	[IsBuyingGroup_Check] [smallint] NULL,
	[ProductionIsPos] [smallint] NULL,
	[CRMIsPos] [smallint] NULL,
	[IsPos_Check] [smallint] NULL,
	[ProductionIsPva] [smallint] NULL,
	[CRMIsPva] [smallint] NULL,
	[IsPva_Check] [smallint] NULL,
	[ProductionFeePaid] [smallint] NULL,
	[CRMFeePaid] [smallint] NULL,
	[FeePaid_Check] [smallint] NULL,
	[ProductionIsManagedCare] [smallint] NULL,
	[CRMIsManagedCare] [smallint] NULL,
	[IsManagedCare_Check] [smallint] NULL,
	[ProductionIsWarehouse] [smallint] NULL,
	[CRMIsWarehouse] [smallint] NULL,
	[IsWarehouse_Check] [smallint] NULL,
	[ProductionIsNPP] [smallint] NULL,
	[CRMIsNPP] [smallint] NULL,
	[IsNPP_Check] [smallint] NULL,
	[ProductionACHEmail] [varchar](255) NULL,
	[CRMACHEmail] [varchar](255) NULL,
	[ACHEmail_Check] [varchar](255) NULL,
	[ProductionCreated] [datetime] NULL,
	[CRMCreated] [datetime] NULL,
	[Created_Check] [datetime] NULL,
	[ProductionModified] [datetime] NULL,
	[CRMModified] [datetime] NULL,
	[Modified_Check] [datetime] NULL,
	[ProductionRowVersion] [int] NULL,
	[CRMRowVersion] [int] NULL,
	[RowVersion_Check] [int] NULL,
	[ProductionMembershipType] [int] NULL,
	[CRMMembershipType] [int] NULL,
	[MembershipType_Check] [int] NULL,
	[ProductionOrganizationType] [int] NULL,
	[CRMOrganizationType] [int] NULL,
	[OrganizationType_Check] [int] NULL,
	[ProductionAuthorizedVoter] [nvarchar](50) NULL,
	[CRMAuthorizedVoter] [nvarchar](50) NULL,
	[AuthorizedVoter_Check] [nvarchar](50) NULL,
	[ProductionMembershipOwner] [varchar](200) NULL,
	[CRMMembershipOwner] [varchar](200) NULL,
	[MembershipOwner_Check] [varchar](200) NULL,
	[ProductionWHSNUM] [varchar](2) NULL,
	[CRMWHSNUM] [varchar](2) NULL,
	[WHSNUM_Check] [varchar](2) NULL,
	[ProductionPlansExcluded] [varchar](255) NULL,
	[CRMPlansExcluded] [varchar](255) NULL,
	[PlansExcluded_Check] [varchar](255) NULL,
	[ProductionIsClaimData] [smallint] NULL,
	[CRMIsClaimData] [smallint] NULL,
	[IsClaimData_Check] [smallint] NULL,
	[ProductionIsUPCData] [smallint] NULL,
	[CRMIsUPCData] [smallint] NULL,
	[IsUPCData_Check] [smallint] NULL,
	[ProductionMedicarePartBNo] [varchar](20) NULL,
	[CRMMedicarePartBNo] [varchar](20) NULL,
	[MedicarePartBNo_Check] [varchar](20) NULL,
	[ProductionDoNotFax] [smallint] NULL,
	[CRMDoNotFax] [smallint] NULL,
	[DoNotFax_Check] [smallint] NULL,
	[ProductionCommunicationPreference] [varchar](1) NULL,
	[CRMCommunicationPreference] [varchar](1) NULL,
	[CommunicationPreference_Check] [varchar](1) NULL,
	[ProductionAPIPaymentMode] [varchar](255) NULL,
	[CRMAPIPaymentMode] [varchar](255) NULL,
	[APIPaymentMode_Check] [varchar](255) NULL,
	[ProductionAAPPaymentMode] [varchar](255) NULL,
	[CRMAAPPaymentMode] [varchar](255) NULL,
	[AAPPaymentMode_Check] [varchar](255) NULL,
	[ProductionNCPA] [varchar](50) NULL,
	[CRMNCPA] [varchar](50) NULL,
	[NCPA_Check] [varchar](50) NULL,
	[ProductionOptOutNCPA] [smallint] NULL,
	[CRMOptOutNCPA] [smallint] NULL,
	[OptOutNCPA_Check] [smallint] NULL,
	[ProductionReasonNotEligibleNCPA] [varchar](255) NULL,
	[CRMReasonNotEligibleNCPA] [varchar](255) NULL,
	[ReasonNotEligibleNCPA_Check] [varchar](255) NULL,
	[new_historicalrecord] [bit] NULL
) ON [PRIMARY]
GO
