USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Marketing_30_days_Jan10]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marketing_30_days_Jan10](
	[PMID] [float] NULL,
	[WHAccountID] [nvarchar](255) NULL,
	[PHARMACY] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Date & Time] [nvarchar](255) NULL,
	[Client] [nvarchar](255) NULL,
	[Operating System] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[F15] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL,
	[F17] [nvarchar](255) NULL,
	[F18] [nvarchar](255) NULL
) ON [PRIMARY]
GO
