USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CRM_AccountEntity_20180305]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_AccountEntity_20180305](
	[accountcategorycode] [int] NULL,
	[accountcategorycodename] [nvarchar](250) NULL,
	[accountclassificationcode] [int] NULL,
	[accountclassificationcodename] [nvarchar](250) NULL,
	[accountnumber] [nvarchar](20) NULL,
	[accountratingcode] [int] NULL,
	[accountratingcodename] [nvarchar](250) NULL,
	[aging30] [money] NULL,
	[aging30_base] [money] NULL,
	[aging60] [money] NULL,
	[aging60_base] [money] NULL,
	[aging90] [money] NULL,
	[aging90_base] [money] NULL,
	[businesstypecode] [int] NULL,
	[businesstypecodename] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyexternalparty] [uniqueidentifier] NULL,
	[createdbyexternalpartyname] [nvarchar](100) NULL,
	[createdbyexternalpartyyominame] [nvarchar](100) NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](250) NULL,
	[customersizecode] [int] NULL,
	[customersizecodename] [nvarchar](250) NULL,
	[customertypecode] [int] NULL,
	[customertypecodename] [nvarchar](250) NULL,
	[defaultpricelevelid] [uniqueidentifier] NULL,
	[defaultpricelevelidname] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](250) NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotbulkpostalmailname] [nvarchar](250) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](250) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](250) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](250) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](250) NULL,
	[donotsendmarketingmaterialname] [nvarchar](250) NULL,
	[donotsendmm] [bit] NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[entityimage] [varbinary](max) NULL,
	[entityimage_timestamp] [bigint] NULL,
	[entityimage_url] [nvarchar](200) NULL,
	[entityimageid] [uniqueidentifier] NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[fax] [nvarchar](50) NULL,
	[followemail] [bit] NULL,
	[followemailname] [nvarchar](250) NULL,
	[ftpsiteurl] [nvarchar](200) NULL,
	[importsequencenumber] [int] NULL,
	[industrycode] [int] NULL,
	[industrycodename] [nvarchar](250) NULL,
	[isprivatename] [nvarchar](250) NULL,
	[lastonholdtime] [datetime] NULL,
	[lastusedincampaign] [datetime] NULL,
	[marketcap] [money] NULL,
	[marketcap_base] [money] NULL,
	[marketingonly] [bit] NULL,
	[marketingonlyname] [nvarchar](250) NULL,
	[masteraccountidname] [nvarchar](100) NULL,
	[masteraccountidyominame] [nvarchar](100) NULL,
	[masterid] [uniqueidentifier] NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](250) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyexternalparty] [uniqueidentifier] NULL,
	[modifiedbyexternalpartyname] [nvarchar](100) NULL,
	[modifiedbyexternalpartyyominame] [nvarchar](100) NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[name] [nvarchar](160) NULL,
	[new_aap_account] [nvarchar](100) NULL,
	[new_aap_effective_date] [datetime] NULL,
	[new_aap_resignation_reason] [int] NULL,
	[new_aap_resignation_reasonname] [nvarchar](250) NULL,
	[new_aapeffectivedatev2] [datetime] NULL,
	[new_aapeffectivedatev3] [datetime] NULL,
	[new_aapparent] [nvarchar](4000) NULL,
	[new_aapparenttext] [nvarchar](100) NULL,
	[new_aapquit] [datetime] NULL,
	[new_aapstatus] [int] NULL,
	[new_aapstatusname] [nvarchar](250) NULL,
	[new_account_subtype] [int] NULL,
	[new_account_subtypename] [nvarchar](250) NULL,
	[new_affiliate] [int] NULL,
	[new_affiliateactive] [datetime] NULL,
	[new_affiliateend] [datetime] NULL,
	[new_affiliatename] [nvarchar](250) NULL,
	[new_aplicor] [nvarchar](100) NULL,
	[new_applicationfeedate] [datetime] NULL,
	[new_applicationreceived] [datetime] NULL,
	[new_at_risk] [int] NULL,
	[new_at_riskname] [nvarchar](250) NULL,
	[new_authorized_voter] [nvarchar](100) NULL,
	[new_authorizedsignature] [nvarchar](100) NULL,
	[new_businessclass] [int] NULL,
	[new_businessclassname] [nvarchar](250) NULL,
	[new_cah_account] [nvarchar](100) NULL,
	[new_cah_avg_volume] [int] NULL,
	[new_cah_cog] [decimal](28, 0) NULL,
	[new_cah_dso] [decimal](28, 0) NULL,
	[new_cah_potential_volume] [int] NULL,
	[new_cah_terms] [int] NULL,
	[new_cah_termsname] [nvarchar](250) NULL,
	[new_category] [int] NULL,
	[new_categoryname] [nvarchar](250) NULL,
	[new_combinedvolume] [int] NULL,
	[new_computer_software] [int] NULL,
	[new_computer_softwarename] [nvarchar](250) NULL,
	[new_conference2015] [int] NULL,
	[new_conference2015name] [nvarchar](250) NULL,
	[new_conference2016] [int] NULL,
	[new_conference2016name] [nvarchar](250) NULL,
	[new_conference2017] [int] NULL,
	[new_conference2017name] [nvarchar](250) NULL,
	[new_copyphysicaltofinancial] [bit] NULL,
	[new_copyphysicaltofinancialname] [nvarchar](250) NULL,
	[new_copyphysicaltomailing] [bit] NULL,
	[new_copyphysicaltomailingname] [nvarchar](250) NULL,
	[new_copytomarketingemail] [bit] NULL,
	[new_copytomarketingemailname] [nvarchar](250) NULL,
	[new_corporatename] [nvarchar](100) NULL,
	[new_county] [nvarchar](100) NULL,
	[new_dea] [nvarchar](100) NULL,
	[new_deaexpiration] [datetime] NULL,
	[new_diversionce] [datetime] NULL,
	[new_edi_activation_date] [datetime] NULL,
	[new_edi_app_received_date] [datetime] NULL,
	[new_edi_approved_date] [datetime] NULL,
	[new_fed_tax] [nvarchar](100) NULL,
	[new_fee_paid] [int] NULL,
	[new_fee_paidname] [nvarchar](250) NULL,
	[new_gcr] [decimal](28, 0) NULL,
	[new_generalemail2] [nvarchar](4000) NULL,
	[new_group] [nvarchar](100) NULL,
	[new_groupalliance] [int] NULL,
	[new_groupalliancename] [nvarchar](250) NULL,
	[new_hours_saturday_close] [nvarchar](100) NULL,
	[new_hours_saturday_open] [nvarchar](100) NULL,
	[new_hours_sunday_close] [nvarchar](100) NULL,
	[new_hours_sunday_open] [nvarchar](100) NULL,
	[new_hours_weekdays_close] [nvarchar](100) NULL,
	[new_hours_weekdays_open] [nvarchar](100) NULL,
	[new_industrysupportfund] [int] NULL,
	[new_industrysupportfundname] [nvarchar](250) NULL,
	[new_lastsalescall] [datetime] NULL,
	[new_marketingemail] [nvarchar](100) NULL,
	[new_mc_affiliation] [int] NULL,
	[new_mc_affiliationname] [nvarchar](250) NULL,
	[new_mc_effective_date] [datetime] NULL,
	[new_mc_network] [int] NULL,
	[new_mc_networkname] [nvarchar](250) NULL,
	[new_mc_termination_date] [datetime] NULL,
	[new_memb_received_date] [datetime] NULL,
	[new_ncpdp] [nvarchar](7) NULL,
	[new_npi] [nvarchar](1000) NULL,
	[new_orderingcontact] [nvarchar](100) NULL,
	[new_orderingcontactlookup] [uniqueidentifier] NULL,
	[new_orderingcontactlookupname] [nvarchar](100) NULL,
	[new_orderingcontactlookupyominame] [nvarchar](100) NULL,
	[new_org_type] [int] NULL,
	[new_org_typename] [nvarchar](250) NULL,
	[new_ownertype] [int] NULL,
	[new_ownertypename] [nvarchar](250) NULL,
	[new_parentaccounttext] [nvarchar](100) NULL,
	[new_pharmacist] [nvarchar](100) NULL,
	[new_pharmacistlicense] [nvarchar](100) NULL,
	[new_pharmacistlicenseexpiration] [datetime] NULL,
	[new_pharmacyowner] [nvarchar](100) NULL,
	[new_pharmacyownerlookup] [uniqueidentifier] NULL,
	[new_pharmacyownerlookupname] [nvarchar](100) NULL,
	[new_pharmacyownerlookupyominame] [nvarchar](100) NULL,
	[new_planogram] [int] NULL,
	[new_planogramname] [nvarchar](250) NULL,
	[new_pmid] [nvarchar](100) NULL,
	[new_previousgroupalliance] [int] NULL,
	[new_previousgroupalliancename] [nvarchar](250) NULL,
	[new_previousprimarywholesaler] [int] NULL,
	[new_previousprimarywholesalername] [nvarchar](250) NULL,
	[new_primarycontact] [nvarchar](100) NULL,
	[new_scantoss_activation_date] [datetime] NULL,
	[new_scantoss_app_received_date] [datetime] NULL,
	[new_scantoss_eligible_date] [datetime] NULL,
	[new_scantoss_status] [int] NULL,
	[new_scantoss_statusname] [nvarchar](250) NULL,
	[new_scantoss_version] [int] NULL,
	[new_scantoss_versionname] [nvarchar](250) NULL,
	[new_softwareliabilitywaiver] [datetime] NULL,
	[new_startup] [int] NULL,
	[new_startupname] [nvarchar](250) NULL,
	[new_state_lic] [nvarchar](100) NULL,
	[new_state_lic_exp_date] [datetime] NULL,
	[new_state_tax] [nvarchar](100) NULL,
	[new_stbrandsmartplus] [money] NULL,
	[new_stbrandsmartplus_base] [money] NULL,
	[new_territories] [int] NULL,
	[new_territoriesname] [nvarchar](250) NULL,
	[new_territory] [int] NULL,
	[new_territoryname] [nvarchar](250) NULL,
	[new_wholesaler] [int] NULL,
	[new_wholesalername] [nvarchar](250) NULL,
	[numberofemployees] [int] NULL,
	[onholdtime] [int] NULL,
	[opendeals] [int] NULL,
	[opendeals_date] [datetime] NULL,
	[opendeals_state] [int] NULL,
	[openrevenue] [money] NULL,
	[openrevenue_base] [money] NULL,
	[openrevenue_date] [datetime] NULL,
	[openrevenue_state] [int] NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadidname] [nvarchar](100) NULL,
	[originatingleadidyominame] [nvarchar](100) NULL,
	[overriddencreatedon] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[owneridyominame] [nvarchar](100) NULL,
	[ownershipcode] [int] NULL,
	[ownershipcodename] [nvarchar](250) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[parentaccountid] [uniqueidentifier] NULL,
	[parentaccountidname] [nvarchar](100) NULL,
	[parentaccountidyominame] [nvarchar](100) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](250) NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](250) NULL,
	[preferredappointmentdaycode] [int] NULL,
	[preferredappointmentdaycodename] [nvarchar](250) NULL,
	[preferredappointmenttimecode] [int] NULL,
	[preferredappointmenttimecodename] [nvarchar](250) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](250) NULL,
	[preferredequipmentid] [uniqueidentifier] NULL,
	[preferredequipmentidname] [nvarchar](100) NULL,
	[preferredserviceid] [uniqueidentifier] NULL,
	[preferredserviceidname] [nvarchar](100) NULL,
	[preferredsystemuserid] [uniqueidentifier] NULL,
	[preferredsystemuseridname] [nvarchar](100) NULL,
	[preferredsystemuseridyominame] [nvarchar](100) NULL,
	[primarycontactid] [uniqueidentifier] NULL,
	[primarycontactidname] [nvarchar](100) NULL,
	[primarycontactidyominame] [nvarchar](100) NULL,
	[primarysatoriid] [nvarchar](200) NULL,
	[primarytwitterid] [nvarchar](20) NULL,
	[processid] [uniqueidentifier] NULL,
	[revenue] [money] NULL,
	[revenue_base] [money] NULL,
	[sharesoutstanding] [int] NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](250) NULL,
	[sic] [nvarchar](20) NULL,
	[slaid] [uniqueidentifier] NULL,
	[slainvokedid] [uniqueidentifier] NULL,
	[slainvokedidname] [nvarchar](100) NULL,
	[slaname] [nvarchar](100) NULL,
	[stageid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[stockexchange] [nvarchar](20) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[territorycode] [int] NULL,
	[territorycodename] [nvarchar](250) NULL,
	[territoryid] [uniqueidentifier] NULL,
	[territoryidname] [nvarchar](100) NULL,
	[tickersymbol] [nvarchar](10) NULL,
	[timespentbymeonemailandmeetings] [nvarchar](1250) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yominame] [nvarchar](160) NULL,
	[accountid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
