USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Book3]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book3](
	[ItemID] [varchar](50) NULL,
	[Sa Rnk] [varchar](50) NULL
) ON [PRIMARY]
GO
