USE [ODSIntake]
GO
/****** Object:  Table [dbo].[AAPCardinalAccounts_old]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAPCardinalAccounts_old](
	[Marker] [bit] NOT NULL,
	[PMID] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[DEA#] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[AKA] [nvarchar](255) NULL,
	[API acct] [nvarchar](255) NULL,
	[AAP Number] [nvarchar](255) NULL,
	[AAP Parent#] [nvarchar](255) NULL,
	[MCA on File] [bit] NOT NULL,
	[Bs Class] [nvarchar](255) NULL,
	[AAP Affiliate] [nvarchar](255) NULL,
	[CA Master Number] [nvarchar](255) NULL,
	[Cardinal Division#] [nvarchar](255) NULL,
	[Cardinal DC] [nvarchar](255) NULL,
	[Primary CA Acct#] [nvarchar](255) NULL,
	[2nd Cardinal cust] [nvarchar](255) NULL,
	[3rd Cardinal cust] [nvarchar](255) NULL,
	[POS Acct] [nvarchar](255) NULL,
	[Scan-Toss Acct] [nvarchar](255) NULL,
	[CSOS Acct] [nvarchar](255) NULL,
	[AAP Contract Date] [datetime] NULL,
	[Termination Date] [datetime] NULL,
	[Multiple Store] [bit] NOT NULL,
	[Multiple Store Code] [nvarchar](255) NULL,
	[Group Code] [nvarchar](255) NULL,
	[Current Est Mo Sales] [money] NULL,
	[Current Grp Total] [money] NULL,
	[Est Volume at Load] [money] NULL,
	[Last Review Date] [datetime] NULL,
	[Current API COG] [float] NULL,
	[Current CA COG] [float] NULL,
	[Payment Terms description] [nvarchar](255) NULL,
	[Payment Terms Code] [nvarchar](255) NULL,
	[Pending Changes] [bit] NOT NULL,
	[Change Pending] [nvarchar](255) NULL,
	[Notes COG Differences] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[AAP Rep] [nvarchar](255) NULL,
	[Excpt to Matrix] [bit] NOT NULL,
	[Optional Pay Terms] [bit] NOT NULL,
	[Contracted DSO] [float] NULL,
	[WAPD] [float] NULL,
	[DSO] [float] NULL,
	[Last Update] [datetime] NULL,
	[WAPD 2nd Acct] [float] NULL,
	[DSO 2nd Acct] [float] NULL,
	[Sublogic Change] [bit] NOT NULL,
	[Notes on Terms] [nvarchar](255) NULL,
	[High Volume Rebate] [bit] NOT NULL,
	[Est Annual Vol on comn own] [money] NULL,
	[Second Division] [nvarchar](255) NULL,
	[2nd Primary Number] [nvarchar](255) NULL,
	[2nd 2nd] [nvarchar](255) NULL,
	[2nd 3rd] [nvarchar](255) NULL,
	[2nd POS] [nvarchar](255) NULL,
	[2nd CSOS] [nvarchar](255) NULL,
	[2nd CST] [nvarchar](255) NULL,
	[Third Division] [nvarchar](255) NULL,
	[3rd Primary Number] [nvarchar](255) NULL,
	[3rd 2nd] [nvarchar](255) NULL,
	[3rd POS] [nvarchar](255) NULL,
	[3rd CSOS] [nvarchar](255) NULL,
	[3rd CST] [nvarchar](255) NULL,
	[Matrix Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
