USE [ODSIntake]
GO
/****** Object:  StoredProcedure [dbo].[usp_RS1]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RS1]

	@FileName VARCHAR(500)

AS 

SET NOCOUNT ON;

BEGIN

	INSERT INTO dbo.RS1_FileLog_Delete([FileName])
	VALUES(@FileName)

END
GO
