USE [ODSIntake]
GO
/****** Object:  Table [dbo].[SalesFact_CAH]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesFact_CAH](
	[DateKey] [int] NOT NULL,
	[COUNT] [int] NULL
) ON [PRIMARY]
GO
