USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAH_20171006_Error]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_20171006_Error](
	[CompetitorDrugKey] [varchar](50) NULL,
	[CAHContractType] [varchar](50) NULL
) ON [PRIMARY]
GO
