USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CRM_TaskEntity_20180305]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_TaskEntity_20180305](
	[activityadditionalparams] [nvarchar](max) NULL,
	[activityid] [uniqueidentifier] NULL,
	[activitytypecode] [nvarchar](250) NULL,
	[activitytypecodename] [nvarchar](250) NULL,
	[actualdurationminutes] [int] NULL,
	[actualend] [date] NULL,
	[actualstart] [date] NULL,
	[category] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[crmtaskassigneduniqueid] [uniqueidentifier] NULL,
	[description] [nvarchar](max) NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[importsequencenumber] [int] NULL,
	[isbilled] [bit] NULL,
	[isbilledname] [nvarchar](250) NULL,
	[isregularactivity] [bit] NULL,
	[isregularactivityname] [nvarchar](250) NULL,
	[isworkflowcreated] [bit] NULL,
	[isworkflowcreatedname] [nvarchar](250) NULL,
	[lastonholdtime] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[onholdtime] [int] NULL,
	[overriddencreatedon] [date] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[owneridyominame] [nvarchar](100) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[percentcomplete] [int] NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](250) NULL,
	[processid] [uniqueidentifier] NULL,
	[regardingobjectid] [uniqueidentifier] NULL,
	[regardingobjectidname] [nvarchar](100) NULL,
	[regardingobjectidyominame] [nvarchar](100) NULL,
	[regardingobjecttypecode] [nvarchar](250) NULL,
	[scheduleddurationminutes] [int] NULL,
	[scheduledend] [datetime] NULL,
	[scheduledstart] [datetime] NULL,
	[serviceid] [uniqueidentifier] NULL,
	[slaid] [uniqueidentifier] NULL,
	[slainvokedid] [uniqueidentifier] NULL,
	[slainvokedidname] [nvarchar](100) NULL,
	[slaname] [nvarchar](100) NULL,
	[sortdate] [datetime] NULL,
	[stageid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[subcategory] [nvarchar](250) NULL,
	[subject] [nvarchar](200) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRM_TaskEntity_20180305] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
