USE [ODSIntake]
GO
/****** Object:  Table [dbo].[O1966-072120171024]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O1966-072120171024](
	[Column 0] [varchar](500) NULL,
	[Column 1] [varchar](500) NULL,
	[Column 2] [varchar](500) NULL,
	[Column 3] [varchar](500) NULL,
	[Column 4] [varchar](500) NULL,
	[Column 5] [varchar](500) NULL,
	[Column 6] [varchar](500) NULL,
	[Column 7] [varchar](500) NULL,
	[Column 8] [varchar](500) NULL,
	[Column 9] [varchar](500) NULL,
	[Column 10] [varchar](500) NULL,
	[Column 11] [varchar](500) NULL,
	[Column 12] [varchar](500) NULL,
	[Column 13] [varchar](500) NULL,
	[Column 14] [varchar](500) NULL,
	[Column 15] [varchar](500) NULL,
	[Column 16] [varchar](500) NULL,
	[Column 17] [varchar](500) NULL
) ON [PRIMARY]
GO
