USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Sales20171115_1158]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales20171115_1158](
	["InvDate"] [varchar](50) NULL,
	["InvNbr"] [varchar](50) NULL,
	["InvLine"] [varchar](50) NULL,
	["CustNbr"] [varchar](50) NULL,
	["Cust"] [varchar](50) NULL,
	["Item"] [varchar](50) NULL,
	["NDC"] [varchar](50) NULL,
	["Qty"] [varchar](50) NULL,
	["ItemAmt"] [varchar](50) NULL,
	["ItermGrp"] [varchar](50) NULL,
	["AcctGrp"] [varchar](50) NULL,
	["Slsman"] [varchar](50) NULL,
	["LineAmt"] [varchar](50) NULL,
	["ExtSales"] [varchar](50) NULL,
	["SalesOrd"] [varchar](50) NULL,
	["Rebate"] [varchar](50) NULL,
	["NbrLines"] [varchar](50) NULL
) ON [PRIMARY]
GO
