USE [ODSIntake]
GO
/****** Object:  Table [dbo].[AAPPayDays]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAPPayDays](
	[DatePaid] [datetime] NULL
) ON [PRIMARY]
GO
