USE [ODSIntake]
GO
/****** Object:  StoredProcedure [dbo].[usp_SQLJob_NoReport]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SQLJob_NoReport]

AS

SET NOCOUNT ON;

BEGIN

	DECLARE @Recepients VARCHAR(500)

	--Set email recepient for report
	SET @Recepients = 'scott.edwards@rxaap.com;yodi.haile@rxaap.com'


	EXEC msdb.dbo.sp_send_dbmail 
		@profile_name = 'AAPDW1 mail',
		@recipients= @Recepients,  
		@subject = 'SQL Job Report',  
		@body = 'No SQL Job errors to report.'


END
GO
