USE [ODSIntake]
GO
/****** Object:  Table [dbo].[RXFilesProcessed]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RXFilesProcessed](
	[FileProcessed] [varchar](1000) NULL
) ON [PRIMARY]
GO
