USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CardinalNew_AAP_20190805]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardinalNew_AAP_20190805](
	[DC] [varchar](50) NULL,
	[CUSTOMER NAME] [varchar](50) NULL,
	[CUSTOMER #] [varchar](50) NULL,
	[Item #] [varchar](50) NULL,
	[Store] [varchar](50) NULL,
	[NDC] [varchar](50) NULL,
	[ITEM TYPE] [varchar](50) NULL,
	[ITEM DESCR] [varchar](50) NULL,
	[GENERIC NAME] [varchar](50) NULL,
	[TRADE NAME] [varchar](50) NULL,
	[INV DATE] [varchar](50) NULL,
	[INVOICE #] [varchar](50) NULL,
	[TYPE] [varchar](50) NULL,
	[ORDER QTY] [varchar](50) NULL,
	[SHIP QTY] [varchar](50) NULL,
	[UNIT COST] [varchar](50) NULL,
	[EXT COST] [varchar](50) NULL,
	[CORP AWP] [varchar](50) NULL,
	[WAC    ] [varchar](50) NULL,
	[VENDOR NAME] [varchar](50) NULL,
	[UPC    ] [varchar](50) NULL,
	[CONTRACT FLAG] [varchar](50) NULL,
	[BRAND] [varchar](50) NULL,
	[GENERIC CODE] [varchar](50) NULL,
	[STRENGTH] [varchar](50) NULL,
	[SHORT CODE] [varchar](50) NULL,
	[ENCODING] [varchar](50) NULL,
	[Contract #] [varchar](50) NULL,
	[Contr Descr] [varchar](50) NULL,
	[Order#] [varchar](50) NULL
) ON [PRIMARY]
GO
