USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Markerting_30_days_October9]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markerting_30_days_October9](
	[PMID] [nvarchar](255) NULL,
	[WHAccountID] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Date & Time] [nvarchar](255) NULL,
	[Client] [nvarchar](255) NULL,
	[Operating System] [nvarchar](255) NULL
) ON [PRIMARY]
GO
