USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Medispan_PackageDrug_DrugMaster_20171006]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medispan_PackageDrug_DrugMaster_20171006](
	[PackageCode] [varchar](50) NULL,
	[PackageDescription] [varchar](50) NULL
) ON [PRIMARY]
GO
