USE [ODSIntake]
GO
/****** Object:  Table [dbo].[ListLegisymOrdersWeekend]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListLegisymOrdersWeekend](
	[SHSRGP] [nvarchar](255) NULL,
	[SHSRID] [nvarchar](255) NULL,
	[SHNANO] [nvarchar](255) NULL,
	[SHDESC] [nvarchar](255) NULL,
	[SHORNO] [nvarchar](255) NULL,
	[WHSNUM] [nvarchar](255) NULL
) ON [PRIMARY]
GO
