USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAHBRand_Julie]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAHBRand_Julie](
	[Cin] [nvarchar](255) NULL,
	[Ndc] [nvarchar](255) NULL,
	[Cost] [float] NULL
) ON [PRIMARY]
GO
