USE [ODSIntake]
GO
/****** Object:  Table [dbo].[AAPActiveAccounts]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAPActiveAccounts](
	[<?xml version "1 0" encoding "UTF-8"?>] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
