USE [ODSIntake]
GO
/****** Object:  Table [dbo].[API_Medispan_20201221]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Medispan_20201221](
	[Column 0] [varchar](500) NULL,
	[Column 1] [varchar](500) NULL,
	[Column 2] [varchar](500) NULL,
	[Column 3] [varchar](500) NULL,
	[Column 4] [varchar](500) NULL,
	[Column 5] [varchar](500) NULL,
	[Column 6] [varchar](500) NULL
) ON [PRIMARY]
GO
