USE [ODSIntake]
GO
/****** Object:  Table [dbo].[RX30_Dups_20171002]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RX30_Dups_20171002](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[RN] [bigint] NULL,
 CONSTRAINT [CPK_1] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
