USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Data_Bob_20170922]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Bob_20170922](
	[Qty] [float] NULL,
	[ItemNum] [float] NULL,
	[UnitPrice] [float] NULL
) ON [PRIMARY]
GO
