USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CRM_AccountEntity_Address_20180305]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_AccountEntity_Address_20180305](
	[accountid] [uniqueidentifier] NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](250) NULL,
	[address1_city] [nvarchar](80) NULL,
	[address1_composite] [nvarchar](100) NULL,
	[address1_country] [nvarchar](80) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_freighttermscode] [int] NULL,
	[address1_freighttermscodename] [nvarchar](250) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](250) NULL,
	[address1_line2] [nvarchar](250) NULL,
	[address1_line3] [nvarchar](250) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_primarycontactname] [nvarchar](100) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](250) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](250) NULL,
	[address2_city] [nvarchar](80) NULL,
	[address2_country] [nvarchar](80) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_freighttermscode] [int] NULL,
	[address2_freighttermscodename] [nvarchar](250) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](250) NULL,
	[address2_line2] [nvarchar](250) NULL,
	[address2_line3] [nvarchar](250) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_primarycontactname] [nvarchar](100) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](250) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[new_financialcity] [nvarchar](100) NULL,
	[new_financialstate] [nvarchar](100) NULL,
	[new_financialstreet1] [nvarchar](100) NULL,
	[new_financialstreet2] [nvarchar](100) NULL,
	[new_financialstreet3] [nvarchar](100) NULL,
	[new_financialzip] [nvarchar](100) NULL
) ON [PRIMARY]
GO
