USE [ODSIntake]
GO
/****** Object:  Table [dbo].[McKesson_20180406]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McKesson_20180406](
	[Item #] [varchar](500) NULL,
	[NDC UPC] [varchar](500) NULL,
	[Generic Description] [varchar](500) NULL,
	[      Current Price      ] [varchar](500) NULL,
	[Column 4] [varchar](500) NULL
) ON [PRIMARY]
GO
