USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Db1CleanUp_ChrisM]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Db1CleanUp_ChrisM](
	[Object_Name] [nvarchar](255) NULL,
	[definition] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
