USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Clendinin_Nova_20180801]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clendinin_Nova_20180801](
	[NDC] [nvarchar](255) NULL,
	[CIN] [nvarchar](255) NULL,
	[Desc] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Qty] [nvarchar](255) NULL,
	[AAP Price] [money] NULL,
	[Comp Price] [nvarchar](255) NULL
) ON [PRIMARY]
GO
