USE [ODSIntake]
GO
/****** Object:  Table [dbo].[APITop100_20180416]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APITop100_20180416](
	[API_Item] [varchar](50) NULL
) ON [PRIMARY]
GO
