USE [ODSIntake]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[PRODUCTID] [varchar](8000) NULL,
	[PRODUCTNDC] [varchar](8000) NULL,
	[PRODUCTTYPENAME] [varchar](8000) NULL,
	[PROPRIETARYNAME] [varchar](8000) NULL,
	[PROPRIETARYNAMESUFFIX] [varchar](8000) NULL,
	[NONPROPRIETARYNAME] [varchar](8000) NULL,
	[DOSAGEFORMNAME] [varchar](8000) NULL,
	[ROUTENAME] [varchar](8000) NULL,
	[STARTMARKETINGDATE] [varchar](8000) NULL,
	[ENDMARKETINGDATE] [varchar](8000) NULL,
	[MARKETINGCATEGORYNAME] [varchar](8000) NULL,
	[APPLICATIONNUMBER] [varchar](8000) NULL,
	[LABELERNAME] [varchar](8000) NULL,
	[SUBSTANCENAME] [varchar](8000) NULL,
	[ACTIVE_NUMERATOR_STRENGTH] [varchar](8000) NULL,
	[ACTIVE_INGRED_UNIT] [varchar](8000) NULL,
	[PHARM_CLASSES] [varchar](8000) NULL,
	[DEASCHEDULE] [varchar](8000) NULL
) ON [PRIMARY]
GO
