USE [ODSIntake]
GO
/****** Object:  Table [dbo].[McKesson_clean_20180613]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McKesson_clean_20180613](
	[ItemNumber] [varchar](500) NULL,
	[NDC] [varchar](500) NULL,
	[SellDescription] [varchar](500) NULL,
	[GenericDoseForm] [varchar](500) NULL,
	[PreviousProperContractPrice] [varchar](500) NULL,
	[PreviousSpecialPriceCode] [varchar](500) NULL,
	[ProperContractPrice] [varchar](500) NULL,
	[Special Price Code] [varchar](500) NULL,
	[PreviousAwpPrice] [varchar](500) NULL,
	[AwpPrice] [varchar](500) NULL,
	[RetailPrice] [varchar](500) NULL,
	[PreviousRetailPrice] [varchar](500) NULL,
	[PurchasePriceDifference] [varchar](500) NULL,
	[AwpPriceDifference] [varchar](500) NULL,
	[DoseStrengthDescriptionName] [varchar](500) NULL,
	[GenericName] [varchar](500) NULL,
	[RetailSellUnitCode] [varchar](500) NULL,
	[UnitSellPrice] [varchar](500) NULL,
	[GenericManufactureSizeAmount] [varchar](500) NULL,
	[SupplierAccountName] [varchar](500) NULL,
	[Upc] [varchar](500) NULL,
	[GenericMsIndicator] [varchar](500) NULL,
	[PreferRxIndicator] [varchar](500) NULL,
	[RxPakIndicator] [varchar](500) NULL,
	[SelectGenericIndicator] [varchar](500) NULL,
	[PrivateLabelCode] [varchar](500) NULL,
	[ControlSubstanceCode] [varchar](500) NULL,
	[GenericIndicator] [varchar](500) NULL,
	[MicaDepartmentId] [varchar](500) NULL,
	[DropShipIndicator] [varchar](500) NULL,
	[ItemStatusCode] [varchar](500) NULL,
	[ManufactureSizeQuantity] [varchar](500) NULL,
	[ManufactureUnitCode] [varchar](500) NULL,
	[SkuCode] [varchar](500) NULL,
	[MckTherapeuticFormularyServiceNumber] [varchar](500) NULL,
	[UnitDoseCode] [varchar](500) NULL,
	[MckItemOverpackCode] [varchar](500) NULL,
	[CaseQuantity] [varchar](500) NULL,
	[ManufactureMinOrderQuantity] [varchar](500) NULL,
	[GenericId] [varchar](500) NULL,
	[XpndOrangeBookCode] [varchar](500) NULL,
	[NationalBasCost] [varchar](500) NULL,
	[SuggestedRetailPrice] [varchar](500) NULL,
	[ValuRiteIndicator] [varchar](500) NULL,
	[GenericPriceTypeCode] [varchar](500) NULL,
	[UnitSizeCode] [varchar](500) NULL,
	[PreviousNdc] [varchar](500) NULL,
	[PreviousNdcEffectiveDate] [varchar](500) NULL,
	[PreviousUpc] [varchar](500) NULL,
	[PreviousUpcEffectiveDate] [varchar](500) NULL,
	[CustomerAccountId] [varchar](500) NULL,
	[BeginDate] [varchar](500) NULL,
	[EndDate] [varchar](500) NULL,
	[ContractLeadId] [varchar](500) NULL,
	[ContractBidPrice] [varchar](500) NULL,
	[RetailGrossProfitPercent] [varchar](500) NULL,
	[AveragePurchaseQuantity] [varchar](500) NULL,
	[LastPurchaseQuantity] [varchar](500) NULL,
	[LastPurchaseDate] [varchar](500) NULL,
	[CustomerItemDepartmentId] [varchar](500) NULL,
	[CustomerItemNumber] [varchar](500) NULL,
	[DcStockedIndicator] [varchar](500) NULL,
	[ContractMinOrderQuantity] [varchar](500) NULL,
	[Regular Price] [varchar](500) NULL,
	[Contract Effective Date] [varchar](500) NULL,
	[Contract End Date] [varchar](500) NULL,
	[Pkg Size Multiplier] [varchar](500) NULL,
	[User Pack Size] [varchar](500) NULL,
	[User Days Supply  for ROP] [varchar](500) NULL,
	[User Days Supply for ROQ] [varchar](500) NULL,
	[UPC Effective Date] [varchar](500) NULL,
	[NDC Effective Date] [varchar](500) NULL,
	[Top 200 Rank] [varchar](500) NULL,
	[Placeholder1] [varchar](500) NULL,
	[Placeholder2] [varchar](500) NULL,
	[AWPPriceChangeDate] [varchar](500) NULL,
	[User Field #1] [varchar](500) NULL,
	[User Field #2] [varchar](500) NULL,
	[User Field #3] [varchar](500) NULL,
	[User Field #4] [varchar](500) NULL,
	[User Field #5] [varchar](500) NULL,
	[Preferred Indicator] [varchar](500) NULL,
	[Drug Schedule Code] [varchar](500) NULL,
	[Contract Description] [varchar](500) NULL,
	[Est  Net Price] [varchar](500) NULL,
	[HCPCS J Code] [varchar](500) NULL,
	[NDC_2] [varchar](500) NULL,
	[Therapeutic Name] [varchar](500) NULL,
	[AccumDispQty] [varchar](500) NULL,
	[Column 89] [varchar](500) NULL,
	[DateKey] [int] NULL
) ON [PRIMARY]
GO
