USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CRM_AccountEntity_RSE_20180607]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_AccountEntity_RSE_20180607](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[accountclassificationcode] [int] NULL,
	[accountclassificationcodename] [nvarchar](250) NULL,
	[accountid] [uniqueidentifier] NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](250) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotemail] [bit] NULL,
	[donotfax] [bit] NULL,
	[donotphone] [bit] NULL,
	[donotpostalmail] [bit] NULL,
	[donotsendmm] [bit] NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[fax] [nvarchar](50) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[name] [nvarchar](160) NULL,
	[new_aap_account] [nvarchar](100) NULL,
	[new_aap_effective_date] [date] NULL,
	[new_aap_resignation_reason] [int] NULL,
	[new_aap_resignation_reasonname] [nvarchar](250) NULL,
	[new_aapmembershiptype] [int] NULL,
	[new_aapmembershiptypename] [nvarchar](250) NULL,
	[new_aapparent] [nvarchar](4000) NULL,
	[new_aapparenttext] [nvarchar](100) NULL,
	[new_aapquit] [date] NULL,
	[new_aapstatus] [int] NULL,
	[new_aapstatusname] [nvarchar](250) NULL,
	[new_aaptermnotice] [date] NULL,
	[new_account_subtype] [int] NULL,
	[new_account_subtypename] [nvarchar](250) NULL,
	[new_affiliate] [int] NULL,
	[new_affiliateactive] [date] NULL,
	[new_affiliateend] [date] NULL,
	[new_affiliategroup] [int] NULL,
	[new_affiliategroupname] [nvarchar](250) NULL,
	[new_affiliatename] [nvarchar](250) NULL,
	[new_api_account] [nvarchar](100) NULL,
	[new_api_app_credit_date] [date] NULL,
	[new_api_app_status] [int] NULL,
	[new_api_app_statusname] [nvarchar](250) NULL,
	[new_api_approved_date] [date] NULL,
	[new_api_csos_approved_date] [date] NULL,
	[new_api_csos_declined_date] [date] NULL,
	[new_api_csos_installed_date] [date] NULL,
	[new_api_csos_profile_received_date] [date] NULL,
	[new_api_cutoff] [int] NULL,
	[new_api_cutoffname] [nvarchar](250) NULL,
	[new_api_order_method] [int] NULL,
	[new_api_order_methodname] [nvarchar](250) NULL,
	[new_api_photos_received_date] [date] NULL,
	[new_api_terms] [int] NULL,
	[new_api_termsname] [nvarchar](250) NULL,
	[new_apiaccountactivation] [date] NULL,
	[new_apialert] [int] NULL,
	[new_apialertname] [nvarchar](250) NULL,
	[new_apibrands] [int] NULL,
	[new_apicreditalert] [int] NULL,
	[new_apicreditalertname] [nvarchar](250) NULL,
	[new_apicreditlimit] [int] NULL,
	[new_apicsosalert] [int] NULL,
	[new_apicsosalertname] [nvarchar](250) NULL,
	[new_apicsosstatus] [int] NULL,
	[new_apicsosstatusname] [nvarchar](250) NULL,
	[new_apidefaultshipping] [int] NULL,
	[new_apidefaultshippingname] [nvarchar](250) NULL,
	[new_apifreight] [int] NULL,
	[new_apifreightname] [nvarchar](250) NULL,
	[new_apigenerics] [int] NULL,
	[new_apimot] [int] NULL,
	[new_apimotname] [nvarchar](250) NULL,
	[new_apiotcs] [int] NULL,
	[new_apipaymentmethod] [int] NULL,
	[new_apipaymentmethodname] [nvarchar](250) NULL,
	[new_apiquestionniare] [int] NULL,
	[new_apiquestionniarename] [nvarchar](250) NULL,
	[new_apirefrigerated] [bit] NULL,
	[new_apirefrigeratedname] [nvarchar](250) NULL,
	[new_apistatus] [int] NULL,
	[new_apistatusname] [nvarchar](250) NULL,
	[new_apitotals] [int] NULL,
	[new_apiwarehouse] [int] NULL,
	[new_apiwarehousename] [nvarchar](250) NULL,
	[new_aplicor] [nvarchar](100) NULL,
	[new_applicationfeedate] [date] NULL,
	[new_applicationreceived] [date] NULL,
	[new_at_risk] [int] NULL,
	[new_at_riskname] [nvarchar](250) NULL,
	[new_authorized_voter] [nvarchar](100) NULL,
	[new_authorizedsignature] [nvarchar](100) NULL,
	[new_automation] [int] NULL,
	[new_automationname] [nvarchar](250) NULL,
	[new_averagevolume] [int] NULL,
	[new_businessclass] [int] NULL,
	[new_businessclassname] [nvarchar](250) NULL,
	[new_cah_account] [nvarchar](100) NULL,
	[new_cah_avg_volume] [int] NULL,
	[new_cah_cog] [decimal](28, 0) NULL,
	[new_cah_dso] [decimal](28, 0) NULL,
	[new_cah_potential_volume] [int] NULL,
	[new_cah_terms] [int] NULL,
	[new_cah_termsname] [nvarchar](250) NULL,
	[new_cahpvacontractdate] [date] NULL,
	[new_cahpvaeffdatenewagreement] [date] NULL,
	[new_cahpvalastreview] [date] NULL,
	[new_cahpvamatrix] [int] NULL,
	[new_cahpvamatrixname] [nvarchar](250) NULL,
	[new_cahpvareviewtype] [int] NULL,
	[new_cahpvareviewtypename] [nvarchar](250) NULL,
	[new_cahpvastatus] [int] NULL,
	[new_cahpvastatusname] [nvarchar](250) NULL,
	[new_cahpvatermcode] [int] NULL,
	[new_cahpvatermcodename] [nvarchar](250) NULL,
	[new_cahpvatermcomment] [nvarchar](250) NULL,
	[new_cahpvatermdate] [date] NULL,
	[new_category] [int] NULL,
	[new_categoryname] [nvarchar](250) NULL,
	[new_combinedvolume] [int] NULL,
	[new_conference2015] [int] NULL,
	[new_conference2015name] [nvarchar](250) NULL,
	[new_conference2016] [int] NULL,
	[new_conference2016name] [nvarchar](250) NULL,
	[new_conference2017] [int] NULL,
	[new_conference2017name] [nvarchar](250) NULL,
	[new_conference2018] [int] NULL,
	[new_conference2018name] [nvarchar](250) NULL,
	[new_copyphysicaltofinancial] [bit] NULL,
	[new_copyphysicaltofinancialname] [nvarchar](250) NULL,
	[new_copyphysicaltomailing] [bit] NULL,
	[new_copyphysicaltomailingname] [nvarchar](250) NULL,
	[new_copytomarketingemail] [bit] NULL,
	[new_copytomarketingemailname] [nvarchar](250) NULL,
	[new_corporatename] [nvarchar](100) NULL,
	[new_county] [nvarchar](100) NULL,
	[new_dea] [nvarchar](100) NULL,
	[new_deaexpiration] [date] NULL,
	[new_diversionce] [date] NULL,
	[new_docusignsender] [int] NULL,
	[new_docusignsenderemail] [int] NULL,
	[new_docusignsenderemailname] [nvarchar](250) NULL,
	[new_docusignsendername] [nvarchar](250) NULL,
	[new_dunbradstreetno] [nvarchar](100) NULL,
	[new_edi_activation_date] [date] NULL,
	[new_edi_app_received_date] [date] NULL,
	[new_edi_approved_date] [date] NULL,
	[new_fed_tax] [nvarchar](100) NULL,
	[new_fee_paid] [int] NULL,
	[new_fee_paidname] [nvarchar](250) NULL,
	[new_gcr] [decimal](28, 0) NULL,
	[new_generalemail2] [nvarchar](4000) NULL,
	[new_group] [nvarchar](100) NULL,
	[new_groupalliance] [int] NULL,
	[new_groupalliancename] [nvarchar](250) NULL,
	[new_hours_saturday_close] [nvarchar](100) NULL,
	[new_hours_saturday_open] [nvarchar](100) NULL,
	[new_hours_sunday_close] [nvarchar](100) NULL,
	[new_hours_sunday_open] [nvarchar](100) NULL,
	[new_hours_weekdays_close] [nvarchar](100) NULL,
	[new_hours_weekdays_open] [nvarchar](100) NULL,
	[new_iatvtitle] [nvarchar](100) NULL,
	[new_incorporationstate] [nvarchar](2) NULL,
	[new_industrysupportfund] [int] NULL,
	[new_industrysupportfundname] [nvarchar](250) NULL,
	[new_lastsalescall] [date] NULL,
	[new_managedcarenetwork] [int] NULL,
	[new_managedcarenetworkname] [nvarchar](250) NULL,
	[new_marketingemail] [nvarchar](100) NULL,
	[new_mc_affiliation] [int] NULL,
	[new_mc_affiliationname] [nvarchar](250) NULL,
	[new_mc_effective_date] [date] NULL,
	[new_mc_network] [int] NULL,
	[new_mc_networkname] [nvarchar](250) NULL,
	[new_mc_termination_date] [date] NULL,
	[new_memb_received_date] [date] NULL,
	[new_ncpaid] [nvarchar](8) NULL,
	[new_ncpdp] [nvarchar](7) NULL,
	[new_npi] [nvarchar](4000) NULL,
	[new_orderingcontact] [nvarchar](100) NULL,
	[new_orderingcontactlookup] [uniqueidentifier] NULL,
	[new_orderingcontactlookupname] [nvarchar](100) NULL,
	[new_org_type] [int] NULL,
	[new_org_typename] [nvarchar](250) NULL,
	[new_ownertype] [int] NULL,
	[new_ownertypename] [nvarchar](250) NULL,
	[new_pharmacist] [nvarchar](100) NULL,
	[new_pharmacistlicense] [nvarchar](100) NULL,
	[new_pharmacistlicenseexpiration] [date] NULL,
	[new_pharmacyowner] [nvarchar](100) NULL,
	[new_pharmacyowneremail] [nvarchar](100) NULL,
	[new_pharmacyownerfax] [nvarchar](12) NULL,
	[new_pharmacyownerlookup] [uniqueidentifier] NULL,
	[new_pharmacyownerlookupname] [nvarchar](100) NULL,
	[new_pharmacyownerphone] [nvarchar](12) NULL,
	[new_pharmacyownertitle] [nvarchar](100) NULL,
	[new_pharmacysystem] [int] NULL,
	[new_pharmacysystemname] [nvarchar](250) NULL,
	[new_planogram] [int] NULL,
	[new_planogramname] [nvarchar](250) NULL,
	[new_planogramquit] [date] NULL,
	[new_planogramstart] [date] NULL,
	[new_pmid] [nvarchar](100) NULL,
	[new_previousaapmember] [uniqueidentifier] NULL,
	[new_previousaapmembername] [nvarchar](100) NULL,
	[new_primarywholesalernew] [int] NULL,
	[new_primarywholesalernewname] [nvarchar](250) NULL,
	[new_scantoss_activation_date] [date] NULL,
	[new_scantoss_app_received_date] [date] NULL,
	[new_scantoss_eligible_date] [date] NULL,
	[new_scantoss_status] [int] NULL,
	[new_scantoss_statusname] [nvarchar](250) NULL,
	[new_scantoss_version] [int] NULL,
	[new_scantoss_versionname] [nvarchar](250) NULL,
	[new_sendapplicationemail] [nvarchar](100) NULL,
	[new_sendapplicationname] [nvarchar](100) NULL,
	[new_softwareliabilitywaiver] [date] NULL,
	[new_startup] [int] NULL,
	[new_startupname] [nvarchar](250) NULL,
	[new_state_lic] [nvarchar](100) NULL,
	[new_state_lic_exp_date] [date] NULL,
	[new_state_tax] [nvarchar](100) NULL,
	[new_stbrandsmartplus] [int] NULL,
	[new_stcloud] [bit] NULL,
	[new_stcloudname] [nvarchar](250) NULL,
	[new_stcloudworkstations] [nvarchar](3) NULL,
	[new_territories] [int] NULL,
	[new_territoriesname] [nvarchar](250) NULL,
	[new_territory] [int] NULL,
	[new_territorymanager] [int] NULL,
	[new_territorymanageremail] [int] NULL,
	[new_territorymanageremailname] [nvarchar](250) NULL,
	[new_territorymanagername] [nvarchar](250) NULL,
	[new_territoryname] [nvarchar](250) NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[parentaccountid] [uniqueidentifier] NULL,
	[parentaccountidname] [nvarchar](100) NULL,
	[primarycontactid] [uniqueidentifier] NULL,
	[primarycontactidname] [nvarchar](100) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[versionnumber] [bigint] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
