USE [ODSIntake]
GO
/****** Object:  View [dbo].[vw_DrivesOutput]    Script Date: 12/22/2020 7:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DrivesOutput]

AS

SELECT C1
FROM [dbo].[DrivesOutput]
GO
