USE [ODSIntake]
GO
/****** Object:  Table [dbo].[PMIDSnotinDynamics2018_0710]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMIDSnotinDynamics2018_0710](
	[PMID] [varchar](500) NULL,
	[Pharmacy Name] [varchar](500) NULL,
	[NCPDP] [varchar](500) NULL,
	[Record Status] [varchar](500) NULL,
	[Owner] [varchar](500) NULL
) ON [PRIMARY]
GO
