USE [ODSIntake]
GO
/****** Object:  Table [Staging].[CRM_UserEntity]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[CRM_UserEntity](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[accessmode] [int] NULL,
	[accessmodename] [nvarchar](250) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](250) NULL,
	[address1_city] [nvarchar](128) NULL,
	[address1_country] [nvarchar](128) NULL,
	[address1_county] [nvarchar](128) NULL,
	[address1_fax] [nvarchar](64) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](1024) NULL,
	[address1_line2] [nvarchar](1024) NULL,
	[address1_line3] [nvarchar](1024) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](100) NULL,
	[address1_postalcode] [nvarchar](40) NULL,
	[address1_postofficebox] [nvarchar](40) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](250) NULL,
	[address1_stateorprovince] [nvarchar](128) NULL,
	[address1_telephone1] [nvarchar](64) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](250) NULL,
	[address2_city] [nvarchar](128) NULL,
	[address2_country] [nvarchar](128) NULL,
	[address2_county] [nvarchar](128) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](1024) NULL,
	[address2_line2] [nvarchar](1024) NULL,
	[address2_line3] [nvarchar](1024) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](100) NULL,
	[address2_postalcode] [nvarchar](40) NULL,
	[address2_postofficebox] [nvarchar](40) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](250) NULL,
	[address2_stateorprovince] [nvarchar](128) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[applicationid] [uniqueidentifier] NULL,
	[applicationiduri] [nvarchar](1024) NULL,
	[azureactivedirectoryobjectid] [uniqueidentifier] NULL,
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitidname] [nvarchar](100) NULL,
	[calendarid] [uniqueidentifier] NULL,
	[caltype] [int] NULL,
	[caltypename] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[defaultfilterspopulated] [bit] NULL,
	[defaultmailbox] [uniqueidentifier] NULL,
	[defaultmailboxname] [nvarchar](100) NULL,
	[defaultodbfoldername] [nvarchar](200) NULL,
	[disabledreason] [nvarchar](500) NULL,
	[displayinserviceviews] [bit] NULL,
	[displayinserviceviewsname] [nvarchar](250) NULL,
	[domainname] [nvarchar](1024) NULL,
	[emailrouteraccessapproval] [int] NULL,
	[emailrouteraccessapprovalname] [nvarchar](250) NULL,
	[employeeid] [nvarchar](100) NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[firstname] [nvarchar](64) NULL,
	[fullname] [nvarchar](200) NULL,
	[governmentid] [nvarchar](100) NULL,
	[homephone] [nvarchar](50) NULL,
	[importsequencenumber] [int] NULL,
	[incomingemaildeliverymethod] [int] NULL,
	[incomingemaildeliverymethodname] [nvarchar](250) NULL,
	[internalemailaddress] [nvarchar](100) NULL,
	[invitestatuscode] [int] NULL,
	[invitestatuscodename] [nvarchar](250) NULL,
	[isdisabled] [bit] NULL,
	[isdisabledname] [nvarchar](250) NULL,
	[isemailaddressapprovedbyo365admin] [bit] NULL,
	[isintegrationuser] [bit] NULL,
	[isintegrationusername] [nvarchar](250) NULL,
	[islicensed] [bit] NULL,
	[issyncwithdirectory] [bit] NULL,
	[jobtitle] [nvarchar](100) NULL,
	[lastname] [nvarchar](64) NULL,
	[middlename] [nvarchar](50) NULL,
	[mobilealertemail] [nvarchar](100) NULL,
	[mobileofflineprofileid] [uniqueidentifier] NULL,
	[mobileofflineprofileidname] [nvarchar](100) NULL,
	[mobilephone] [nvarchar](64) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[new_department] [int] NULL,
	[new_departmentname] [nvarchar](250) NULL,
	[new_division] [int] NULL,
	[new_divisionname] [nvarchar](250) NULL,
	[new_region] [int] NULL,
	[new_regionname] [nvarchar](250) NULL,
	[new_reportsto] [uniqueidentifier] NULL,
	[new_reportstoname] [nvarchar](100) NULL,
	[new_reportstoyominame] [nvarchar](100) NULL,
	[nickname] [nvarchar](50) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationidname] [nvarchar](100) NULL,
	[outgoingemaildeliverymethod] [int] NULL,
	[outgoingemaildeliverymethodname] [nvarchar](250) NULL,
	[overriddencreatedon] [date] NULL,
	[parentsystemuserid] [uniqueidentifier] NULL,
	[parentsystemuseridname] [nvarchar](100) NULL,
	[parentsystemuseridyominame] [nvarchar](100) NULL,
	[passporthi] [int] NULL,
	[passportlo] [int] NULL,
	[personalemailaddress] [nvarchar](100) NULL,
	[photourl] [nvarchar](200) NULL,
	[positionid] [uniqueidentifier] NULL,
	[positionidname] [nvarchar](100) NULL,
	[preferredaddresscode] [int] NULL,
	[preferredaddresscodename] [nvarchar](250) NULL,
	[preferredemailcode] [int] NULL,
	[preferredemailcodename] [nvarchar](250) NULL,
	[preferredphonecode] [int] NULL,
	[preferredphonecodename] [nvarchar](250) NULL,
	[processid] [uniqueidentifier] NULL,
	[queueid] [uniqueidentifier] NULL,
	[queueidname] [nvarchar](400) NULL,
	[salutation] [nvarchar](20) NULL,
	[setupuser] [bit] NULL,
	[setupusername] [nvarchar](250) NULL,
	[sharepointemailaddress] [nvarchar](1024) NULL,
	[siteid] [uniqueidentifier] NULL,
	[siteidname] [nvarchar](100) NULL,
	[skills] [nvarchar](100) NULL,
	[stageid] [uniqueidentifier] NULL,
	[systemuserid] [uniqueidentifier] NULL,
	[territoryid] [uniqueidentifier] NULL,
	[territoryidname] [nvarchar](100) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[title] [nvarchar](128) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[userlicensetype] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[windowsliveid] [nvarchar](1024) NULL,
	[yammeremailaddress] [nvarchar](200) NULL,
	[yammeruserid] [nvarchar](128) NULL,
	[yomifirstname] [nvarchar](64) NULL,
	[yomifullname] [nvarchar](200) NULL,
	[yomilastname] [nvarchar](64) NULL,
	[yomimiddlename] [nvarchar](50) NULL,
	[DateKey] [int] NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowUpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[CRM_UserEntity] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
