USE [ODSIntake]
GO
/****** Object:  Table [Staging].[McKesson_2]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[McKesson_2](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Datekey] [int] NULL,
	[ItemNumber] [varchar](500) NULL,
	[NDC] [varchar](500) NULL,
	[SellDescription] [varchar](500) NULL,
	[GenericDoseForm] [varchar](500) NULL,
	[PreviousProperContractPrice] [varchar](500) NULL,
	[PreviousSpecialPriceCode] [varchar](500) NULL,
	[ProperContractPrice] [varchar](500) NULL,
	[SpecialPriceCode] [varchar](500) NULL,
	[PreviousAwpPrice] [varchar](500) NULL,
	[AwpPrice] [varchar](500) NULL,
	[RetailPrice] [varchar](500) NULL,
	[PreviousRetailPrice] [varchar](500) NULL,
	[PurchasePriceDifference] [varchar](500) NULL,
	[AwpPriceDifference] [varchar](500) NULL,
	[DoseStrengthDescriptionName] [varchar](500) NULL,
	[GenericName] [varchar](500) NULL,
	[RetailSellUnitCode] [varchar](500) NULL,
	[UnitSellPrice] [varchar](500) NULL,
	[GenericManufactureSizeAmount] [varchar](500) NULL,
	[SupplierAccountName] [varchar](500) NULL,
	[Upc] [varchar](500) NULL,
	[GenericMsIndicator] [varchar](500) NULL,
	[PreferRxIndicator] [varchar](500) NULL,
	[RxPakIndicator] [varchar](500) NULL,
	[SelectGenericIndicator] [varchar](500) NULL,
	[PrivateLabelCode] [varchar](500) NULL,
	[ControlSubstanceCode] [varchar](500) NULL,
	[GenericIndicator] [varchar](500) NULL,
	[MicaDepartmentId] [varchar](500) NULL,
	[DropShipIndicator] [varchar](500) NULL,
	[ItemStatusCode] [varchar](500) NULL,
	[ManufactureSizeQuantity] [varchar](500) NULL,
	[ManufactureUnitCode] [varchar](500) NULL,
	[SkuCode] [varchar](500) NULL,
	[MckTherapeuticFormularyServiceNumber] [varchar](500) NULL,
	[UnitDoseCode] [varchar](500) NULL,
	[MckItemOverpackCode] [varchar](500) NULL,
	[CaseQuantity] [varchar](500) NULL,
	[ManufactureMinOrderQuantity] [varchar](500) NULL,
	[GenericId] [varchar](500) NULL,
	[XpndOrangeBookCode] [varchar](500) NULL,
	[NationalBasCost] [varchar](500) NULL,
	[SuggestedRetailPrice] [varchar](500) NULL,
	[ValuRiteIndicator] [varchar](500) NULL,
	[GenericPriceTypeCode] [varchar](500) NULL,
	[UnitSizeCode] [varchar](500) NULL,
	[PreviousNdc] [varchar](500) NULL,
	[PreviousNdcEffectiveDate] [varchar](500) NULL,
	[PreviousUpc] [varchar](500) NULL,
	[PreviousUpcEffectiveDate] [varchar](500) NULL,
	[CustomerAccountId] [varchar](500) NULL,
	[BeginDate] [varchar](500) NULL,
	[EndDate] [varchar](500) NULL,
	[ContractLeadId] [varchar](500) NULL,
	[ContractBidPrice] [varchar](500) NULL,
	[RetailGrossProfitPercent] [varchar](500) NULL,
	[AveragePurchaseQuantity] [varchar](500) NULL,
	[LastPurchaseQuantity] [varchar](500) NULL,
	[LastPurchaseDate] [varchar](500) NULL,
	[CustomerItemDepartmentId] [varchar](500) NULL,
	[CustomerItemNumber] [varchar](500) NULL,
	[DcStockedIndicator] [varchar](500) NULL,
	[ContractMinOrderQuantity] [varchar](500) NULL,
	[RegularPrice] [varchar](500) NULL,
	[ContractEffectiveDate] [varchar](500) NULL,
	[ContractEndDate] [varchar](500) NULL,
	[PkgSizeMultiplier] [varchar](500) NULL,
	[UserPackSize] [varchar](500) NULL,
	[UserDaysSupplyforROP] [varchar](500) NULL,
	[UserDaysSupplyforROQ] [varchar](500) NULL,
	[UPCEffectiveDate] [varchar](500) NULL,
	[NDCEffectiveDate] [varchar](500) NULL,
	[Top200Rank] [varchar](500) NULL,
	[Placeholder1] [varchar](500) NULL,
	[Placeholder2] [varchar](500) NULL,
	[AWPPriceChangeDate] [varchar](500) NULL,
	[UserField1] [varchar](500) NULL,
	[UserField2] [varchar](500) NULL,
	[UserField3] [varchar](500) NULL,
	[UserField4] [varchar](500) NULL,
	[UserField5] [varchar](500) NULL,
	[PreferredIndicator] [varchar](500) NULL,
	[DrugScheduleCode] [varchar](500) NULL,
	[ContractDescription] [varchar](500) NULL,
	[EstNetPrice] [varchar](500) NULL,
	[HCPCSJCode] [varchar](500) NULL,
	[TherapeuticName] [varchar](500) NULL,
	[AccumDispQty] [varchar](500) NULL,
	[FileDir] [varchar](1000) NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[McKesson_2] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
