USE [ODSIntake]
GO
/****** Object:  Table [Staging].[DynamicsAccount]    Script Date: 12/22/2020 7:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[DynamicsAccount](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[accountcategorycode] [nvarchar](4000) NULL,
	[accountcategorycodename] [nvarchar](4000) NULL,
	[accountclassificationcode] [nvarchar](4000) NULL,
	[accountclassificationcodename] [nvarchar](4000) NULL,
	[accountid] [nvarchar](4000) NULL,
	[accountnumber] [nvarchar](4000) NULL,
	[accountratingcode] [nvarchar](4000) NULL,
	[accountratingcodename] [nvarchar](4000) NULL,
	[address1_addressid] [nvarchar](4000) NULL,
	[address1_addresstypecode] [nvarchar](4000) NULL,
	[address1_addresstypecodename] [nvarchar](4000) NULL,
	[address1_city] [nvarchar](4000) NULL,
	[address1_composite] [nvarchar](4000) NULL,
	[address1_country] [nvarchar](4000) NULL,
	[address1_county] [nvarchar](4000) NULL,
	[address1_fax] [nvarchar](4000) NULL,
	[address1_freighttermscode] [nvarchar](4000) NULL,
	[address1_freighttermscodename] [nvarchar](4000) NULL,
	[address1_latitude] [nvarchar](4000) NULL,
	[address1_line1] [nvarchar](4000) NULL,
	[address1_line2] [nvarchar](4000) NULL,
	[address1_line3] [nvarchar](4000) NULL,
	[address1_longitude] [nvarchar](4000) NULL,
	[address1_name] [nvarchar](4000) NULL,
	[address1_postalcode] [nvarchar](4000) NULL,
	[address1_postofficebox] [nvarchar](4000) NULL,
	[address1_primarycontactname] [nvarchar](4000) NULL,
	[address1_shippingmethodcode] [nvarchar](4000) NULL,
	[address1_shippingmethodcodename] [nvarchar](4000) NULL,
	[address1_stateorprovince] [nvarchar](4000) NULL,
	[address1_telephone1] [nvarchar](4000) NULL,
	[address1_telephone2] [nvarchar](4000) NULL,
	[address1_telephone3] [nvarchar](4000) NULL,
	[address1_upszone] [nvarchar](4000) NULL,
	[address1_utcoffset] [nvarchar](4000) NULL,
	[address2_addressid] [nvarchar](4000) NULL,
	[address2_addresstypecode] [nvarchar](4000) NULL,
	[address2_addresstypecodename] [nvarchar](4000) NULL,
	[address2_city] [nvarchar](4000) NULL,
	[address2_composite] [nvarchar](4000) NULL,
	[address2_country] [nvarchar](4000) NULL,
	[address2_county] [nvarchar](4000) NULL,
	[address2_fax] [nvarchar](4000) NULL,
	[address2_freighttermscode] [nvarchar](4000) NULL,
	[address2_freighttermscodename] [nvarchar](4000) NULL,
	[address2_latitude] [nvarchar](4000) NULL,
	[address2_line1] [nvarchar](4000) NULL,
	[address2_line2] [nvarchar](4000) NULL,
	[address2_line3] [nvarchar](4000) NULL,
	[address2_longitude] [nvarchar](4000) NULL,
	[address2_name] [nvarchar](4000) NULL,
	[address2_postalcode] [nvarchar](4000) NULL,
	[address2_postofficebox] [nvarchar](4000) NULL,
	[address2_primarycontactname] [nvarchar](4000) NULL,
	[address2_shippingmethodcode] [nvarchar](4000) NULL,
	[address2_shippingmethodcodename] [nvarchar](4000) NULL,
	[address2_stateorprovince] [nvarchar](4000) NULL,
	[address2_telephone1] [nvarchar](4000) NULL,
	[address2_telephone2] [nvarchar](4000) NULL,
	[address2_telephone3] [nvarchar](4000) NULL,
	[address2_upszone] [nvarchar](4000) NULL,
	[address2_utcoffset] [nvarchar](4000) NULL,
	[aging30] [nvarchar](4000) NULL,
	[aging30_base] [nvarchar](4000) NULL,
	[aging60] [nvarchar](4000) NULL,
	[aging60_base] [nvarchar](4000) NULL,
	[aging90] [nvarchar](4000) NULL,
	[aging90_base] [nvarchar](4000) NULL,
	[businesstypecode] [nvarchar](4000) NULL,
	[businesstypecodename] [nvarchar](4000) NULL,
	[createdby] [nvarchar](4000) NULL,
	[createdbyexternalparty] [nvarchar](4000) NULL,
	[createdbyexternalpartyname] [nvarchar](4000) NULL,
	[createdbyexternalpartyyominame] [nvarchar](4000) NULL,
	[createdbyname] [nvarchar](4000) NULL,
	[createdbyyominame] [nvarchar](4000) NULL,
	[createdon] [nvarchar](4000) NULL,
	[createdonbehalfby] [nvarchar](4000) NULL,
	[createdonbehalfbyname] [nvarchar](4000) NULL,
	[createdonbehalfbyyominame] [nvarchar](4000) NULL,
	[creditlimit] [nvarchar](4000) NULL,
	[creditlimit_base] [nvarchar](4000) NULL,
	[creditonhold] [nvarchar](4000) NULL,
	[creditonholdname] [nvarchar](4000) NULL,
	[customersizecode] [nvarchar](4000) NULL,
	[customersizecodename] [nvarchar](4000) NULL,
	[customertypecode] [nvarchar](4000) NULL,
	[customertypecodename] [nvarchar](4000) NULL,
	[defaultpricelevelid] [nvarchar](4000) NULL,
	[defaultpricelevelidname] [nvarchar](4000) NULL,
	[description] [nvarchar](4000) NULL,
	[donotbulkemail] [nvarchar](4000) NULL,
	[donotbulkemailname] [nvarchar](4000) NULL,
	[donotbulkpostalmail] [nvarchar](4000) NULL,
	[donotbulkpostalmailname] [nvarchar](4000) NULL,
	[donotemail] [nvarchar](4000) NULL,
	[donotemailname] [nvarchar](4000) NULL,
	[donotfax] [nvarchar](4000) NULL,
	[donotfaxname] [nvarchar](4000) NULL,
	[donotphone] [nvarchar](4000) NULL,
	[donotphonename] [nvarchar](4000) NULL,
	[donotpostalmail] [nvarchar](4000) NULL,
	[donotpostalmailname] [nvarchar](4000) NULL,
	[donotsendmarketingmaterialname] [nvarchar](4000) NULL,
	[donotsendmm] [nvarchar](4000) NULL,
	[emailaddress1] [nvarchar](4000) NULL,
	[emailaddress2] [nvarchar](4000) NULL,
	[emailaddress3] [nvarchar](4000) NULL,
	[entityimage] [nvarchar](4000) NULL,
	[entityimage_timestamp] [nvarchar](4000) NULL,
	[entityimage_url] [nvarchar](4000) NULL,
	[entityimageid] [nvarchar](4000) NULL,
	[exchangerate] [nvarchar](4000) NULL,
	[fax] [nvarchar](4000) NULL,
	[followemail] [nvarchar](4000) NULL,
	[followemailname] [nvarchar](4000) NULL,
	[ftpsiteurl] [nvarchar](4000) NULL,
	[importsequencenumber] [nvarchar](4000) NULL,
	[industrycode] [nvarchar](4000) NULL,
	[industrycodename] [nvarchar](4000) NULL,
	[isprivatename] [nvarchar](4000) NULL,
	[lastonholdtime] [nvarchar](4000) NULL,
	[lastusedincampaign] [nvarchar](4000) NULL,
	[marketcap] [nvarchar](4000) NULL,
	[marketcap_base] [nvarchar](4000) NULL,
	[marketingonly] [nvarchar](4000) NULL,
	[marketingonlyname] [nvarchar](4000) NULL,
	[masteraccountidname] [nvarchar](4000) NULL,
	[masteraccountidyominame] [nvarchar](4000) NULL,
	[masterid] [nvarchar](4000) NULL,
	[merged] [nvarchar](4000) NULL,
	[mergedname] [nvarchar](4000) NULL,
	[modifiedby] [nvarchar](4000) NULL,
	[modifiedbyexternalparty] [nvarchar](4000) NULL,
	[modifiedbyexternalpartyname] [nvarchar](4000) NULL,
	[modifiedbyexternalpartyyominame] [nvarchar](4000) NULL,
	[modifiedbyname] [nvarchar](4000) NULL,
	[modifiedbyyominame] [nvarchar](4000) NULL,
	[modifiedon] [nvarchar](4000) NULL,
	[modifiedonbehalfby] [nvarchar](4000) NULL,
	[modifiedonbehalfbyname] [nvarchar](4000) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](4000) NULL,
	[name] [nvarchar](4000) NULL,
	[new_aap_account] [nvarchar](4000) NULL,
	[new_aap_effective_date] [nvarchar](4000) NULL,
	[new_aap_resignation_reason] [nvarchar](4000) NULL,
	[new_aap_resignation_reasonname] [nvarchar](4000) NULL,
	[new_aapeffectivedatev2] [nvarchar](4000) NULL,
	[new_aapeffectivedatev3] [nvarchar](4000) NULL,
	[new_aapparent] [nvarchar](4000) NULL,
	[new_aapparenttext] [nvarchar](4000) NULL,
	[new_aapquit] [nvarchar](4000) NULL,
	[new_aapstatus] [nvarchar](4000) NULL,
	[new_aapstatusname] [nvarchar](4000) NULL,
	[new_account_subtype] [nvarchar](4000) NULL,
	[new_account_subtypename] [nvarchar](4000) NULL,
	[new_affiliate] [nvarchar](4000) NULL,
	[new_affiliateactive] [nvarchar](4000) NULL,
	[new_affiliateend] [nvarchar](4000) NULL,
	[new_affiliatename] [nvarchar](4000) NULL,
	[new_api_account] [nvarchar](4000) NULL,
	[new_api_app_credit_date] [nvarchar](4000) NULL,
	[new_api_app_status] [nvarchar](4000) NULL,
	[new_api_app_statusname] [nvarchar](4000) NULL,
	[new_api_approved_date] [nvarchar](4000) NULL,
	[new_api_csos_approved_date] [nvarchar](4000) NULL,
	[new_api_csos_declined_date] [nvarchar](4000) NULL,
	[new_api_csos_installed_date] [nvarchar](4000) NULL,
	[new_api_csos_profile_received_date] [nvarchar](4000) NULL,
	[new_api_cutoff] [nvarchar](4000) NULL,
	[new_api_cutoffname] [nvarchar](4000) NULL,
	[new_api_order_method] [nvarchar](4000) NULL,
	[new_api_order_methodname] [nvarchar](4000) NULL,
	[new_api_photos_received_date] [nvarchar](4000) NULL,
	[new_api_terms] [nvarchar](4000) NULL,
	[new_api_termsname] [nvarchar](4000) NULL,
	[new_apiaccountactivation] [nvarchar](4000) NULL,
	[new_apialert] [nvarchar](4000) NULL,
	[new_apialertname] [nvarchar](4000) NULL,
	[new_apibrands] [nvarchar](4000) NULL,
	[new_apicreditalert] [nvarchar](4000) NULL,
	[new_apicreditalertname] [nvarchar](4000) NULL,
	[new_apicreditlimit] [nvarchar](4000) NULL,
	[new_apicsosalert] [nvarchar](4000) NULL,
	[new_apicsosalertname] [nvarchar](4000) NULL,
	[new_apicsosstatus] [nvarchar](4000) NULL,
	[new_apicsosstatusname] [nvarchar](4000) NULL,
	[new_apifreight] [nvarchar](4000) NULL,
	[new_apifreightname] [nvarchar](4000) NULL,
	[new_apigenerics] [nvarchar](4000) NULL,
	[new_apimot] [nvarchar](4000) NULL,
	[new_apimotname] [nvarchar](4000) NULL,
	[new_apiotcs] [nvarchar](4000) NULL,
	[new_apipaymentmethod] [nvarchar](4000) NULL,
	[new_apipaymentmethodname] [nvarchar](4000) NULL,
	[new_apiquestionniare] [nvarchar](4000) NULL,
	[new_apiquestionniarename] [nvarchar](4000) NULL,
	[new_apirefrigerated] [nvarchar](4000) NULL,
	[new_apirefrigeratedname] [nvarchar](4000) NULL,
	[new_apistatus] [nvarchar](4000) NULL,
	[new_apistatusname] [nvarchar](4000) NULL,
	[new_apitotals] [nvarchar](4000) NULL,
	[new_apiwarehouse] [nvarchar](4000) NULL,
	[new_apiwarehousename] [nvarchar](4000) NULL,
	[new_aplicor] [nvarchar](4000) NULL,
	[new_applicationfeedate] [nvarchar](4000) NULL,
	[new_applicationreceived] [nvarchar](4000) NULL,
	[new_at_risk] [nvarchar](4000) NULL,
	[new_at_riskname] [nvarchar](4000) NULL,
	[new_authorized_voter] [nvarchar](4000) NULL,
	[new_authorizedsignature] [nvarchar](4000) NULL,
	[new_businessclass] [nvarchar](4000) NULL,
	[new_businessclassname] [nvarchar](4000) NULL,
	[new_cah_account] [nvarchar](4000) NULL,
	[new_cah_avg_volume] [nvarchar](4000) NULL,
	[new_cah_cog] [nvarchar](4000) NULL,
	[new_cah_dso] [nvarchar](4000) NULL,
	[new_cah_potential_volume] [nvarchar](4000) NULL,
	[new_cah_terms] [nvarchar](4000) NULL,
	[new_cah_termsname] [nvarchar](4000) NULL,
	[new_category] [nvarchar](4000) NULL,
	[new_categoryname] [nvarchar](4000) NULL,
	[new_combinedvolume] [nvarchar](4000) NULL,
	[new_computer_software] [nvarchar](4000) NULL,
	[new_computer_softwarename] [nvarchar](4000) NULL,
	[new_conference2015] [nvarchar](4000) NULL,
	[new_conference2015name] [nvarchar](4000) NULL,
	[new_conference2016] [nvarchar](4000) NULL,
	[new_conference2016name] [nvarchar](4000) NULL,
	[new_conference2017] [nvarchar](4000) NULL,
	[new_conference2017name] [nvarchar](4000) NULL,
	[new_copyphysicaltofinancial] [nvarchar](4000) NULL,
	[new_copyphysicaltofinancialname] [nvarchar](4000) NULL,
	[new_copyphysicaltomailing] [nvarchar](4000) NULL,
	[new_copyphysicaltomailingname] [nvarchar](4000) NULL,
	[new_copytomarketingemail] [nvarchar](4000) NULL,
	[new_copytomarketingemailname] [nvarchar](4000) NULL,
	[new_corporatename] [nvarchar](4000) NULL,
	[new_county] [nvarchar](4000) NULL,
	[new_dea] [nvarchar](4000) NULL,
	[new_deaexpiration] [nvarchar](4000) NULL,
	[new_diversionce] [nvarchar](4000) NULL,
	[new_edi_activation_date] [nvarchar](4000) NULL,
	[new_edi_app_received_date] [nvarchar](4000) NULL,
	[new_edi_approved_date] [nvarchar](4000) NULL,
	[new_fed_tax] [nvarchar](4000) NULL,
	[new_fee_paid] [nvarchar](4000) NULL,
	[new_fee_paidname] [nvarchar](4000) NULL,
	[new_financialcity] [nvarchar](4000) NULL,
	[new_financialstate] [nvarchar](4000) NULL,
	[new_financialstreet1] [nvarchar](4000) NULL,
	[new_financialstreet2] [nvarchar](4000) NULL,
	[new_financialstreet3] [nvarchar](4000) NULL,
	[new_financialzip] [nvarchar](4000) NULL,
	[new_gcr] [nvarchar](4000) NULL,
	[new_generalemail2] [nvarchar](4000) NULL,
	[new_group] [nvarchar](4000) NULL,
	[new_groupalliance] [nvarchar](4000) NULL,
	[new_groupalliancename] [nvarchar](4000) NULL,
	[new_hours_saturday_close] [nvarchar](4000) NULL,
	[new_hours_saturday_open] [nvarchar](4000) NULL,
	[new_hours_sunday_close] [nvarchar](4000) NULL,
	[new_hours_sunday_open] [nvarchar](4000) NULL,
	[new_hours_weekdays_close] [nvarchar](4000) NULL,
	[new_hours_weekdays_open] [nvarchar](4000) NULL,
	[new_industrysupportfund] [nvarchar](4000) NULL,
	[new_industrysupportfundname] [nvarchar](4000) NULL,
	[new_lastsalescall] [nvarchar](4000) NULL,
	[new_marketingemail] [nvarchar](4000) NULL,
	[new_mc_affiliation] [nvarchar](4000) NULL,
	[new_mc_affiliationname] [nvarchar](4000) NULL,
	[new_mc_effective_date] [nvarchar](4000) NULL,
	[new_mc_network] [nvarchar](4000) NULL,
	[new_mc_networkname] [nvarchar](4000) NULL,
	[new_mc_termination_date] [nvarchar](4000) NULL,
	[new_memb_received_date] [nvarchar](4000) NULL,
	[new_ncpdp] [nvarchar](4000) NULL,
	[new_npi] [nvarchar](4000) NULL,
	[new_orderingcontact] [nvarchar](4000) NULL,
	[new_orderingcontactlookup] [nvarchar](4000) NULL,
	[new_orderingcontactlookupname] [nvarchar](4000) NULL,
	[new_orderingcontactlookupyominame] [nvarchar](4000) NULL,
	[new_org_type] [nvarchar](4000) NULL,
	[new_org_typename] [nvarchar](4000) NULL,
	[new_ownertype] [nvarchar](4000) NULL,
	[new_ownertypename] [nvarchar](4000) NULL,
	[new_parentaccounttext] [nvarchar](4000) NULL,
	[new_pharmacist] [nvarchar](4000) NULL,
	[new_pharmacistlicense] [nvarchar](4000) NULL,
	[new_pharmacistlicenseexpiration] [nvarchar](4000) NULL,
	[new_pharmacyowner] [nvarchar](4000) NULL,
	[new_pharmacyownerlookup] [nvarchar](4000) NULL,
	[new_pharmacyownerlookupname] [nvarchar](4000) NULL,
	[new_pharmacyownerlookupyominame] [nvarchar](4000) NULL,
	[new_planogram] [nvarchar](4000) NULL,
	[new_planogramname] [nvarchar](4000) NULL,
	[new_pmid] [nvarchar](4000) NULL,
	[new_previousgroupalliance] [nvarchar](4000) NULL,
	[new_previousgroupalliancename] [nvarchar](4000) NULL,
	[new_previousprimarywholesaler] [nvarchar](4000) NULL,
	[new_previousprimarywholesalername] [nvarchar](4000) NULL,
	[new_primarycontact] [nvarchar](4000) NULL,
	[new_scantoss_activation_date] [nvarchar](4000) NULL,
	[new_scantoss_app_received_date] [nvarchar](4000) NULL,
	[new_scantoss_eligible_date] [nvarchar](4000) NULL,
	[new_scantoss_status] [nvarchar](4000) NULL,
	[new_scantoss_statusname] [nvarchar](4000) NULL,
	[new_scantoss_version] [nvarchar](4000) NULL,
	[new_scantoss_versionname] [nvarchar](4000) NULL,
	[new_softwareliabilitywaiver] [nvarchar](4000) NULL,
	[new_startup] [nvarchar](4000) NULL,
	[new_startupname] [nvarchar](4000) NULL,
	[new_state_lic] [nvarchar](4000) NULL,
	[new_state_lic_exp_date] [nvarchar](4000) NULL,
	[new_state_tax] [nvarchar](4000) NULL,
	[new_stbrandsmartplus] [nvarchar](4000) NULL,
	[new_stbrandsmartplus_base] [nvarchar](4000) NULL,
	[new_territories] [nvarchar](4000) NULL,
	[new_territoriesname] [nvarchar](4000) NULL,
	[new_territory] [nvarchar](4000) NULL,
	[new_territoryname] [nvarchar](4000) NULL,
	[new_wholesaler] [nvarchar](4000) NULL,
	[new_wholesalername] [nvarchar](4000) NULL,
	[numberofemployees] [nvarchar](4000) NULL,
	[onholdtime] [nvarchar](4000) NULL,
	[opendeals] [nvarchar](4000) NULL,
	[opendeals_date] [nvarchar](4000) NULL,
	[opendeals_state] [nvarchar](4000) NULL,
	[openrevenue] [nvarchar](4000) NULL,
	[openrevenue_base] [nvarchar](4000) NULL,
	[openrevenue_date] [nvarchar](4000) NULL,
	[openrevenue_state] [nvarchar](4000) NULL,
	[originatingleadid] [nvarchar](4000) NULL,
	[originatingleadidname] [nvarchar](4000) NULL,
	[originatingleadidyominame] [nvarchar](4000) NULL,
	[overriddencreatedon] [nvarchar](4000) NULL,
	[ownerid] [nvarchar](4000) NULL,
	[owneridname] [nvarchar](4000) NULL,
	[owneridtype] [nvarchar](4000) NULL,
	[owneridyominame] [nvarchar](4000) NULL,
	[ownershipcode] [nvarchar](4000) NULL,
	[ownershipcodename] [nvarchar](4000) NULL,
	[owningbusinessunit] [nvarchar](4000) NULL,
	[owningteam] [nvarchar](4000) NULL,
	[owninguser] [nvarchar](4000) NULL,
	[parentaccountid] [nvarchar](4000) NULL,
	[parentaccountidname] [nvarchar](4000) NULL,
	[parentaccountidyominame] [nvarchar](4000) NULL,
	[participatesinworkflow] [nvarchar](4000) NULL,
	[participatesinworkflowname] [nvarchar](4000) NULL,
	[paymenttermscode] [nvarchar](4000) NULL,
	[paymenttermscodename] [nvarchar](4000) NULL,
	[preferredappointmentdaycode] [nvarchar](4000) NULL,
	[preferredappointmentdaycodename] [nvarchar](4000) NULL,
	[preferredappointmenttimecode] [nvarchar](4000) NULL,
	[preferredappointmenttimecodename] [nvarchar](4000) NULL,
	[preferredcontactmethodcode] [nvarchar](4000) NULL,
	[preferredcontactmethodcodename] [nvarchar](4000) NULL,
	[preferredequipmentid] [nvarchar](4000) NULL,
	[preferredequipmentidname] [nvarchar](4000) NULL,
	[preferredserviceid] [nvarchar](4000) NULL,
	[preferredserviceidname] [nvarchar](4000) NULL,
	[preferredsystemuserid] [nvarchar](4000) NULL,
	[preferredsystemuseridname] [nvarchar](4000) NULL,
	[preferredsystemuseridyominame] [nvarchar](4000) NULL,
	[primarycontactid] [nvarchar](4000) NULL,
	[primarycontactidname] [nvarchar](4000) NULL,
	[primarycontactidyominame] [nvarchar](4000) NULL,
	[primarysatoriid] [nvarchar](4000) NULL,
	[primarytwitterid] [nvarchar](4000) NULL,
	[processid] [nvarchar](4000) NULL,
	[revenue] [nvarchar](4000) NULL,
	[revenue_base] [nvarchar](4000) NULL,
	[sharesoutstanding] [nvarchar](4000) NULL,
	[shippingmethodcode] [nvarchar](4000) NULL,
	[shippingmethodcodename] [nvarchar](4000) NULL,
	[sic] [nvarchar](4000) NULL,
	[slaid] [nvarchar](4000) NULL,
	[slainvokedid] [nvarchar](4000) NULL,
	[slainvokedidname] [nvarchar](4000) NULL,
	[slaname] [nvarchar](4000) NULL,
	[stageid] [nvarchar](4000) NULL,
	[statecode] [nvarchar](4000) NULL,
	[statecodename] [nvarchar](4000) NULL,
	[statuscode] [nvarchar](4000) NULL,
	[statuscodename] [nvarchar](4000) NULL,
	[stockexchange] [nvarchar](4000) NULL,
	[telephone1] [nvarchar](4000) NULL,
	[telephone2] [nvarchar](4000) NULL,
	[telephone3] [nvarchar](4000) NULL,
	[territorycode] [nvarchar](4000) NULL,
	[territorycodename] [nvarchar](4000) NULL,
	[territoryid] [nvarchar](4000) NULL,
	[territoryidname] [nvarchar](4000) NULL,
	[tickersymbol] [nvarchar](4000) NULL,
	[timespentbymeonemailandmeetings] [nvarchar](4000) NULL,
	[timezoneruleversionnumber] [nvarchar](4000) NULL,
	[transactioncurrencyid] [nvarchar](4000) NULL,
	[transactioncurrencyidname] [nvarchar](4000) NULL,
	[traversedpath] [nvarchar](4000) NULL,
	[utcconversiontimezonecode] [nvarchar](4000) NULL,
	[versionnumber] [nvarchar](4000) NULL,
	[websiteurl] [nvarchar](4000) NULL,
	[yominame] [nvarchar](4000) NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[DynamicsAccount] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
