USE [ODSIntake]
GO
/****** Object:  Table [Staging].[CAHAccounts]    Script Date: 12/22/2020 7:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[CAHAccounts](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[PMID] [varchar](500) NULL,
	[Status] [varchar](500) NULL,
	[DEA#] [varchar](500) NULL,
	[CustomerName] [varchar](500) NULL,
	[AKA] [varchar](500) NULL,
	[APIacct] [varchar](500) NULL,
	[AAPNumber] [varchar](500) NULL,
	[AAPParent#] [varchar](500) NULL,
	[MCAonFile] [varchar](500) NULL,
	[BsClass] [varchar](500) NULL,
	[AAPAffiliate] [varchar](500) NULL,
	[CAMasterNumber] [varchar](500) NULL,
	[CAHMultiStoreCode] [varchar](500) NULL,
	[CardinalDivision#] [varchar](500) NULL,
	[CardinalDC] [varchar](500) NULL,
	[PrimaryCAAcct#] [varchar](500) NULL,
	[2ndCardinalcust] [varchar](500) NULL,
	[3rdCardinalcust] [varchar](500) NULL,
	[POSAcct] [varchar](500) NULL,
	[Scan-TossAcct] [varchar](500) NULL,
	[CSOSAcct] [varchar](500) NULL,
	[AAPContractDate] [varchar](500) NULL,
	[TerminationDate] [varchar](500) NULL,
	[MultipleStore] [varchar](500) NULL,
	[MultipleStoreCode] [varchar](500) NULL,
	[GroupCode] [varchar](500) NULL,
	[CurrentEstMoSales] [varchar](500) NULL,
	[CurrentGrpTotal] [varchar](500) NULL,
	[EstVolumeatLoad] [varchar](500) NULL,
	[LastReviewDate] [varchar](500) NULL,
	[CurrentAPICOG] [varchar](500) NULL,
	[CurrentCACOG] [varchar](500) NULL,
	[Clawbackbps] [varchar](500) NULL,
	[Deliverybps] [varchar](500) NULL,
	[PaymentTermsdescription] [varchar](500) NULL,
	[PaymentTermsCode] [varchar](500) NULL,
	[CAHtermsCodeDesc] [varchar](500) NULL,
	[PendingChanges] [varchar](500) NULL,
	[ChangePending] [varchar](500) NULL,
	[NotesCOGDifferences] [varchar](500) NULL,
	[Notes] [varchar](500) NULL,
	[AAPRep] [varchar](500) NULL,
	[ExcpttoMatrix] [varchar](500) NULL,
	[ExcptCode] [varchar](500) NULL,
	[OptionalPayTerms] [varchar](500) NULL,
	[NotesonTerms] [varchar](500) NULL,
	[ContractedDSO] [varchar](500) NULL,
	[SublogicChange] [varchar](500) NULL,
	[HighVolumeRebate] [varchar](500) NULL,
	[EstAnnualVoloncomnown] [varchar](500) NULL,
	[MatrixName] [varchar](500) NULL,
	[AvgMoGenCompliance] [varchar](500) NULL,
	[MCRMoVolumeforCOG] [varchar](500) NULL,
	[MCRMonth] [varchar](500) NULL,
	[MCRPercentage] [varchar](500) NULL,
	[DateRcvdNewMC] [varchar](500) NULL,
	[EffectiveDateNewAgmt] [varchar](500) NULL,
	[NewAgmtType] [varchar](500) NULL,
	[MCAMQP] [varchar](500) NULL,
	[MCAMGC%] [varchar](500) NULL,
	[MCCOG] [varchar](500) NULL,
	[MCTerms] [varchar](500) NULL,
	[FileProcessed] [varchar](1000) NULL,
	[RowversionID] [timestamp] NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[CAHAccounts] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
