USE [ODSIntake]
GO
/****** Object:  Table [Staging].[CRM_Contact]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[CRM_Contact](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountidname] [nvarchar](100) NULL,
	[accountidyominame] [nvarchar](100) NULL,
	[accountrolecode] [int] NULL,
	[accountrolecodename] [nvarchar](250) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](250) NULL,
	[address1_city] [nvarchar](80) NULL,
	[address1_composite] [nvarchar](max) NULL,
	[address1_country] [nvarchar](80) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_freighttermscode] [int] NULL,
	[address1_freighttermscodename] [nvarchar](250) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](250) NULL,
	[address1_line2] [nvarchar](250) NULL,
	[address1_line3] [nvarchar](250) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_primarycontactname] [nvarchar](100) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](250) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](250) NULL,
	[address2_city] [nvarchar](80) NULL,
	[address2_composite] [nvarchar](max) NULL,
	[address2_country] [nvarchar](80) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_freighttermscode] [int] NULL,
	[address2_freighttermscodename] [nvarchar](250) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](250) NULL,
	[address2_line2] [nvarchar](250) NULL,
	[address2_line3] [nvarchar](250) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](100) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_primarycontactname] [nvarchar](100) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](250) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[address3_addressid] [uniqueidentifier] NULL,
	[address3_addresstypecode] [int] NULL,
	[address3_addresstypecodename] [nvarchar](250) NULL,
	[address3_city] [nvarchar](80) NULL,
	[address3_composite] [nvarchar](max) NULL,
	[address3_country] [nvarchar](80) NULL,
	[address3_county] [nvarchar](50) NULL,
	[address3_fax] [nvarchar](50) NULL,
	[address3_freighttermscode] [int] NULL,
	[address3_freighttermscodename] [nvarchar](250) NULL,
	[address3_latitude] [float] NULL,
	[address3_line1] [nvarchar](250) NULL,
	[address3_line2] [nvarchar](250) NULL,
	[address3_line3] [nvarchar](250) NULL,
	[address3_longitude] [float] NULL,
	[address3_name] [nvarchar](200) NULL,
	[address3_postalcode] [nvarchar](20) NULL,
	[address3_postofficebox] [nvarchar](20) NULL,
	[address3_primarycontactname] [nvarchar](100) NULL,
	[address3_shippingmethodcode] [int] NULL,
	[address3_shippingmethodcodename] [nvarchar](250) NULL,
	[address3_stateorprovince] [nvarchar](50) NULL,
	[address3_telephone1] [nvarchar](50) NULL,
	[address3_telephone2] [nvarchar](50) NULL,
	[address3_telephone3] [nvarchar](50) NULL,
	[address3_upszone] [nvarchar](4) NULL,
	[address3_utcoffset] [int] NULL,
	[aging30] [money] NULL,
	[aging30_base] [money] NULL,
	[aging60] [money] NULL,
	[aging60_base] [money] NULL,
	[aging90] [money] NULL,
	[aging90_base] [money] NULL,
	[anniversary] [date] NULL,
	[annualincome] [money] NULL,
	[annualincome_base] [money] NULL,
	[assistantname] [nvarchar](100) NULL,
	[assistantphone] [nvarchar](50) NULL,
	[birthdate] [date] NULL,
	[business2] [nvarchar](50) NULL,
	[callback] [nvarchar](50) NULL,
	[childrensnames] [nvarchar](255) NULL,
	[company] [nvarchar](50) NULL,
	[contactid] [uniqueidentifier] NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyexternalparty] [uniqueidentifier] NULL,
	[createdbyexternalpartyname] [nvarchar](100) NULL,
	[createdbyexternalpartyyominame] [nvarchar](100) NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](250) NULL,
	[customersizecode] [int] NULL,
	[customersizecodename] [nvarchar](250) NULL,
	[customertypecode] [int] NULL,
	[customertypecodename] [nvarchar](250) NULL,
	[defaultpricelevelid] [uniqueidentifier] NULL,
	[defaultpricelevelidname] [nvarchar](100) NULL,
	[department] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](250) NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotbulkpostalmailname] [nvarchar](250) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](250) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](250) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](250) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](250) NULL,
	[donotsendmarketingmaterialname] [nvarchar](250) NULL,
	[donotsendmm] [bit] NULL,
	[educationcode] [int] NULL,
	[educationcodename] [nvarchar](250) NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[employeeid] [nvarchar](50) NULL,
	[entityimage] [varbinary](max) NULL,
	[entityimage_timestamp] [bigint] NULL,
	[entityimage_url] [nvarchar](200) NULL,
	[entityimageid] [uniqueidentifier] NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[externaluseridentifier] [nvarchar](50) NULL,
	[familystatuscode] [int] NULL,
	[familystatuscodename] [nvarchar](250) NULL,
	[fax] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[followemail] [bit] NULL,
	[followemailname] [nvarchar](250) NULL,
	[ftpsiteurl] [nvarchar](200) NULL,
	[fullname] [nvarchar](160) NULL,
	[gendercode] [int] NULL,
	[gendercodename] [nvarchar](250) NULL,
	[governmentid] [nvarchar](50) NULL,
	[haschildrencode] [int] NULL,
	[haschildrencodename] [nvarchar](250) NULL,
	[home2] [nvarchar](50) NULL,
	[importsequencenumber] [int] NULL,
	[isbackofficecustomer] [bit] NULL,
	[isbackofficecustomername] [nvarchar](250) NULL,
	[isprivatename] [nvarchar](250) NULL,
	[jobtitle] [nvarchar](100) NULL,
	[lastname] [nvarchar](50) NULL,
	[lastonholdtime] [datetime] NULL,
	[lastusedincampaign] [date] NULL,
	[leadsourcecode] [int] NULL,
	[leadsourcecodename] [nvarchar](250) NULL,
	[managername] [nvarchar](100) NULL,
	[managerphone] [nvarchar](50) NULL,
	[marketingonly] [bit] NULL,
	[marketingonlyname] [nvarchar](250) NULL,
	[mastercontactidname] [nvarchar](100) NULL,
	[mastercontactidyominame] [nvarchar](100) NULL,
	[masterid] [uniqueidentifier] NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](250) NULL,
	[middlename] [nvarchar](50) NULL,
	[mobilephone] [nvarchar](50) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyexternalparty] [uniqueidentifier] NULL,
	[modifiedbyexternalpartyname] [nvarchar](100) NULL,
	[modifiedbyexternalpartyyominame] [nvarchar](100) NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[new_actonbehaviorscore] [decimal](28, 0) NULL,
	[new_contactuniqueidfield] [nvarchar](100) NULL,
	[new_customer_no] [nvarchar](100) NULL,
	[new_customerno] [nvarchar](100) NULL,
	[new_nickname] [nvarchar](100) NULL,
	[new_primary] [bit] NULL,
	[new_primaryname] [nvarchar](250) NULL,
	[nickname] [nvarchar](50) NULL,
	[numberofchildren] [int] NULL,
	[onholdtime] [int] NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadidname] [nvarchar](100) NULL,
	[originatingleadidyominame] [nvarchar](100) NULL,
	[overriddencreatedon] [date] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[owneridyominame] [nvarchar](100) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[pager] [nvarchar](50) NULL,
	[parentcontactid] [uniqueidentifier] NULL,
	[parentcontactidname] [nvarchar](100) NULL,
	[parentcontactidyominame] [nvarchar](100) NULL,
	[parentcustomerid] [uniqueidentifier] NULL,
	[parentcustomeridname] [nvarchar](160) NULL,
	[parentcustomeridtype] [nvarchar](250) NULL,
	[parentcustomeridyominame] [nvarchar](450) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](250) NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](250) NULL,
	[preferredappointmentdaycode] [int] NULL,
	[preferredappointmentdaycodename] [nvarchar](250) NULL,
	[preferredappointmenttimecode] [int] NULL,
	[preferredappointmenttimecodename] [nvarchar](250) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](250) NULL,
	[preferredequipmentid] [uniqueidentifier] NULL,
	[preferredequipmentidname] [nvarchar](100) NULL,
	[preferredserviceid] [uniqueidentifier] NULL,
	[preferredserviceidname] [nvarchar](100) NULL,
	[preferredsystemuserid] [uniqueidentifier] NULL,
	[preferredsystemuseridname] [nvarchar](100) NULL,
	[preferredsystemuseridyominame] [nvarchar](100) NULL,
	[processid] [uniqueidentifier] NULL,
	[salutation] [nvarchar](100) NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](250) NULL,
	[slaid] [uniqueidentifier] NULL,
	[slainvokedid] [uniqueidentifier] NULL,
	[slainvokedidname] [nvarchar](100) NULL,
	[slaname] [nvarchar](100) NULL,
	[spousesname] [nvarchar](100) NULL,
	[stageid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[suffix] [nvarchar](10) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[territorycode] [int] NULL,
	[territorycodename] [nvarchar](250) NULL,
	[timespentbymeonemailandmeetings] [nvarchar](1250) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yomifirstname] [nvarchar](150) NULL,
	[yomifullname] [nvarchar](450) NULL,
	[yomilastname] [nvarchar](150) NULL,
	[yomimiddlename] [nvarchar](150) NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[DateKey] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Staging].[CRM_Contact] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
