USE [ODSIntake]
GO
/****** Object:  StoredProcedure [Staging].[usp_CHAAPImport_DB1]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Staging].[usp_CHAAPImport_DB1]

AS

SET NOCOUNT ON;

BEGIN


SELECT DateKey, DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, Type, ORDER_QTY
, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING
, ContractNo, ContractDesc, MM_DD_YY_LOAD, OrderNo, [DEA], [InvoiceLineNmbr]
FROM(SELECT ROW_NUMBER() OVER(PARTITION BY DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, Type, ORDER_QTY
	, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING
	, ContractNo, ContractDesc, MM_DD_YY_LOAD, OrderNo, [DEA], [InvoiceLineNmbr] ORDER BY(SELECT NULL)) AS RN
	, DateKey, DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, Type, ORDER_QTY
	, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING
	, ContractNo, ContractDesc, MM_DD_YY_LOAD, OrderNo, [DEA], [InvoiceLineNmbr]
	FROM [Staging].[vwCHPH_AAP]
	) AS dt
WHERE dt.RN = 1



END


GO
