USE [ODSIntake]
GO
/****** Object:  Table [Staging].[Activities]    Script Date: 12/22/2020 7:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[Activities](
	[activityadditionalparams] [nvarchar](max) NULL,
	[activityid] [uniqueidentifier] NULL,
	[activitytypecode] [nvarchar](250) NULL,
	[activitytypecodename] [nvarchar](250) NULL,
	[actualdurationminutes] [int] NULL,
	[actualend] [datetime] NULL,
	[actualstart] [datetime] NULL,
	[allparties] [nvarchar](250) NULL,
	[community] [int] NULL,
	[communityname] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[deliverylastattemptedon] [datetime] NULL,
	[deliveryprioritycode] [int] NULL,
	[deliveryprioritycodename] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[exchangeitemid] [nvarchar](200) NULL,
	[exchangerate] [decimal](28, 0) NULL,
	[exchangeweblink] [nvarchar](1250) NULL,
	[instancetypecode] [int] NULL,
	[instancetypecodename] [nvarchar](250) NULL,
	[isbilled] [bit] NULL,
	[isbilledname] [nvarchar](250) NULL,
	[ismapiprivate] [bit] NULL,
	[ismapiprivatename] [nvarchar](250) NULL,
	[isregularactivity] [bit] NULL,
	[isregularactivityname] [nvarchar](250) NULL,
	[isworkflowcreated] [bit] NULL,
	[isworkflowcreatedname] [nvarchar](250) NULL,
	[lastonholdtime] [datetime] NULL,
	[leftvoicemail] [bit] NULL,
	[leftvoicemailname] [nvarchar](250) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[onholdtime] [int] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneridname] [nvarchar](100) NULL,
	[owneridtype] [nvarchar](250) NULL,
	[owneridyominame] [nvarchar](100) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[postponeactivityprocessinguntil] [datetime] NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](250) NULL,
	[processid] [uniqueidentifier] NULL,
	[regardingobjectid] [uniqueidentifier] NULL,
	[regardingobjectidname] [nvarchar](400) NULL,
	[regardingobjectidyominame] [nvarchar](400) NULL,
	[regardingobjecttypecode] [nvarchar](250) NULL,
	[scheduleddurationminutes] [int] NULL,
	[scheduledend] [datetime] NULL,
	[scheduledstart] [datetime] NULL,
	[sendermailboxid] [uniqueidentifier] NULL,
	[sendermailboxidname] [nvarchar](100) NULL,
	[senton] [datetime] NULL,
	[seriesid] [uniqueidentifier] NULL,
	[serviceid] [uniqueidentifier] NULL,
	[serviceidname] [nvarchar](100) NULL,
	[slaid] [uniqueidentifier] NULL,
	[slainvokedid] [uniqueidentifier] NULL,
	[slainvokedidname] [nvarchar](100) NULL,
	[slaname] [nvarchar](100) NULL,
	[sortdate] [datetime] NULL,
	[stageid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[subject] [nvarchar](400) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[traversedpath] [nvarchar](1250) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
