USE [ODSIntake]
GO
/****** Object:  View [Staging].[vwDynamicsAccount]    Script Date: 12/22/2020 7:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Staging].[vwDynamicsAccount]

AS

SELECT CONVERT(NVARCHAR(500), accountcategorycode) AS accountcategorycode
, CONVERT(NVARCHAR(500), accountcategorycodename) AS accountcategorycodename
, CONVERT(NVARCHAR(500), accountclassificationcode) AS accountclassificationcode
, CONVERT(NVARCHAR(500), accountclassificationcodename) AS accountclassificationcodename
, CONVERT(NVARCHAR(500), accountid) AS accountid
, CONVERT(NVARCHAR(500), accountnumber) AS accountnumber
, CONVERT(NVARCHAR(500), accountratingcode) AS accountratingcode
, CONVERT(NVARCHAR(500), accountratingcodename) AS accountratingcodename
, CONVERT(NVARCHAR(500), address1_addressid) AS address1_addressid
, CONVERT(NVARCHAR(500), address1_addresstypecode) AS address1_addresstypecode
, CONVERT(NVARCHAR(500), address1_addresstypecodename) AS address1_addresstypecodename
, CONVERT(NVARCHAR(500), address1_city) AS address1_city
, CONVERT(NVARCHAR(500), address1_composite) AS address1_composite
, CONVERT(NVARCHAR(500), address1_country) AS address1_country
, CONVERT(NVARCHAR(500), address1_county) AS address1_county
, CONVERT(NVARCHAR(500), address1_fax) AS address1_fax
, CONVERT(NVARCHAR(500), address1_freighttermscode) AS address1_freighttermscode
, CONVERT(NVARCHAR(500), address1_freighttermscodename) AS address1_freighttermscodename
, CONVERT(NVARCHAR(500), address1_latitude) AS address1_latitude
, CONVERT(NVARCHAR(500), address1_line1) AS address1_line1
, CONVERT(NVARCHAR(500), address1_line2) AS address1_line2
, CONVERT(NVARCHAR(500), address1_line3) AS address1_line3
, CONVERT(NVARCHAR(500), address1_longitude) AS address1_longitude
, CONVERT(NVARCHAR(500), address1_name) AS address1_name
, CONVERT(NVARCHAR(500), address1_postalcode) AS address1_postalcode
, CONVERT(NVARCHAR(500), address1_postofficebox) AS address1_postofficebox
, CONVERT(NVARCHAR(500), address1_primarycontactname) AS address1_primarycontactname
, CONVERT(NVARCHAR(500), address1_shippingmethodcode) AS address1_shippingmethodcode
, CONVERT(NVARCHAR(500), address1_shippingmethodcodename) AS address1_shippingmethodcodename
, CONVERT(NVARCHAR(500), address1_stateorprovince) AS address1_stateorprovince
, CONVERT(NVARCHAR(500), address1_telephone1) AS address1_telephone1
, CONVERT(NVARCHAR(500), address1_telephone2) AS address1_telephone2
, CONVERT(NVARCHAR(500), address1_telephone3) AS address1_telephone3
, CONVERT(NVARCHAR(500), address1_upszone) AS address1_upszone
, CONVERT(NVARCHAR(500), address1_utcoffset) AS address1_utcoffset
, CONVERT(NVARCHAR(500), address2_addressid) AS address2_addressid
, CONVERT(NVARCHAR(500), address2_addresstypecode) AS address2_addresstypecode
, CONVERT(NVARCHAR(500), address2_addresstypecodename) AS address2_addresstypecodename
, CONVERT(NVARCHAR(500), address2_city) AS address2_city
, CONVERT(NVARCHAR(500), address2_composite) AS address2_composite
, CONVERT(NVARCHAR(500), address2_country) AS address2_country
, CONVERT(NVARCHAR(500), address2_county) AS address2_county
, CONVERT(NVARCHAR(500), address2_fax) AS address2_fax
, CONVERT(NVARCHAR(500), address2_freighttermscode) AS address2_freighttermscode
, CONVERT(NVARCHAR(500), address2_freighttermscodename) AS address2_freighttermscodename
, CONVERT(NVARCHAR(500), address2_latitude) AS address2_latitude
, CONVERT(NVARCHAR(500), address2_line1) AS address2_line1
, CONVERT(NVARCHAR(500), address2_line2) AS address2_line2
, CONVERT(NVARCHAR(500), address2_line3) AS address2_line3
, CONVERT(NVARCHAR(500), address2_longitude) AS address2_longitude
, CONVERT(NVARCHAR(500), address2_name) AS address2_name
, CONVERT(NVARCHAR(500), address2_postalcode) AS address2_postalcode
, CONVERT(NVARCHAR(500), address2_postofficebox) AS address2_postofficebox
, CONVERT(NVARCHAR(500), address2_primarycontactname) AS address2_primarycontactname
, CONVERT(NVARCHAR(500), address2_shippingmethodcode) AS address2_shippingmethodcode
, CONVERT(NVARCHAR(500), address2_shippingmethodcodename) AS address2_shippingmethodcodename
, CONVERT(NVARCHAR(500), address2_stateorprovince) AS address2_stateorprovince
, CONVERT(NVARCHAR(500), address2_telephone1) AS address2_telephone1
, CONVERT(NVARCHAR(500), address2_telephone2) AS address2_telephone2
, CONVERT(NVARCHAR(500), address2_telephone3) AS address2_telephone3
, CONVERT(NVARCHAR(500), address2_upszone) AS address2_upszone
, CONVERT(NVARCHAR(500), address2_utcoffset) AS address2_utcoffset
, CONVERT(NVARCHAR(500), aging30) AS aging30
, CONVERT(NVARCHAR(500), aging30_base) AS aging30_base
, CONVERT(NVARCHAR(500), aging60) AS aging60
, CONVERT(NVARCHAR(500), aging60_base) AS aging60_base
, CONVERT(NVARCHAR(500), aging90) AS aging90
, CONVERT(NVARCHAR(500), aging90_base) AS aging90_base
, CONVERT(NVARCHAR(500), businesstypecode) AS businesstypecode
, CONVERT(NVARCHAR(500), businesstypecodename) AS businesstypecodename
, CONVERT(NVARCHAR(500), createdby) AS createdby
, CONVERT(NVARCHAR(500), createdbyexternalparty) AS createdbyexternalparty
, CONVERT(NVARCHAR(500), createdbyexternalpartyname) AS createdbyexternalpartyname
, CONVERT(NVARCHAR(500), createdbyexternalpartyyominame) AS createdbyexternalpartyyominame
, CONVERT(NVARCHAR(500), createdbyname) AS createdbyname
, CONVERT(NVARCHAR(500), createdbyyominame) AS createdbyyominame
, CONVERT(NVARCHAR(500), createdon) AS createdon
, CONVERT(NVARCHAR(500), createdonbehalfby) AS createdonbehalfby
, CONVERT(NVARCHAR(500), createdonbehalfbyname) AS createdonbehalfbyname
, CONVERT(NVARCHAR(500), createdonbehalfbyyominame) AS createdonbehalfbyyominame
, CONVERT(NVARCHAR(500), creditlimit) AS creditlimit
, CONVERT(NVARCHAR(500), creditlimit_base) AS creditlimit_base
, CONVERT(NVARCHAR(500), creditonhold) AS creditonhold
, CONVERT(NVARCHAR(500), creditonholdname) AS creditonholdname
, CONVERT(NVARCHAR(500), customersizecode) AS customersizecode
, CONVERT(NVARCHAR(500), customersizecodename) AS customersizecodename
, CONVERT(NVARCHAR(500), customertypecode) AS customertypecode
, CONVERT(NVARCHAR(500), customertypecodename) AS customertypecodename
, CONVERT(NVARCHAR(500), defaultpricelevelid) AS defaultpricelevelid
, CONVERT(NVARCHAR(500), defaultpricelevelidname) AS defaultpricelevelidname
, CONVERT(NVARCHAR(500), description) AS description
, CONVERT(NVARCHAR(500), donotbulkemail) AS donotbulkemail
, CONVERT(NVARCHAR(500), donotbulkemailname) AS donotbulkemailname
, CONVERT(NVARCHAR(500), donotbulkpostalmail) AS donotbulkpostalmail
, CONVERT(NVARCHAR(500), donotbulkpostalmailname) AS donotbulkpostalmailname
, CONVERT(NVARCHAR(500), donotemail) AS donotemail
, CONVERT(NVARCHAR(500), donotemailname) AS donotemailname
, CONVERT(NVARCHAR(500), donotfax) AS donotfax
, CONVERT(NVARCHAR(500), donotfaxname) AS donotfaxname
, CONVERT(NVARCHAR(500), donotphone) AS donotphone
, CONVERT(NVARCHAR(500), donotphonename) AS donotphonename
, CONVERT(NVARCHAR(500), donotpostalmail) AS donotpostalmail
, CONVERT(NVARCHAR(500), donotpostalmailname) AS donotpostalmailname
, CONVERT(NVARCHAR(500), donotsendmarketingmaterialname) AS donotsendmarketingmaterialname
, CONVERT(NVARCHAR(500), donotsendmm) AS donotsendmm
, CONVERT(NVARCHAR(500), emailaddress1) AS emailaddress1
, CONVERT(NVARCHAR(500), emailaddress2) AS emailaddress2
, CONVERT(NVARCHAR(500), emailaddress3) AS emailaddress3
, CONVERT(NVARCHAR(500), entityimage) AS entityimage
, CONVERT(NVARCHAR(500), entityimage_timestamp) AS entityimage_timestamp
, CONVERT(NVARCHAR(500), entityimage_url) AS entityimage_url
, CONVERT(NVARCHAR(500), entityimageid) AS entityimageid
, CONVERT(NVARCHAR(500), exchangerate) AS exchangerate
, CONVERT(NVARCHAR(500), fax) AS fax
, CONVERT(NVARCHAR(500), followemail) AS followemail
, CONVERT(NVARCHAR(500), followemailname) AS followemailname
, CONVERT(NVARCHAR(500), ftpsiteurl) AS ftpsiteurl
, CONVERT(NVARCHAR(500), importsequencenumber) AS importsequencenumber
, CONVERT(NVARCHAR(500), industrycode) AS industrycode
, CONVERT(NVARCHAR(500), industrycodename) AS industrycodename
, CONVERT(NVARCHAR(500), isprivatename) AS isprivatename
, CONVERT(NVARCHAR(500), lastonholdtime) AS lastonholdtime
, CONVERT(NVARCHAR(500), lastusedincampaign) AS lastusedincampaign
, CONVERT(NVARCHAR(500), marketcap) AS marketcap
, CONVERT(NVARCHAR(500), marketcap_base) AS marketcap_base
, CONVERT(NVARCHAR(500), marketingonly) AS marketingonly
, CONVERT(NVARCHAR(500), marketingonlyname) AS marketingonlyname
, CONVERT(NVARCHAR(500), masteraccountidname) AS masteraccountidname
, CONVERT(NVARCHAR(500), masteraccountidyominame) AS masteraccountidyominame
, CONVERT(NVARCHAR(500), masterid) AS masterid
, CONVERT(NVARCHAR(500), merged) AS merged
, CONVERT(NVARCHAR(500), mergedname) AS mergedname
, CONVERT(NVARCHAR(500), modifiedby) AS modifiedby
, CONVERT(NVARCHAR(500), modifiedbyexternalparty) AS modifiedbyexternalparty
, CONVERT(NVARCHAR(500), modifiedbyexternalpartyname) AS modifiedbyexternalpartyname
, CONVERT(NVARCHAR(500), modifiedbyexternalpartyyominame) AS modifiedbyexternalpartyyominame
, CONVERT(NVARCHAR(500), modifiedbyname) AS modifiedbyname
, CONVERT(NVARCHAR(500), modifiedbyyominame) AS modifiedbyyominame
, CONVERT(NVARCHAR(500), modifiedon) AS modifiedon
, CONVERT(NVARCHAR(500), modifiedonbehalfby) AS modifiedonbehalfby
, CONVERT(NVARCHAR(500), modifiedonbehalfbyname) AS modifiedonbehalfbyname
, CONVERT(NVARCHAR(500), modifiedonbehalfbyyominame) AS modifiedonbehalfbyyominame
, CONVERT(NVARCHAR(500), name) AS name
, CONVERT(NVARCHAR(500), new_aap_account) AS new_aap_account
, CONVERT(NVARCHAR(500), new_aap_effective_date) AS new_aap_effective_date
, CONVERT(NVARCHAR(500), new_aap_resignation_reason) AS new_aap_resignation_reason
, CONVERT(NVARCHAR(500), new_aap_resignation_reasonname) AS new_aap_resignation_reasonname
, CONVERT(NVARCHAR(500), new_aapeffectivedatev2) AS new_aapeffectivedatev2
, CONVERT(NVARCHAR(500), new_aapeffectivedatev3) AS new_aapeffectivedatev3
, CONVERT(NVARCHAR(500), new_aapparent) AS new_aapparent
, CONVERT(NVARCHAR(500), new_aapparenttext) AS new_aapparenttext
, CONVERT(NVARCHAR(500), new_aapquit) AS new_aapquit
, CONVERT(NVARCHAR(500), new_aapstatus) AS new_aapstatus
, CONVERT(NVARCHAR(500), new_aapstatusname) AS new_aapstatusname
, CONVERT(NVARCHAR(500), new_account_subtype) AS new_account_subtype
, CONVERT(NVARCHAR(500), new_account_subtypename) AS new_account_subtypename
, CONVERT(NVARCHAR(500), new_affiliate) AS new_affiliate
, CONVERT(NVARCHAR(500), new_affiliateactive) AS new_affiliateactive
, CONVERT(NVARCHAR(500), new_affiliateend) AS new_affiliateend
, CONVERT(NVARCHAR(500), new_affiliatename) AS new_affiliatename
, CONVERT(NVARCHAR(500), new_api_account) AS new_api_account
, CONVERT(NVARCHAR(500), new_api_app_credit_date) AS new_api_app_credit_date
, CONVERT(NVARCHAR(500), new_api_app_status) AS new_api_app_status
, CONVERT(NVARCHAR(500), new_api_app_statusname) AS new_api_app_statusname
, CONVERT(NVARCHAR(500), new_api_approved_date) AS new_api_approved_date
, CONVERT(NVARCHAR(500), new_api_csos_approved_date) AS new_api_csos_approved_date
, CONVERT(NVARCHAR(500), new_api_csos_declined_date) AS new_api_csos_declined_date
, CONVERT(NVARCHAR(500), new_api_csos_installed_date) AS new_api_csos_installed_date
, CONVERT(NVARCHAR(500), new_api_csos_profile_received_date) AS new_api_csos_profile_received_date
, CONVERT(NVARCHAR(500), new_api_cutoff) AS new_api_cutoff
, CONVERT(NVARCHAR(500), new_api_cutoffname) AS new_api_cutoffname
, CONVERT(NVARCHAR(500), new_api_order_method) AS new_api_order_method
, CONVERT(NVARCHAR(500), new_api_order_methodname) AS new_api_order_methodname
, CONVERT(NVARCHAR(500), new_api_photos_received_date) AS new_api_photos_received_date
, CONVERT(NVARCHAR(500), new_api_terms) AS new_api_terms
, CONVERT(NVARCHAR(500), new_api_termsname) AS new_api_termsname
, CONVERT(NVARCHAR(500), new_apiaccountactivation) AS new_apiaccountactivation
, CONVERT(NVARCHAR(500), new_apialert) AS new_apialert
, CONVERT(NVARCHAR(500), new_apialertname) AS new_apialertname
, CONVERT(NVARCHAR(500), new_apibrands) AS new_apibrands
, CONVERT(NVARCHAR(500), new_apicreditalert) AS new_apicreditalert
, CONVERT(NVARCHAR(500), new_apicreditalertname) AS new_apicreditalertname
, CONVERT(NVARCHAR(500), new_apicreditlimit) AS new_apicreditlimit
, CONVERT(NVARCHAR(500), new_apicsosalert) AS new_apicsosalert
, CONVERT(NVARCHAR(500), new_apicsosalertname) AS new_apicsosalertname
, CONVERT(NVARCHAR(500), new_apicsosstatus) AS new_apicsosstatus
, CONVERT(NVARCHAR(500), new_apicsosstatusname) AS new_apicsosstatusname
, CONVERT(NVARCHAR(500), new_apifreight) AS new_apifreight
, CONVERT(NVARCHAR(500), new_apifreightname) AS new_apifreightname
, CONVERT(NVARCHAR(500), new_apigenerics) AS new_apigenerics
, CONVERT(NVARCHAR(500), new_apimot) AS new_apimot
, CONVERT(NVARCHAR(500), new_apimotname) AS new_apimotname
, CONVERT(NVARCHAR(500), new_apiotcs) AS new_apiotcs
, CONVERT(NVARCHAR(500), new_apipaymentmethod) AS new_apipaymentmethod
, CONVERT(NVARCHAR(500), new_apipaymentmethodname) AS new_apipaymentmethodname
, CONVERT(NVARCHAR(500), new_apiquestionniare) AS new_apiquestionniare
, CONVERT(NVARCHAR(500), new_apiquestionniarename) AS new_apiquestionniarename
, CONVERT(NVARCHAR(500), new_apirefrigerated) AS new_apirefrigerated
, CONVERT(NVARCHAR(500), new_apirefrigeratedname) AS new_apirefrigeratedname
, CONVERT(NVARCHAR(500), new_apistatus) AS new_apistatus
, CONVERT(NVARCHAR(500), new_apistatusname) AS new_apistatusname
, CONVERT(NVARCHAR(500), new_apitotals) AS new_apitotals
, CONVERT(NVARCHAR(500), new_apiwarehouse) AS new_apiwarehouse
, CONVERT(NVARCHAR(500), new_apiwarehousename) AS new_apiwarehousename
, CONVERT(NVARCHAR(500), new_aplicor) AS new_aplicor
, CONVERT(NVARCHAR(500), new_applicationfeedate) AS new_applicationfeedate
, CONVERT(NVARCHAR(500), new_applicationreceived) AS new_applicationreceived
, CONVERT(NVARCHAR(500), new_at_risk) AS new_at_risk
, CONVERT(NVARCHAR(500), new_at_riskname) AS new_at_riskname
, CONVERT(NVARCHAR(500), new_authorized_voter) AS new_authorized_voter
, CONVERT(NVARCHAR(500), new_authorizedsignature) AS new_authorizedsignature
, CONVERT(NVARCHAR(500), new_businessclass) AS new_businessclass
, CONVERT(NVARCHAR(500), new_businessclassname) AS new_businessclassname
, CONVERT(NVARCHAR(500), new_cah_account) AS new_cah_account
, CONVERT(NVARCHAR(500), new_cah_avg_volume) AS new_cah_avg_volume
, CONVERT(NVARCHAR(500), new_cah_cog) AS new_cah_cog
, CONVERT(NVARCHAR(500), new_cah_dso) AS new_cah_dso
, CONVERT(NVARCHAR(500), new_cah_potential_volume) AS new_cah_potential_volume
, CONVERT(NVARCHAR(500), new_cah_terms) AS new_cah_terms
, CONVERT(NVARCHAR(500), new_cah_termsname) AS new_cah_termsname
, CONVERT(NVARCHAR(500), new_category) AS new_category
, CONVERT(NVARCHAR(500), new_categoryname) AS new_categoryname
, CONVERT(NVARCHAR(500), new_combinedvolume) AS new_combinedvolume
, CONVERT(NVARCHAR(500), new_computer_software) AS new_computer_software
, CONVERT(NVARCHAR(500), new_computer_softwarename) AS new_computer_softwarename
, CONVERT(NVARCHAR(500), new_conference2015) AS new_conference2015
, CONVERT(NVARCHAR(500), new_conference2015name) AS new_conference2015name
, CONVERT(NVARCHAR(500), new_conference2016) AS new_conference2016
, CONVERT(NVARCHAR(500), new_conference2016name) AS new_conference2016name
, CONVERT(NVARCHAR(500), new_conference2017) AS new_conference2017
, CONVERT(NVARCHAR(500), new_conference2017name) AS new_conference2017name
, CONVERT(NVARCHAR(500), new_copyphysicaltofinancial) AS new_copyphysicaltofinancial
, CONVERT(NVARCHAR(500), new_copyphysicaltofinancialname) AS new_copyphysicaltofinancialname
, CONVERT(NVARCHAR(500), new_copyphysicaltomailing) AS new_copyphysicaltomailing
, CONVERT(NVARCHAR(500), new_copyphysicaltomailingname) AS new_copyphysicaltomailingname
, CONVERT(NVARCHAR(500), new_copytomarketingemail) AS new_copytomarketingemail
, CONVERT(NVARCHAR(500), new_copytomarketingemailname) AS new_copytomarketingemailname
, CONVERT(NVARCHAR(500), new_corporatename) AS new_corporatename
, CONVERT(NVARCHAR(500), new_county) AS new_county
, CONVERT(NVARCHAR(500), new_dea) AS new_dea
, CONVERT(NVARCHAR(500), new_deaexpiration) AS new_deaexpiration
, CONVERT(NVARCHAR(500), new_diversionce) AS new_diversionce
, CONVERT(NVARCHAR(500), new_edi_activation_date) AS new_edi_activation_date
, CONVERT(NVARCHAR(500), new_edi_app_received_date) AS new_edi_app_received_date
, CONVERT(NVARCHAR(500), new_edi_approved_date) AS new_edi_approved_date
, CONVERT(NVARCHAR(500), new_fed_tax) AS new_fed_tax
, CONVERT(NVARCHAR(500), new_fee_paid) AS new_fee_paid
, CONVERT(NVARCHAR(500), new_fee_paidname) AS new_fee_paidname
, CONVERT(NVARCHAR(500), new_financialcity) AS new_financialcity
, CONVERT(NVARCHAR(500), new_financialstate) AS new_financialstate
, CONVERT(NVARCHAR(500), new_financialstreet1) AS new_financialstreet1
, CONVERT(NVARCHAR(500), new_financialstreet2) AS new_financialstreet2
, CONVERT(NVARCHAR(500), new_financialstreet3) AS new_financialstreet3
, CONVERT(NVARCHAR(500), new_financialzip) AS new_financialzip
, CONVERT(NVARCHAR(500), new_gcr) AS new_gcr
, CONVERT(NVARCHAR(500), new_generalemail2) AS new_generalemail2
, CONVERT(NVARCHAR(500), new_group) AS new_group
, CONVERT(NVARCHAR(500), new_groupalliance) AS new_groupalliance
, CONVERT(NVARCHAR(500), new_groupalliancename) AS new_groupalliancename
, CONVERT(NVARCHAR(500), new_hours_saturday_close) AS new_hours_saturday_close
, CONVERT(NVARCHAR(500), new_hours_saturday_open) AS new_hours_saturday_open
, CONVERT(NVARCHAR(500), new_hours_sunday_close) AS new_hours_sunday_close
, CONVERT(NVARCHAR(500), new_hours_sunday_open) AS new_hours_sunday_open
, CONVERT(NVARCHAR(500), new_hours_weekdays_close) AS new_hours_weekdays_close
, CONVERT(NVARCHAR(500), new_hours_weekdays_open) AS new_hours_weekdays_open
, CONVERT(NVARCHAR(500), new_industrysupportfund) AS new_industrysupportfund
, CONVERT(NVARCHAR(500), new_industrysupportfundname) AS new_industrysupportfundname
, CONVERT(NVARCHAR(500), new_lastsalescall) AS new_lastsalescall
, CONVERT(NVARCHAR(500), new_marketingemail) AS new_marketingemail
, CONVERT(NVARCHAR(500), new_mc_affiliation) AS new_mc_affiliation
, CONVERT(NVARCHAR(500), new_mc_affiliationname) AS new_mc_affiliationname
, CONVERT(NVARCHAR(500), new_mc_effective_date) AS new_mc_effective_date
, CONVERT(NVARCHAR(500), new_mc_network) AS new_mc_network
, CONVERT(NVARCHAR(500), new_mc_networkname) AS new_mc_networkname
, CONVERT(NVARCHAR(500), new_mc_termination_date) AS new_mc_termination_date
, CONVERT(NVARCHAR(500), new_memb_received_date) AS new_memb_received_date
, CONVERT(NVARCHAR(500), new_ncpdp) AS new_ncpdp
, CONVERT(NVARCHAR(500), new_npi) AS new_npi
, CONVERT(NVARCHAR(500), new_orderingcontact) AS new_orderingcontact
, CONVERT(NVARCHAR(500), new_orderingcontactlookup) AS new_orderingcontactlookup
, CONVERT(NVARCHAR(500), new_orderingcontactlookupname) AS new_orderingcontactlookupname
, CONVERT(NVARCHAR(500), new_orderingcontactlookupyominame) AS new_orderingcontactlookupyominame
, CONVERT(NVARCHAR(500), new_org_type) AS new_org_type
, CONVERT(NVARCHAR(500), new_org_typename) AS new_org_typename
, CONVERT(NVARCHAR(500), new_ownertype) AS new_ownertype
, CONVERT(NVARCHAR(500), new_ownertypename) AS new_ownertypename
, CONVERT(NVARCHAR(500), new_parentaccounttext) AS new_parentaccounttext
, CONVERT(NVARCHAR(500), new_pharmacist) AS new_pharmacist
, CONVERT(NVARCHAR(500), new_pharmacistlicense) AS new_pharmacistlicense
, CONVERT(NVARCHAR(500), new_pharmacistlicenseexpiration) AS new_pharmacistlicenseexpiration
, CONVERT(NVARCHAR(500), new_pharmacyowner) AS new_pharmacyowner
, CONVERT(NVARCHAR(500), new_pharmacyownerlookup) AS new_pharmacyownerlookup
, CONVERT(NVARCHAR(500), new_pharmacyownerlookupname) AS new_pharmacyownerlookupname
, CONVERT(NVARCHAR(500), new_pharmacyownerlookupyominame) AS new_pharmacyownerlookupyominame
, CONVERT(NVARCHAR(500), new_planogram) AS new_planogram
, CONVERT(NVARCHAR(500), new_planogramname) AS new_planogramname
, CONVERT(NVARCHAR(500), new_pmid) AS new_pmid
, CONVERT(NVARCHAR(500), new_previousgroupalliance) AS new_previousgroupalliance
, CONVERT(NVARCHAR(500), new_previousgroupalliancename) AS new_previousgroupalliancename
, CONVERT(NVARCHAR(500), new_previousprimarywholesaler) AS new_previousprimarywholesaler
, CONVERT(NVARCHAR(500), new_previousprimarywholesalername) AS new_previousprimarywholesalername
, CONVERT(NVARCHAR(500), new_primarycontact) AS new_primarycontact
, CONVERT(NVARCHAR(500), new_scantoss_activation_date) AS new_scantoss_activation_date
, CONVERT(NVARCHAR(500), new_scantoss_app_received_date) AS new_scantoss_app_received_date
, CONVERT(NVARCHAR(500), new_scantoss_eligible_date) AS new_scantoss_eligible_date
, CONVERT(NVARCHAR(500), new_scantoss_status) AS new_scantoss_status
, CONVERT(NVARCHAR(500), new_scantoss_statusname) AS new_scantoss_statusname
, CONVERT(NVARCHAR(500), new_scantoss_version) AS new_scantoss_version
, CONVERT(NVARCHAR(500), new_scantoss_versionname) AS new_scantoss_versionname
, CONVERT(NVARCHAR(500), new_softwareliabilitywaiver) AS new_softwareliabilitywaiver
, CONVERT(NVARCHAR(500), new_startup) AS new_startup
, CONVERT(NVARCHAR(500), new_startupname) AS new_startupname
, CONVERT(NVARCHAR(500), new_state_lic) AS new_state_lic
, CONVERT(NVARCHAR(500), new_state_lic_exp_date) AS new_state_lic_exp_date
, CONVERT(NVARCHAR(500), new_state_tax) AS new_state_tax
, CONVERT(NVARCHAR(500), new_stbrandsmartplus) AS new_stbrandsmartplus
, CONVERT(NVARCHAR(500), new_stbrandsmartplus_base) AS new_stbrandsmartplus_base
, CONVERT(NVARCHAR(500), new_territories) AS new_territories
, CONVERT(NVARCHAR(500), new_territoriesname) AS new_territoriesname
, CONVERT(NVARCHAR(500), new_territory) AS new_territory
, CONVERT(NVARCHAR(500), new_territoryname) AS new_territoryname
, CONVERT(NVARCHAR(500), new_wholesaler) AS new_wholesaler
, CONVERT(NVARCHAR(500), new_wholesalername) AS new_wholesalername
, CONVERT(NVARCHAR(500), numberofemployees) AS numberofemployees
, CONVERT(NVARCHAR(500), onholdtime) AS onholdtime
, CONVERT(NVARCHAR(500), opendeals) AS opendeals
, CONVERT(NVARCHAR(500), opendeals_date) AS opendeals_date
, CONVERT(NVARCHAR(500), opendeals_state) AS opendeals_state
, CONVERT(NVARCHAR(500), openrevenue) AS openrevenue
, CONVERT(NVARCHAR(500), openrevenue_base) AS openrevenue_base
, CONVERT(NVARCHAR(500), openrevenue_date) AS openrevenue_date
, CONVERT(NVARCHAR(500), openrevenue_state) AS openrevenue_state
, CONVERT(NVARCHAR(500), originatingleadid) AS originatingleadid
, CONVERT(NVARCHAR(500), originatingleadidname) AS originatingleadidname
, CONVERT(NVARCHAR(500), originatingleadidyominame) AS originatingleadidyominame
, CONVERT(NVARCHAR(500), overriddencreatedon) AS overriddencreatedon
, CONVERT(NVARCHAR(500), ownerid) AS ownerid
, CONVERT(NVARCHAR(500), owneridname) AS owneridname
, CONVERT(NVARCHAR(500), owneridtype) AS owneridtype
, CONVERT(NVARCHAR(500), owneridyominame) AS owneridyominame
, CONVERT(NVARCHAR(500), ownershipcode) AS ownershipcode
, CONVERT(NVARCHAR(500), ownershipcodename) AS ownershipcodename
, CONVERT(NVARCHAR(500), owningbusinessunit) AS owningbusinessunit
, CONVERT(NVARCHAR(500), owningteam) AS owningteam
, CONVERT(NVARCHAR(500), owninguser) AS owninguser
, CONVERT(NVARCHAR(500), parentaccountid) AS parentaccountid
, CONVERT(NVARCHAR(500), parentaccountidname) AS parentaccountidname
, CONVERT(NVARCHAR(500), parentaccountidyominame) AS parentaccountidyominame
, CONVERT(NVARCHAR(500), participatesinworkflow) AS participatesinworkflow
, CONVERT(NVARCHAR(500), participatesinworkflowname) AS participatesinworkflowname
, CONVERT(NVARCHAR(500), paymenttermscode) AS paymenttermscode
, CONVERT(NVARCHAR(500), paymenttermscodename) AS paymenttermscodename
, CONVERT(NVARCHAR(500), preferredappointmentdaycode) AS preferredappointmentdaycode
, CONVERT(NVARCHAR(500), preferredappointmentdaycodename) AS preferredappointmentdaycodename
, CONVERT(NVARCHAR(500), preferredappointmenttimecode) AS preferredappointmenttimecode
, CONVERT(NVARCHAR(500), preferredappointmenttimecodename) AS preferredappointmenttimecodename
, CONVERT(NVARCHAR(500), preferredcontactmethodcode) AS preferredcontactmethodcode
, CONVERT(NVARCHAR(500), preferredcontactmethodcodename) AS preferredcontactmethodcodename
, CONVERT(NVARCHAR(500), preferredequipmentid) AS preferredequipmentid
, CONVERT(NVARCHAR(500), preferredequipmentidname) AS preferredequipmentidname
, CONVERT(NVARCHAR(500), preferredserviceid) AS preferredserviceid
, CONVERT(NVARCHAR(500), preferredserviceidname) AS preferredserviceidname
, CONVERT(NVARCHAR(500), preferredsystemuserid) AS preferredsystemuserid
, CONVERT(NVARCHAR(500), preferredsystemuseridname) AS preferredsystemuseridname
, CONVERT(NVARCHAR(500), preferredsystemuseridyominame) AS preferredsystemuseridyominame
, CONVERT(NVARCHAR(500), primarycontactid) AS primarycontactid
, CONVERT(NVARCHAR(500), primarycontactidname) AS primarycontactidname
, CONVERT(NVARCHAR(500), primarycontactidyominame) AS primarycontactidyominame
, CONVERT(NVARCHAR(500), primarysatoriid) AS primarysatoriid
, CONVERT(NVARCHAR(500), primarytwitterid) AS primarytwitterid
, CONVERT(NVARCHAR(500), processid) AS processid
, CONVERT(NVARCHAR(500), revenue) AS revenue
, CONVERT(NVARCHAR(500), revenue_base) AS revenue_base
, CONVERT(NVARCHAR(500), sharesoutstanding) AS sharesoutstanding
, CONVERT(NVARCHAR(500), shippingmethodcode) AS shippingmethodcode
, CONVERT(NVARCHAR(500), shippingmethodcodename) AS shippingmethodcodename
, CONVERT(NVARCHAR(500), sic) AS sic
, CONVERT(NVARCHAR(500), slaid) AS slaid
, CONVERT(NVARCHAR(500), slainvokedid) AS slainvokedid
, CONVERT(NVARCHAR(500), slainvokedidname) AS slainvokedidname
, CONVERT(NVARCHAR(500), slaname) AS slaname
, CONVERT(NVARCHAR(500), stageid) AS stageid
, CONVERT(NVARCHAR(500), statecode) AS statecode
, CONVERT(NVARCHAR(500), statecodename) AS statecodename
, CONVERT(NVARCHAR(500), statuscode) AS statuscode
, CONVERT(NVARCHAR(500), statuscodename) AS statuscodename
, CONVERT(NVARCHAR(500), stockexchange) AS stockexchange
, CONVERT(NVARCHAR(500), telephone1) AS telephone1
, CONVERT(NVARCHAR(500), telephone2) AS telephone2
, CONVERT(NVARCHAR(500), telephone3) AS telephone3
, CONVERT(NVARCHAR(500), territorycode) AS territorycode
, CONVERT(NVARCHAR(500), territorycodename) AS territorycodename
, CONVERT(NVARCHAR(500), territoryid) AS territoryid
, CONVERT(NVARCHAR(500), territoryidname) AS territoryidname
, CONVERT(NVARCHAR(500), tickersymbol) AS tickersymbol
, CONVERT(NVARCHAR(500), timespentbymeonemailandmeetings) AS timespentbymeonemailandmeetings
, CONVERT(NVARCHAR(500), timezoneruleversionnumber) AS timezoneruleversionnumber
, CONVERT(NVARCHAR(500), transactioncurrencyid) AS transactioncurrencyid
, CONVERT(NVARCHAR(500), transactioncurrencyidname) AS transactioncurrencyidname
, CONVERT(NVARCHAR(500), traversedpath) AS traversedpath
, CONVERT(NVARCHAR(500), utcconversiontimezonecode) AS utcconversiontimezonecode
, CONVERT(NVARCHAR(500), versionnumber) AS versionnumber
, CONVERT(NVARCHAR(500), websiteurl) AS websiteurl
, CONVERT(NVARCHAR(500), yominame) AS yominame
FROM Staging.DynamicsAccount
GO
