USE [ODSIntake]
GO
/****** Object:  Table [Staging].[CRM_ProgramEntity]    Script Date: 12/22/2020 7:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[CRM_ProgramEntity](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbyname] [nvarchar](100) NULL,
	[createdbyyominame] [nvarchar](100) NULL,
	[createdon] [datetime] NULL,
	[createdonbehalfby] [uniqueidentifier] NULL,
	[createdonbehalfbyname] [nvarchar](100) NULL,
	[createdonbehalfbyyominame] [nvarchar](100) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbyname] [nvarchar](100) NULL,
	[modifiedbyyominame] [nvarchar](100) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonbehalfby] [uniqueidentifier] NULL,
	[modifiedonbehalfbyname] [nvarchar](100) NULL,
	[modifiedonbehalfbyyominame] [nvarchar](100) NULL,
	[new_aap_account] [nvarchar](100) NULL,
	[new_aap_applicationreceived] [date] NULL,
	[new_aap_authorizedsignature] [nvarchar](100) NULL,
	[new_aap_feedate] [date] NULL,
	[new_aap_feepaid] [int] NULL,
	[new_aap_feepaidname] [nvarchar](250) NULL,
	[new_aap_iatv] [nvarchar](100) NULL,
	[new_aap_industrysupport] [int] NULL,
	[new_aap_industrysupportname] [nvarchar](250) NULL,
	[new_aap_membershipowner] [nvarchar](100) NULL,
	[new_aap_ownertype] [int] NULL,
	[new_aap_ownertypename] [nvarchar](250) NULL,
	[new_aap_status_global] [int] NULL,
	[new_aap_status_globalname] [nvarchar](250) NULL,
	[new_aap_termnotice] [date] NULL,
	[new_accountid] [uniqueidentifier] NULL,
	[new_accountidname] [nvarchar](160) NULL,
	[new_accountidyominame] [nvarchar](160) NULL,
	[new_activation] [date] NULL,
	[new_activationstring] [nvarchar](100) NULL,
	[new_api_account] [nvarchar](100) NULL,
	[new_api_accounthistorical] [nvarchar](100) NULL,
	[new_api_alert_global] [int] NULL,
	[new_api_alert_globalname] [nvarchar](250) NULL,
	[new_api_annualprofile] [date] NULL,
	[new_api_applicationapproved] [date] NULL,
	[new_api_applicationcredit] [date] NULL,
	[new_api_applicationreceived] [date] NULL,
	[new_api_applicationstatus] [int] NULL,
	[new_api_applicationstatusname] [nvarchar](250) NULL,
	[new_api_diversionce] [date] NULL,
	[new_api_inactive] [date] NULL,
	[new_api_originalactivation] [date] NULL,
	[new_api_pmidtransition] [date] NULL,
	[new_api_questionnairereceived] [date] NULL,
	[new_api_questionnairestatus] [int] NULL,
	[new_api_questionnairestatusname] [nvarchar](250) NULL,
	[new_api_reactivations] [nvarchar](2) NULL,
	[new_api_status_global] [int] NULL,
	[new_api_status_globalname] [nvarchar](250) NULL,
	[new_api_triggerglobal] [int] NULL,
	[new_api_triggerglobalname] [nvarchar](250) NULL,
	[new_api_vendor] [nvarchar](6) NULL,
	[new_arete_network_global] [int] NULL,
	[new_arete_network_globalname] [nvarchar](250) NULL,
	[new_arete_status_global] [int] NULL,
	[new_arete_status_globalname] [nvarchar](250) NULL,
	[new_documentscomplete] [date] NULL,
	[new_photoscomplete] [date] NULL,
	[new_pmid_lookup] [nvarchar](100) NULL,
	[new_profitamp_applicationreceived] [date] NULL,
	[new_profitamp_fee] [int] NULL,
	[new_profitamp_feename] [nvarchar](250) NULL,
	[new_profitamp_invoice] [int] NULL,
	[new_profitamp_invoicename] [nvarchar](250) NULL,
	[new_profitamp_level_global] [int] NULL,
	[new_profitamp_level_globalname] [nvarchar](250) NULL,
	[new_profitamp_renewal] [int] NULL,
	[new_profitamp_renewalname] [nvarchar](250) NULL,
	[new_profitamp_servicestart] [date] NULL,
	[new_profitamp_status_global] [int] NULL,
	[new_profitamp_status_globalname] [nvarchar](250) NULL,
	[new_profitamp_termnotice] [date] NULL,
	[new_program] [nvarchar](100) NULL,
	[new_programid] [uniqueidentifier] NULL,
	[new_programname] [nvarchar](4000) NULL,
	[new_programstatus] [uniqueidentifier] NULL,
	[new_programstatusname] [nvarchar](100) NULL,
	[new_programstatusstring] [nvarchar](100) NULL,
	[new_programtypeglobal] [int] NULL,
	[new_programtypeglobalname] [nvarchar](250) NULL,
	[new_programtypevalue] [nvarchar](100) NULL,
	[new_resignationreason_global] [int] NULL,
	[new_resignationreason_globalname] [nvarchar](250) NULL,
	[new_termination] [date] NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationidname] [nvarchar](100) NULL,
	[overriddencreatedon] [date] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](250) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](250) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[versionnumber] [bigint] NULL,
	[RowCreatedDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[CRM_ProgramEntity] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
