USE [ReportServer]
GO
/****** Object:  StoredProcedure [dbo].[FlushContentCache]    Script Date: 12/22/2020 7:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FlushContentCache]
@Path as nvarchar(425)
AS
SET DEADLOCK_PRIORITY LOW
SET NOCOUNT ON
DECLARE @CatalogItemID AS UNIQUEIDENTIFIER

SELECT @CatalogItemID=ItemID FROM [dbo].[Catalog] WHERE [Path]=@Path

DELETE
FROM
   [ReportServerTempDB].dbo.[ContentCache]
WHERE
   CatalogItemID = @CatalogItemID

SELECT @@ROWCOUNT
GO
