USE [WebDev]
GO
/****** Object:  Table [dbo].[MCenter_UPSChange_delete071315]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCenter_UPSChange_delete071315](
	[Cust#] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL
) ON [PRIMARY]
GO
