USE [WebDev]
GO
/****** Object:  Table [dbo].[tmp_MCenter_Notvoted042215]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MCenter_Notvoted042215](
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[Department] [int] NULL,
	[FAX] [nvarchar](255) NULL
) ON [PRIMARY]
GO
