USE [WebDev]
GO
/****** Object:  View [dbo].[v_CredentiallingPrepopulate]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CredentiallingPrepopulate]
AS
select * from pharmacymaster..v_CredentiallingPrepopulate

GO
