USE [WebDev]
GO
/****** Object:  Table [dbo].[DB1_Count_20180827]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB1_Count_20180827](
	[APIItemNbr] [varchar](50) NULL,
	[C1] [int] NULL
) ON [PRIMARY]
GO
