USE [WebDev]
GO
/****** Object:  Table [dbo].[UPStateMAC]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPStateMAC](
	[State] [char](2) NOT NULL
) ON [PRIMARY]
GO
