USE [WebDev]
GO
/****** Object:  Table [dbo].[Specialty_AuthorizeExceptions]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty_AuthorizeExceptions](
	[PMID] [int] NULL,
	[NCPDP] [varchar](7) NULL
) ON [PRIMARY]
GO
