USE [WebDev]
GO
/****** Object:  Table [dbo].[MCenter_list111814]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCenter_list111814](
	[NABP] [nvarchar](255) NULL,
	[PHARMACY NAME] [nvarchar](255) NULL,
	[PMID] [int] NULL
) ON [PRIMARY]
GO
