USE [WebDev]
GO
/****** Object:  Table [dbo].[temp_pmid]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_pmid](
	[pmid] [int] NULL
) ON [PRIMARY]
GO
