USE [WebDev]
GO
/****** Object:  Table [dbo].[tmpCompletedPMID]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpCompletedPMID](
	[PMID] [int] NULL
) ON [PRIMARY]
GO
