USE [WebDev]
GO
/****** Object:  Table [dbo].[profile_links_programinfo]    Script Date: 12/22/2020 8:08:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile_links_programinfo](
	[programid] [int] NOT NULL,
	[link] [varchar](255) NULL
) ON [PRIMARY]
GO
