USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[ScanToss]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScanToss](
	[Customer Number] [nvarchar](50) NULL,
	[Territory Mng] [nvarchar](50) NULL
) ON [PRIMARY]
GO
