USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippUserListHist]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippUserListHist](
	[NCPDP] [varchar](20) NULL
) ON [PRIMARY]
GO
