USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[SLX_PVA_DEA_Merge]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLX_PVA_DEA_Merge](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEA_Old] [varchar](50) NULL,
	[DEA_New] [varchar](50) NULL,
	[Date_Added] [datetime] NULL,
 CONSTRAINT [PK_SLX_PVA_DEA_MERGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
