USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[AccessVendors]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessVendors](
	[vendor_id] [int] NOT NULL,
	[PPFeeNote] [nvarchar](max) NULL,
	[VENDOR] [nvarchar](150) NULL,
	[Website Program Description] [nvarchar](max) NULL,
	[MemberDeal] [nvarchar](max) NULL,
	[PurchaseIncentive] [nvarchar](max) NULL,
	[PPContract Billed] [nvarchar](50) NULL,
	[PPContract Pd] [nvarchar](50) NULL,
	[Contract Pricing Start Date] [nvarchar](50) NULL,
	[Contract Pricing End Date] [nvarchar](50) NULL,
	[Corporate Rebate] [nvarchar](255) NULL,
	[Pat Rebate] [nvarchar](3) NULL,
	[Rebate To FPN] [nvarchar](200) NULL,
	[Rebate From FPN to United] [nvarchar](200) NULL,
	[CustomerServicePhone] [nvarchar](50) NULL,
	[Customer Service Toll Free] [nvarchar](50) NULL,
	[Customer Service Fax] [nvarchar](50) NULL,
	[CustomerServiceE-mail] [nvarchar](100) NULL,
	[WEBSITE] [nvarchar](100) NULL,
	[CorpAddr1] [nvarchar](50) NULL,
	[CorpAddr2] [nvarchar](50) NULL,
	[CorpCity] [nvarchar](50) NULL,
	[CorpSt] [nvarchar](50) NULL,
	[CorpZip] [nvarchar](50) NULL,
	[CORP800] [nvarchar](50) NULL,
	[CorpPhone] [nvarchar](50) NULL,
	[CorpFax] [nvarchar](50) NULL,
	[Last Modified] [datetime] NULL,
	[Why Modified] [nvarchar](255) NULL,
	[PPContract/ Effective] [datetime] NULL,
	[PPContract/ Expiration] [datetime] NULL,
	[Marketing Package] [nvarchar](50) NULL,
	[Tier] [nvarchar](255) NULL,
	[PreferedPartnerSince] [int] NULL,
	[Contract Term Date] [datetime] NULL,
	[Active] [nvarchar](3) NULL,
	[PIPCo Program] [nvarchar](3) NULL,
	[United/PIPCoUses] [nvarchar](3) NULL,
	[NotesPPPStatus] [nvarchar](max) NULL,
	[Vendor Type] [nvarchar](50) NULL,
	[Annual Renewal LetterSent] [nvarchar](50) NULL,
	[Welcome E-mail Infor Form] [nvarchar](50) NULL,
	[InfoFormReturned] [nvarchar](5) NULL,
	[WelcomeLetterMarketingCalendar] [nvarchar](50) NULL,
	[MKt BannerStart Date] [datetime] NULL,
	[Mkt BannerEnd Date] [datetime] NULL,
	[SSI] [nvarchar](3) NULL,
	[Spin Reports United] [nvarchar](3) NULL,
	[Spin Reports Partner] [nvarchar](3) NULL,
	[Spin Report Notes] [nvarchar](max) NULL,
	[Spin Reports N/A] [nvarchar](3) NULL,
	[Spin Reports FPN] [nvarchar](50) NULL,
	[DirectorySent] [nvarchar](50) NULL,
	[LinkedURL] [nvarchar](255) NULL,
	[Phone Website] [nvarchar](50) NULL,
	[RFP] [nvarchar](50) NULL,
	[Purchase From] [nvarchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
