USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippOwnershipHist_March16]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippOwnershipHist_March16](
	[ParentPMID] [int] NULL
) ON [PRIMARY]
GO
