USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[AdherisRpt]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdherisRpt](
	[NCPDP] [nvarchar](50) NULL,
	[Volume] [nvarchar](50) NULL,
	[Rebate] [nvarchar](50) NULL,
	[Column 3] [nvarchar](50) NULL
) ON [PRIMARY]
GO
