USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp2Q13]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp2Q13](
	[NCPDP] [nvarchar](255) NULL,
	[Volume] [money] NULL,
	[Rebate] [money] NULL,
	[Term Date] [nvarchar](255) NULL,
	[MCQuitDate] [nvarchar](255) NULL,
	[MC] [nvarchar](255) NULL
) ON [PRIMARY]
GO
