USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_ytd_WH_Sales_CS]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_ytd_WH_Sales_CS](
	[WHAcct#] [varchar](32) NULL,
	[AAP#] [varchar](20) NULL,
	[SlsMn] [varchar](4) NULL,
	[Name] [varchar](65) NULL,
	[City] [varchar](50) NULL,
	[ST] [varchar](2) NULL,
	[Status] [varchar](32) NULL,
	[Date Opened] [datetime] NULL,
	[July 09 Brand] [numeric](18, 2) NULL,
	[Aug 09 Brand] [numeric](18, 2) NULL,
	[Sept 09 Brand] [numeric](18, 2) NULL,
	[Oct 09 Brand] [numeric](18, 2) NULL,
	[Nov 09 Brand] [numeric](18, 2) NULL,
	[Dec 09 Brand] [numeric](18, 2) NULL,
	[Jan 10 Brand] [numeric](18, 2) NULL,
	[Feb 10 Brand] [numeric](18, 2) NULL,
	[Mar 10 Brand] [numeric](18, 2) NULL,
	[Apr 10 Brand] [numeric](18, 2) NULL,
	[May 10 Brand] [numeric](18, 2) NULL,
	[June 10 Brand] [numeric](18, 2) NULL,
	[July 10 Brand] [numeric](18, 2) NULL,
	[July 09 Generic] [numeric](18, 2) NULL,
	[Aug 09 Generic] [numeric](18, 2) NULL,
	[Sept 09 Generic] [numeric](18, 2) NULL,
	[Oct 09 Generic] [numeric](18, 2) NULL,
	[Nov 09 Generic] [numeric](18, 2) NULL,
	[Dec 09 Generic] [numeric](18, 2) NULL,
	[Jan 10 Generic] [numeric](18, 2) NULL,
	[Feb 10 Generic] [numeric](18, 2) NULL,
	[Mar 10 Generic] [numeric](18, 2) NULL,
	[Apr 10 Generic] [numeric](18, 2) NULL,
	[May 10 Generic] [numeric](18, 2) NULL,
	[June 10 Generic] [numeric](18, 2) NULL,
	[July 10 Generic] [numeric](18, 2) NULL,
	[July 09 OTC] [numeric](18, 2) NULL,
	[Aug 09 OTC] [numeric](18, 2) NULL,
	[Sept 09 OTC] [numeric](18, 2) NULL,
	[Oct 09 OTC] [numeric](18, 2) NULL,
	[Nov 09 OTC] [numeric](18, 2) NULL,
	[Dec 09 OTC] [numeric](18, 2) NULL,
	[Jan 10 OTC] [numeric](18, 2) NULL,
	[Feb 10 OTC] [numeric](18, 2) NULL,
	[Mar 10 OTC] [numeric](18, 2) NULL,
	[Apr 10 OTC] [numeric](18, 2) NULL,
	[May 10 OTC] [numeric](18, 2) NULL,
	[June 10 OTC] [numeric](18, 2) NULL,
	[July 10 OTC] [numeric](18, 2) NULL,
	[Brand Totals] [float] NULL,
	[Generic Totals] [float] NULL,
	[OTC Totals] [float] NULL,
	[Grand Totals] [float] NULL
) ON [PRIMARY]
GO
