USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_delete]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_delete](
	[pmid] [int] NOT NULL,
	[id] [varchar](50) NULL
) ON [PRIMARY]
GO
