USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[ObjectList_RSE]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectList_RSE](
	[ObjectName] [varchar](255) NULL
) ON [PRIMARY]
GO
