USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[Planograms]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planograms](
	[AAP Acct No] [nvarchar](50) NULL,
	[API Acct No] [nvarchar](50) NULL,
	[Planogram] [nvarchar](50) NULL
) ON [PRIMARY]
GO
