USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PM_CH_AnnualAdminFee_2013]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CH_AnnualAdminFee_2013](
	[date] [varchar](10) NOT NULL,
	[extsales] [float] NULL,
	[pmid] [varchar](50) NULL
) ON [PRIMARY]
GO
