USE [PharmacyMaster]
GO
/****** Object:  View [dbo].[v_Addresses]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Addresses]
AS
SELECT     TOP (100) PERCENT AM1.PMID, AM1.Address AS [PHYSICAL ADDRESS], AM1.Address2 AS [PHYSICAL ADDRESS2], AM1.City AS [PHYSICAL CITY], 
                      AM1.State AS [PHYSICAL STATE], AM1.Zip AS [PHYSICAL ZIP], AM1.County AS [PHYSICAL COUNTY], AM2.Address AS [MAILING ADDRESS], 
                      AM2.Address2 AS [MAILING ADDRESS2], AM2.City AS [MAILING CITY], AM2.State AS [MAILING STATE], AM2.Zip AS [MAILING ZIP], 
                      AM2.County AS [MAILING COUNTY], AM3.Address AS [FINANCIAL ADDRESS], AM3.Address2 AS [FINANCIAL ADDRESS2], AM3.City AS [FINANCIAL CITY], 
                      AM3.State AS [FINANCIAL STATE], AM3.Zip AS [FINANCIAL ZIP], AM3.County AS [FINANCIAL COUNTY]
FROM         dbo.PM_AddressMaster AS AM1 LEFT OUTER JOIN
                      dbo.PM_AddressMaster AS AM2 ON AM2.PMID = AM1.PMID AND AM2.Address_Type_Id = 2 LEFT OUTER JOIN
                      dbo.PM_AddressMaster AS AM3 ON AM3.PMID = AM1.PMID AND AM3.Address_Type_Id = 3
WHERE     (AM1.Address_Type_Id = 1)
ORDER BY AM1.PMID

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AM1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 209
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AM2"
            Begin Extent = 
               Top = 6
               Left = 247
               Bottom = 121
               Right = 418
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AM3"
            Begin Extent = 
               Top = 6
               Left = 456
               Bottom = 121
               Right = 627
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Addresses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Addresses'
GO
