USE [PharmacyMaster]
GO
/****** Object:  View [dbo].[v_COGStore]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_COGStore]
AS
SELECT     MIN(dbo.v_AAPAccountsVend.DEA) AS DEA, dbo.v_AAPAccountsVend.NCPDP, MIN(dbo.PM_CHAccounts_ADJ.CurrCHCOG) AS [Default Buy Plan %], 
                      25677 AS ContractGroupNo, MIN(dbo.v_AAPAccountsVend.VendAcctNum) AS VendAcctNum, dbo.PM_CHAccounts_ADJ.LastUpdate AS LoadDate
FROM         dbo.v_AAPAccountsVend LEFT OUTER JOIN
                      dbo.PM_CHAccounts_ADJ ON dbo.v_AAPAccountsVend.PMID = dbo.PM_CHAccounts_ADJ.PMID
WHERE     (dbo.PM_CHAccounts_ADJ.LastUpdate IN
                          (SELECT     MAX(LastUpdate) AS Expr1
                            FROM          dbo.PM_CHAccounts_ADJ AS PM_CHAccounts_1
                            WHERE      (PMID = dbo.v_AAPAccountsVend.PMID)))
GROUP BY dbo.v_AAPAccountsVend.NCPDP, dbo.PM_CHAccounts_ADJ.LastUpdate
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_AAPAccountsVend"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 299
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PM_CHAccounts_ADJ"
            Begin Extent = 
               Top = 6
               Left = 337
               Bottom = 121
               Right = 539
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_COGStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_COGStore'
GO
