USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[Xeloda]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xeloda](
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_NO] [nvarchar](255) NULL,
	[NABP] [varchar](50) NULL
) ON [PRIMARY]
GO
