USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[Rx30ClaimsStores]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx30ClaimsStores](
	[Pharm ID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
