USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[delete_RLGL081216]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_RLGL081216](
	[Date0] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Login] [nvarchar](255) NULL,
	[role] [nvarchar](255) NULL,
	[data] [nvarchar](255) NULL
) ON [PRIMARY]
GO
