USE [PharmacyMaster]
GO
/****** Object:  View [dbo].[vtmp_InSLX_HayesDir_Deleted]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtmp_InSLX_HayesDir_Deleted]
AS 
SELECT Col.*, CM.Created, CM.Modified, DD.Deleted FROM  (SELECT PrimaryKey
, 
 Max(Case ColumnName WHEN '[Name] ' THEN LastValue ELSE '' END) AS [Name], 
 Max(Case ColumnName WHEN '[City] ' THEN LastValue ELSE '' END) AS [City], 
 Max(Case ColumnName WHEN '[State] ' THEN LastValue ELSE '' END) AS [State], 
 Max(Case ColumnName WHEN '[phone] ' THEN LastValue ELSE '' END) AS [phone], 
 Max(Case ColumnName WHEN '[storenum] ' THEN LastValue ELSE '' END) AS [storenum], 
 Max(Case ColumnName WHEN '[Account] ' THEN LastValue ELSE '' END) AS [Account], 
 Max(Case ColumnName WHEN '[City_SLX] ' THEN LastValue ELSE '' END) AS [City_SLX], 
 Max(Case ColumnName WHEN '[State_SLX] ' THEN LastValue ELSE '' END) AS [State_SLX], 
 Max(Case ColumnName WHEN '[MainPhone] ' THEN LastValue ELSE '' END) AS [MainPhone]
  FROM (Select PrimaryKey, ColumnName, NewValue as LastValue from dbo.audit  
  		 Where Operation IN ('i', 'u') 
  				AND AuditID IN (
  					Select Max(AuditID)
  				  FROM dbo.audit a
  						JOIN (SELECT TableName, PrimaryKey FROM dbo.audit where operation = 'd' AND TableName = 'dbo.tmp_InSLX_HayesDir') d
  						  on a.tablename = d.tablename and a.primarykey = d.primarykey
  					  GROUP BY a.TableName, a.PrimaryKey, a.ColumnName )) q
  GROUP BY PrimaryKey) Col
  JOIN 
  (SELECT a.TableName, a.PrimaryKey, Min(AuditDate) as Created, Max(AuditDate) as Modified
  			  FROM dbo.Audit a
  				JOIN (SELECT TableName, PrimaryKey FROM dbo.audit where operation = 'd' AND TableName = 'dbo.tmp_InSLX_HayesDir') d
  					on a.tablename = d.tablename and a.primarykey = d.primarykey
  			  Where Operation IN ('i', 'u')
  			  GROUP BY a.TableName, a.PrimaryKey ) CM
  			ON Col.PrimaryKey = CM.PrimaryKey
      JOIN 
  		(SELECT PrimaryKey, AuditDate as Deleted 
              FROM dbo.audit 
              WHERE operation = 'd' 
              AND TableName = 'dbo.tmp_InSLX_HayesDir') DD
  			ON Col.PrimaryKey = DD.PrimaryKey
GO
