USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippRFOwner06202014]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippRFOwner06202014](
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[First Name] [nvarchar](50) NULL,
	[Last Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Level of Access] [nvarchar](50) NULL,
	[EQuIPP Group ID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
