USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippUserListHist_July16]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippUserListHist_July16](
	[NCPDP] [varchar](20) NULL
) ON [PRIMARY]
GO
