USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[NCPDPProviderInformation]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCPDPProviderInformation](
	[NCPDP] [nvarchar](7) NULL,
	[Legal Business Name] [nvarchar](60) NULL,
	[Name] [nvarchar](60) NULL,
	[Store Number] [nvarchar](10) NULL,
	[Physical Location Address 1] [nvarchar](55) NULL,
	[Physical Location Address 2] [nvarchar](55) NULL,
	[Physical Location City] [nvarchar](30) NULL,
	[Physical Location State Code] [nvarchar](2) NULL,
	[Physical Location Zip code] [nvarchar](9) NULL,
	[Physical Location Phone Number] [nvarchar](10) NULL,
	[Physical Location Extension] [nvarchar](5) NULL,
	[Physical Location FAX] [nvarchar](10) NULL,
	[Physical Location E-Mail Address] [nvarchar](50) NULL,
	[Physical Location Cross Street or Directions] [nvarchar](50) NULL,
	[Physical Location County or Parish] [nvarchar](5) NULL,
	[Physical Location MSA] [nvarchar](4) NULL,
	[Physical Location PMSA] [nvarchar](4) NULL,
	[Physical Location 24 Hour Operation Flag] [nvarchar](1) NULL,
	[Physical Location Provider Hours] [nvarchar](35) NULL,
	[Physical Location Accepts E-Prescriptions] [nvarchar](1) NULL,
	[Physical Location Delivery Service] [nvarchar](1) NULL,
	[Physical Location Compounding Service] [nvarchar](1) NULL,
	[Physical Location Drive-up Window] [nvarchar](1) NULL,
	[Physical Location Durable Medical Equipment] [nvarchar](1) NULL,
	[Physical Location Congressional Voting District] [nvarchar](4) NULL,
	[Physical Location Language Code 1] [nvarchar](2) NULL,
	[Physical Location Language Code 2] [nvarchar](2) NULL,
	[Physical Location Language Code 3] [nvarchar](2) NULL,
	[Physical Location Language Code 4] [nvarchar](2) NULL,
	[Physical Location Language Code 5] [nvarchar](2) NULL,
	[Physical Location Handicap Access Flag] [nvarchar](1) NULL,
	[Physical Location Store Open Date] [nvarchar](8) NULL,
	[Physical Location Store Closure Date] [nvarchar](8) NULL,
	[Mailing Address 1] [nvarchar](55) NULL,
	[Mailing Address 2] [nvarchar](55) NULL,
	[Mailing Address City] [nvarchar](30) NULL,
	[Mailing Address State Code] [nvarchar](2) NULL,
	[Mailing Address Zip Code] [nvarchar](9) NULL,
	[Contact Last Name] [nvarchar](20) NULL,
	[Contact First Name] [nvarchar](20) NULL,
	[Contact Middle Initial] [nvarchar](1) NULL,
	[Contact Title] [nvarchar](30) NULL,
	[Contact Phone Number] [nvarchar](10) NULL,
	[Contact Extension] [nvarchar](5) NULL,
	[Contact E-mail Address] [nvarchar](50) NULL,
	[Dispenser Class Code] [nvarchar](2) NULL,
	[Primary Dispenser Type Code] [nvarchar](2) NULL,
	[Secondary Dispenser Type Code] [nvarchar](2) NULL,
	[Tertiary Dispenser Type Code] [nvarchar](2) NULL,
	[Medicare Provider (supplier) ID] [nvarchar](10) NULL,
	[NPI] [nvarchar](10) NULL,
	[DEA] [nvarchar](12) NULL,
	[Federal Tax ID Number] [nvarchar](15) NULL,
	[State License Number] [nvarchar](20) NULL,
	[State Income Tax ID NUmber] [nvarchar](15) NULL,
	[Delete Date] [nvarchar](8) NULL,
	[Transaction Code] [nvarchar](1) NULL,
	[Transaction Date] [nvarchar](8) NULL,
	[Filler] [nvarchar](108) NULL,
	[EndLine] [nvarchar](2) NULL
) ON [PRIMARY]
GO
