USE [PharmacyMaster]
GO
/****** Object:  View [dbo].[v_managedcare]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_managedcare]
AS
SELECT     MC.PMID, MC.MCEffectiveDate AS 'MCEFFECTIVE DATE', MC.MCQuitDate AS 'MCQUIT DATE', MC.ChainCode AS 'CHAIN CODE', 
                      MC.McQuitReasonInternal AS 'QUIT REASON INTERNAL', MC.MCNews_EmailAddress AS 'MCNEWS EMAIL ADDRESS', 
                      MC.emailMCNews AS 'MANAGED CARE NEWS OPT IN', MOD.ModType AS 'MOD TYPE', MOD.ModDate AS 'MOD DATE', 
                      MOD.Reason AS 'MOD REASON', MP.ProgramID AS 'MEMBER PROGRAM ID',
                          (SELECT     Description
                            FROM          dbo.PM_Programs
                            WHERE      (ProgramID = MP.ProgramID)) AS 'MEMBER PROGRAM DESCRIPTION', MP.StartDate AS 'MEMBER PROGRAM START DATE', 
                      MP.EndDate AS 'MEMBER PROGRAM END DATE'
FROM         dbo.PM_ManagedCare AS MC LEFT OUTER JOIN
                      dbo.PM_Modifications AS MOD ON MOD.PMID = MC.PMID LEFT OUTER JOIN
                      dbo.PM_MemberPrograms AS MP ON MP.PMID = MC.PMID

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MC"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MOD"
            Begin Extent = 
               Top = 6
               Left = 267
               Bottom = 121
               Right = 419
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MP"
            Begin Extent = 
               Top = 6
               Left = 457
               Bottom = 121
               Right = 609
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_managedcare'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_managedcare'
GO
