USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[rebates_UD2008-10]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rebates_UD2008-10](
	[pmid] [float] NULL,
	[check_amount] [float] NULL,
	[rebate] [nvarchar](255) NULL
) ON [PRIMARY]
GO
