USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[CurrConfProgramID]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrConfProgramID](
	[PID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
