USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[RBCReg051010]    Script Date: 12/22/2020 7:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBCReg051010](
	[Division] [float] NULL,
	[AccountNumber] [float] NULL,
	[AccountName] [varchar](255) NULL,
	[Affiliation] [varchar](255) NULL,
	[RegLastName] [varchar](255) NULL,
	[RegFirstName] [varchar](255) NULL,
	[DEA] [varchar](255) NULL
) ON [PRIMARY]
GO
