USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[partnerlevel]    Script Date: 12/22/2020 7:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partnerlevel](
	[PARTNER_LEVEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[LABEL] [varchar](255) NULL,
	[DESCRIPTION] [varchar](2048) NULL,
	[ORDER] [int] NULL,
 CONSTRAINT [PK_partnerlevel] PRIMARY KEY CLUSTERED 
(
	[PARTNER_LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
