USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PM_CHPayTerms]    Script Date: 12/22/2020 7:35:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CHPayTerms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PayTerms] [nvarchar](255) NULL,
	[PayTermsDesc] [nvarchar](255) NULL,
 CONSTRAINT [PK_PM_CHPayTerms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
