USE [API]
GO
/****** Object:  Table [dbo].[RSE_20181029]    Script Date: 12/22/2020 6:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RSE_20181029](
	[APISalesDetailID] [int] NOT NULL,
	[InvoiceDate] [datetime] NULL,
 CONSTRAINT [CPK_2] PRIMARY KEY CLUSTERED 
(
	[APISalesDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
