USE [API]
GO
/****** Object:  StoredProcedure [dbo].[usp_Order_SalesDetal_XRef_Load]    Script Date: 12/22/2020 6:09:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[usp_Order_SalesDetal_XRef_Load]

AS

SET NOCOUNT ON;

BEGIN

	INSERT INTO API.[dbo].[Order_SalesDetal_XRef]([SalesDetailID], [OrderID])
	SELECT [SalesDetailID], [OrderID]
	FROM API.[Staging].[Order_SalesDetal_XRef]

END

GO
